<template>
  <div class="app-container">

    <div class="row">
      <div class="col-12">
        <h1>Оформление покупки</h1>

        <el-form>

          <el-form-item>
            <div class="row">

              <md-input
                v-for="field in checkoutData"
                :key="field.id"
                v-model="selectParams[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
                :multiple="field.multiple"
                class="col-md-6 col-lg-3 mb-4 inpit_elem"
                @change="getInfo"
              >
                {{ field.title }}
              </md-input>
              <client-filter
                title="Покупатель"
                class="col-md-6 col-lg-3 mb-4 inpit_elem"
                @change="selectParams['client'] = $event; getInfo()"
              />
              <client-filter
                title="Кто привел"
                class="col-md-6 col-lg-3 mb-4 inpit_elem"
                @change="selectParams['recommends'] = $event; getInfo()"
              />
              <prod-filter
                v-if="selectParams['shop'] && selectedClient"
                :products="productsList"
                :categories="categoryByIDList"
                class="col-lg-8 col-xl-9 mb-4"
                @change="handleProdFIlter"
              />

            </div>
          </el-form-item>

        </el-form>

        <div v-if="selectedClient">
          <h4>Информация о покупателе</h4>
          <el-table :data="[selectedClient]" border fit highlight-current-row style="width: 100%">
            <el-table-column align="center" label="Card id">
              <span>{{ selectedClient.card_id }}</span>
            </el-table-column>

            <el-table-column align="center" label="Имя">
              <div>{{ selectedClient.name }}</div>
              <div>{{ selectedClient.surname }}</div>
            </el-table-column>

            <el-table-column align="center" label="Скидка, %">
              <span>{{ selectedClient.discount }}</span>
            </el-table-column>

            <el-table-column align="center" label="Cashback, BYN">
              <span>{{ selectedClient.cashback }}</span>
            </el-table-column>

            <el-table-column align="center" label="Дата рождения">
              <span v-if="selectedClient.birthDate">{{ selectedClient.birthDate }}</span>
            </el-table-column>

            <el-table-column align="center" label="Размер брюк">
              <div v-if="selectedClient.trouserSize.length">
                <div
                  v-for="(size, idx) in selectedClient.trouserSize"
                  :key="idx"
                >
                  {{ size }}
                </div>
              </div>
            </el-table-column>

            <el-table-column align="center" label="Размер рубашки">
              <div v-if="selectedClient.shirtSize.length">
                <div
                  v-for="(size, idx) in selectedClient.shirtSize"
                  :key="idx"
                >
                  {{ size }}
                </div>
              </div>
            </el-table-column>

            <el-table-column align="center" label="Размер обуви">
              <div v-if="selectedClient.shoeSize.length">
                <div
                  v-for="(size, idx) in selectedClient.shoeSize"
                  :key="idx"
                >
                  {{ size }}
                </div>
              </div>
            </el-table-column>
            <el-table-column align="center" label="	Как пришел">
              <span v-if="selectedClient.found_out">{{ selectedClient.found_out }}</span>
            </el-table-column>

            <el-table-column align="center" label="Комментарий">
              <span v-if="selectedClient.comment">{{ selectedClient.comment }}</span>
            </el-table-column>

            <el-table-column align="center" label="">
              <router-link :to="'user/'+selectedClient.id+'/clientCard'" class="main_btn"><i class="el-icon-edit" /></router-link>
            </el-table-column>

            <el-table-column align="center" label="">
              <router-link :to="'user/'+selectedClient.id+'/history'" class="main_btn">История покупок
              </router-link>
            </el-table-column>

          </el-table>
        </div>

        <div v-if="selectedProducts">
          <h4>Товары</h4>
          <el-table :data="selectedProducts" border fit highlight-current-row style="width: 100%">

            <el-table-column align="center" label="Изображение">
              <template slot-scope="scope">
                <img :src="scope.row.img.preview_img" alt="Изображение товара" class="prod_preview_img">
              </template>
            </el-table-column>

            <el-table-column align="center" label="Артикул">
              <template slot-scope="scope">
                <span>{{ scope.row.article }}</span>
              </template>
            </el-table-column>

            <el-table-column align="center" label="Название товара">
              <template slot-scope="scope">
                <span>{{ scope.row.name }}</span>
              </template>
            </el-table-column>

            <el-table-column align="center" label="Цвет">
              <template slot-scope="scope">
                <span>{{ scope.row.color }}</span>
              </template>
            </el-table-column>

            <el-table-column align="center" label="Размер">
              <template slot-scope="scope">
                {{ scope.row.sizeCurrent }}
                <!--                <md-input-->
                <!--                  field-type="select"-->
                <!--                  :required="true"-->
                <!--                  :multiple="true"-->
                <!--                  :max="String(quantProds[scope.row.id])"-->
                <!--                  class="w-100"-->
                <!--                  style="margin-bottom: 7px;"-->
                <!--                  @change="checkSizeValid($event); setProdSizes($event, scope.row.id)"-->
                <!--                />-->
              </template>

            </el-table-column>

            <el-table-column align="center" label="Количество">
              <template slot-scope="scope">
                <input
                  v-model="quantProds[scope.row.id]"
                  type="text"
                  class="el-input__inner"
                  @change="setProdQuantity($event, scope.row.id)"
                >
              </template>
            </el-table-column>

            <el-table-column align="center" label="Цена за штуку, BYN">
              <template slot-scope="scope">
                <span>{{ scope.row.price }}</span>
              </template>
            </el-table-column>

            <el-table-column align="center" label="Сумма, BYN">
              <template slot-scope="scope">
                <input
                  v-if="multiprice"
                  v-model="multiprice[scope.row.id]"
                  type="text"
                  :placeholder="scope.row.price"
                  class="el-input__inner"
                  @change="setProdMultiprice($event, scope.row.id)"
                >
              </template>
            </el-table-column>

          </el-table>
        </div>
        <div v-if="selectedProducts" class="row justify-content-end mt-4 mb-2">

          <md-input
            v-for="field in cashbackFields"
            :key="field.id"
            v-model="cashback"
            :field-type="field.fieldType"
            :options="field.options"
            :name="field.title"
            :required="field.required"
            :type="field.type"
            :mask="field.mask"
            :minlength="field.min"
            :placeholder="field.placeholder"
            :multiple="field.multiple"
            class="col-md-6 col-lg-3 mb-4 inpit_elem"
          >
            {{ field.title }}
          </md-input>
          <md-input
            v-for="field in totalFields"
            :key="field.id"
            v-model="total"
            :field-type="field.fieldType"
            :options="field.options"
            :name="field.title"
            :required="field.required"
            :type="field.type"
            :mask="field.mask"
            :minlength="field.min"
            :placeholder="field.placeholder"
            :multiple="field.multiple"
            class="col-md-6 col-lg-3 mb-4 inpit_elem"
          >
            {{ field.title }}
          </md-input>
        </div>

        <div
          class="d-flex w-100 mb-4 inpit_elem"
        >
          <button
            :class="{disabled: !order || !sizesValid || !isValid}"
            class="pan-btn blue-btn ml-auto"
            @click="submit"
          >
            Оформить
          </button>
        </div>

        <!--todo DEL-->
        <!--                <h2 style="color: green">prodsOrder: {{ prodsOrder }}</h2>-->
        <!--                <hr>-->
        <!--                <h2 style="color: orangered">-->
        <!--                  total: {{ total }}-->
        <!--                </h2>-->
        <!--                <hr>-->
        <!--                <h3>userCashback: {{ userCashback }}</h3>-->
        <!--                <hr>-->
        <!--                <h3>multiprice: {{ multiprice }}</h3>-->
        <!--                <h3>quantProds: {{ quantProds }}</h3>-->
        <!--                <hr>-->
        <!--                <h3>selectedProducts: {{ selectedProducts }}</h3>-->
        <!--                <hr>-->
        <!--                <h3>selectedClient: {{ selectedClient }}</h3>-->
        <!--                <hr>-->
        <!--                <h3>order: {{ order }}</h3>-->

      </div>
    </div>
  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import prodFilter from '@/components/MDinput/prodFilterSize'
import clientFilter from '@/components/MDinput/clientFilter'
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchShops } from '@/api/shops'
import { addOrder } from '@/api/orders'
import { fetchProductByShopID } from '@/api/prod'
import { fetchClientsList } from '@/api/my_client_list'
import { fetchClient } from '@/api/my_client_list'
import { fetchCategoriesList } from '@/api/categories'
import { getManagers } from '@/api/users'

export default {
  name: 'History',
  components: {
    MdInput,
    prodFilter,
    clientFilter
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      categoryByIDList: {},
      isValid: true,
      multipriceSet: {},
      quantProds: {},
      sizesValid: true,
      shops: null,
      productsList: null,
      clients: null,
      managers: null,
      selectedClient: null,
      selectedProducts: null,
      selectParams: {
        date: null,
        shop: null,
        products: null,
        client: null,
        recommends: null,
        manager: this.$store.state.login.loginUser.user_id
      },
      quantity: '',
      totalSet: 0,
      cashbackSet: null,
      CASHBACK: 3 // global site cashback
    }
  },
  computed: {
    prodsOrder() {
      if (!this.selectedProducts || !this.selectedProducts.length) return null

      const profile_id = this.selectedClient.user_id
      const card_id = this.selectedClient.card_id
      const cashback = parseFloat(this.cashback)
      const sale = this.selectedClient.discount
      const shop = this.selectParams.shop
      const date = this.selectParams.date
      const total = this.total
      const recommend = this.selectParams.recommends
      const manager = this.selectParams.manager

      const order = {
        profile_id,
        card_id,
        cashback,
        date,
        recommend,
        manager,
        order_products: [],
        // payment: 2,
        sale,
        shop,
        // status: 1,
        total
      }
      order.order_products = this.selectedProducts.map(prod => {
        return {
          article: prod.article,
          category_id: prod.category,
          color: prod.color,
          // comment: "Some data",
          // id: prod.id,
          // order_id: 19,
          price: prod.price,
          product_id: prod.id,
          quantity: this.quantProds[prod.id],
          size: prod.size,
          title: prod.name
        }
      })
      return order
    },
    cashback: {
      get: function() {
        if (!this.total) return 0

        const procent = this.cashbackSet || (this.total / 100 * this.CASHBACK).toFixed(2)

        return procent
      },
      set: function(val) {
        this.cashbackSet = val
      }
    },
    multiprice: {
      get: function() {
        if (!this.selectedProducts || !this.quantProds || !Object.keys(this.quantProds).length || !this.priceProds || !Object.keys(this.priceProds).length) return {}

        const result = {}

        this.selectedProducts.map(prod => {
          const id = prod.id
          const qantity = this.quantProds[id] || 1
          const price = this.priceProds[id]
          let total = (qantity * price)

          if (total < 0 || isNaN(total)) total = 0

          result[prod.id] = +total
        })

        // eslint-disable-next-line
          this.multipriceSet = result
        return result
      }
    },
    priceProds() {
      if (!this.selectedProducts) return null

      const result = {}

      this.selectedProducts.map(prod => {
        result[prod.id] = prod.price
      })

      return result
    },
    total: {
      get: function() {
        if (!this.multiprice) return 0

        if (this.totalSet) return this.totalSet

        let totalSum = 0

        for (const item in this.multiprice) {
          totalSum += +this.multiprice[item]
        }

        // if no changes in quantity => all computed is empty - calculate default summary:
        if (!this.multiprice || !this.multiprice || !Object.keys(this.multiprice).length && this.selectedProducts) {
          this.selectedProducts.map(prod => {
            totalSum += +prod.price
          })
        }

        return totalSum
      },
      set: function(val) {
        this.totalSet = val
      }
    },
    order() {
      if (!this.selectedProducts || !this.selectedClient || !Object.keys(this.quantProds).length) return null

      // all prods sizes set flag
      // eslint-disable-next-line
        this.sizesValid = true

      const prodsID = this.selectedProducts.map(prod => {
        return prod.id
      })

      const orderObj = {
        id: Date.now(),
        client_id: this.selectedClient.id,
        prod_id: prodsID,
        total: this.total
      }

      prodsID.map(id => {
        const priceDefault = this.selectedProducts.map(prod => {
          if (prod.id === id) {
            return prod.price
          }
        }).filter(item => {
          if (item) return item
        })[0]

        orderObj[id] = {
          quantity: this.quantProds[id] || 1,
          price: this.priceProds[id] || priceDefault,
          packPrice: (this.quantProds[id] || 1) * (this.priceProds[id] || priceDefault)
        }
      })

      return orderObj
    },
    checkoutData() {
      return [
        {
          id: 1,
          fieldType: 'calendar',
          name: 'date',
          required: false,
          title: 'Дата'
        },
        {
          id: 2,
          fieldType: 'select',
          name: 'shop',
          options: this.inputShops,
          title: 'Магазин',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        },
        {
          id: 3,
          fieldType: 'select',
          name: 'manager',
          options: this.managers,
          title: 'Менеджер',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        }
      ]
    },
    prodSelectFields() {
      return [
        {
          id: 7,
          fieldType: 'select',
          name: 'products',
          options: this.inputProds,
          title: 'Товар',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    totalFields() {
      return [
        {
          id: 't1',
          fieldType: 'text',
          name: 'total',
          title: 'Итоговая сумма',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    cashbackFields() {
      return [
        {
          id: 'c1',
          fieldType: 'text',
          name: 'cashback',
          title: 'Начислить cashback',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputProds() {
      if (!this.productsList) {
        return null
      }
      return this.productsList.map(prod => {
        return {
          value: prod.id,
          title: prod.name
        }
      })
    },
    inputClients() {
      if (!this.clients) {
        return null
      }
      return this.clients.map(client => {
        return {
          value: client.id,
          title: client.name + ' ' + client.surname
        }
      })
    },
    inputShops() {
      if (!this.shops) {
        return null
      }
      return this.shops.map(shop => {
        return {
          value: shop.id,
          title: shop.title
        }
      })
    },
    userCashback() {
      if (!this.selectParams.recommends || !this.cashback) return null

      return {
        id: this.selectParams.recommends,
        value: this.cashback
      }
    }
  },
  created() {
    this.getShops()
    this.getProductsByShopID()
    this.getClients()
    this.currentDate()
    this.getCategories()
    this.fetchManagers()
  },
  methods: {
    fetchManagers() {
      getManagers().then(res => {
        this.managers = res.data.map(manager => {
          return {
            title: manager.name,
            value: manager.id
          }
        })
      })
    },
    setProdSizes(val, id) {
      this.order[id]['size'] = val
    },
    handleProdFIlter(val) {
      this.selectParams['products'] = val
      this.getProductsByID()
      if (!val.length) this.isValid = false
    },
    getCategories() {
      fetchCategoriesList().then(res => {
        res.data.map(cat => {
          this.categoryByIDList[cat.id] = cat.title
        })
      })
    },
    checkSizeValid(val) {
      if (val.length) {
        this.isValid = true
      } else {
        this.isValid = false
      }
    },
    submit() {
      addOrder(this.prodsOrder).then(res => {
      })
    },
    setProdMultiprice($event, id) {
      const value = $event.target.value
      this.multipriceSet[id] = value
    },
    currentDate() {
      var today = new Date()
      var dd = String(today.getDate()).padStart(2, '0')
      var mm = String(today.getMonth() + 1).padStart(2, '0') // January is 0!
      var yyyy = today.getFullYear()
      const hh = today.getHours()
      const min = today.getMinutes()

      today = mm + '-' + dd + '-' + yyyy + ' ' + hh + ':' + min

      this.selectParams.date = today
    },
    getShops() {
      fetchShops().then(res => {
        this.shops = res.data
      })
    },
    getClients() {
      fetchClientsList(this.listQuery).then(res => {
        this.clients = res.data.items
      })
    },
    getProductsByShopID() {
      if (!this.selectParams.shop) {
        return null
      }
      fetchProductByShopID(this.selectParams.shop).then(res => { //
        const prods = []

        res.data.items.forEach(prod => {
          prod.size.forEach(size => {
            const newProd = Object.assign({}, prod)
            newProd['titleSize'] = `${prod.name} - размер ${size}`
            newProd['idSize'] = `${prod.id}_${size}`
            newProd['sizeCurrent'] = `${size}`
            prods.push(
              newProd
            )
          })
        })

        this.productsList = prods
      })
    },
    getClientByID() {
      if (!this.selectParams.client) {
        return null
      }
      fetchClient(this.selectParams.client).then(res => {
        this.selectedClient = res.data
      })
    },
    getProductsByID() {
      if (!this.selectParams.products) {
        return null
      }
      this.selectedProducts = this.productsList.filter(prod => {
        return this.selectParams.products.includes(prod.idSize)
      })

      this.selectedProducts.map(prod => {
        //        if (!this.quantProds[prod.id]) {
        if (!this.quantProds[prod.id]) { // set default quantity === 1
          this.quantProds[prod.id] = 1
        }
        //        }
      })
    },
    getInfo() {
      if (this.selectParams.shop) {
        this.getProductsByShopID()
      }
      if (this.selectParams.client) {
        this.getClientByID()
      }
      if (this.selectParams.products) {
        this.getProductsByID()
      }
    },
    setProdQuantity($event, id) {
      const val = $event.target.value
      this.quantProds[id] = val

      // костыль переопределения выбранных продуктов для ререндера таблицы, т.к. v-model не пашет в этом компоненте <table/>
      const temp = this.selectedProducts

      this.selectedProducts = null
      this.selectedProducts = temp
    }
  }
}
</script>

<style lang="scss" scoped>
  .cancel-btn {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .pan-btn {
    margin-top: 24px;
  }
</style>
