<template>
  <div class="custom_inputs_wrapper select_wrap fix_select filter_wrap">
    <div class="selct_title">{{ title }}</div>
    <!--      preloader icon-->
    <!--    <transition name="fade">-->
    <!--      <svg-icon-->
    <!--        v-if="!$store.getters.allClients && !clients.length"-->
    <!--        icon-class="example"-->
    <!--        class="load_icon"-->
    <!--      />-->
    <!--    </transition>-->
    <el-select
      v-model="value"
      :multiple="multiple"
      filterable
      clearable
      remote
      reserve-keyword
      placeholder="Имя | Телефон | card ID"
      class="px-0"
      style="width: 100%;"
      :remote-method="customerOptionsFiltered"
      @change="handleChange"
    >
      <el-option
        v-for="item in clientOptions"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
  </div>
</template>

<script>
import { fetchClientsFiltered } from '@/api/my_client_list'

export default {
  props: {
    clients: {
      type: Array,
      default() {
        return []
      }
    },
    title: {
      type: String,
      default: 'Клиент'
    },
    multiple: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      clientOptions: null,
      value: null
    }
  },
  methods: {
    customerOptionsFiltered(query) {
      console.log(query)

      if (query.length > 2) {
        fetchClientsFiltered(query).then(res => {
          const filtered = res.data.items

          console.log(filtered)

          if (filtered.length) {
            const result = []
            filtered.map(customer => {
              result.push(
                {
                  value: customer.id,
                  label: `${customer.name} ${customer.surname} | ${customer.phone} | ${customer.card_id}`
                }
              )
            })
            this.clientOptions = result
          }
        })
      }
    },
    handleChange(val) {
      this.$emit('change', val)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "filter";
</style>
