
.load_icon {
  position: absolute;
  z-index: 2;
  bottom: 2px;
  left: 24px;
  width: 32px;
  height: 32px;
  fill: #006ad8;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.filter_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.selct_title {
  margin-bottom: 10px;
  margin-top: -4px !important;
  font-weight: 600;
  color: #9e9e9e;
}
