<template>
  <div class="custom_inputs_wrapper select_wrap fix_select filter_wrap">
    <div class="selct_title">Товар</div>
    <!--    <transition name="fade">-->
    <!--      <svg-icon-->
    <!--        v-if="!$store.getters.allProds && !products.length"-->
    <!--        icon-class="example"-->
    <!--        class="load_icon"-->
    <!--      />-->
    <!--    </transition>-->
    <el-select
      v-model="value"
      multiple
      filterable
      clearable
      remote
      reserve-keyword
      placeholder="Название | Цвет | Размер | Категория | Артикул"
      class="px-0"
      style="width: 100%;"
      :remote-method="prodOptionsFiltered"
      @change="handleChange"
    >
      <el-option
        v-for="item in prodOptions"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
  </div>
</template>

<script>
import { fetchCategoriesList } from '@/api/categories'
import { fetchProductsFiltered } from '@/api/prod'

export default {
  props: {
    products: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      prodOptions: null,
      value: null,
      categories: {}
    }
  },
  mounted() {
    this.getCategories()
  },
  methods: {
    getCategories() {
      fetchCategoriesList().then(res => {
        res.data.map(cat => {
          this.categories[cat.id] = cat.title
        })
      })
    },
    prodOptionsFiltered(query) {
      if (this.products) {
        if (query.length < 3) return

        this.prodOptions = this.filterProds(this.products).filter(prod => {
          if (prod.label.toLowerCase().includes(query.toLowerCase())) return prod
        })
        return
      }

      if (query.length > 2) {
        fetchProductsFiltered(query).then(res => {
          const filtered = res.data.items

          if (filtered.length) {
            this.prodOptions = this.filterProds(filtered)
          }
        })
      }
    },
    filterProds(prodsArr) {
      if (!Array.isArray(prodsArr)) {
        console.error('Продукты должны быть массивом!')
        return null
      }
      const result = []
      prodsArr.map(prod => {
        let prodCats = ''
        if (Object.keys(this.categories).length) {
          for (const i in prod.category) {
            if (+i === 0) {
              prodCats += this.categories[prod.category[i]]
            } else {
              prodCats += ', ' + this.categories[prod.category[i]]
            }
          }
        }
        result.push(
          {
            value: prod.idSize,
            label: `${prod.titleSize} | ${prod.color} | ${prod.size} | ${prodCats} | ${prod.article}`
          }
        )
      })
      return result
    },
    handleChange(val) {
      this.$emit('change', val)
    }
  }
}
</script>

<style lang="scss" scoped>
 @import "filter";
</style>
