<template>
  <div class="app-container">
    <div class="row">
      <div class="col-12">
        <h1>Добавить подкатегорию</h1>

        <div class="row">
          <md-input
            v-for="field in addFields"
            :key="field.id"
            v-model="addFields[field.name]"
            :field-type="field.fieldType"
            :options="field.options"
            :name="field.title"
            :required="field.required"
            :type="field.type"
            :mask="field.mask"
            :minlength="field.min"
            :placeholder="field.placeholder"
            :multiple="field.multiple"
            class="col-md-6 col-lg-3 mb-4"
          >
            {{ field.title }}
          </md-input>

          <div class="col-md-6 col-lg-3 mb-4">
            <button class="pan-btn blue-btn" type="primary">Добавить</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'

export default {
  components: {
    MdInput
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      categories: [
        {
          id: 1,
          name: 'Аксессуары',
          subcategories: [
            {
              id: 4,
              subcatName: 'Бабочки',
              link: 'ba',
              parentCategory: 1
            },
            {
              id: 5,
              subcatName: 'Браслеты',
              link: 'bra',
              parentCategory: 1
            }, {
              id: 6,
              subcatName: 'Галстуки',
              link: 'gal',
              parentCategory: 1
            }
          ]
        },
        {
          id: 2,
          name: 'Обувь',
          subcategories: [
            {
              id: 7,
              subcatName: 'Броги',
              link: 'bro',
              parentCategory: 2
            }, {
              id: 8,
              subcatName: 'Эспадрильи',
              link: 'esp',
              parentCategory: 2
            },
            {
              id: 9,
              subcatName: 'Оксфорды',
              link: 'oks',
              parentCategory: 2
            }
          ]
        },
        {
          id: 3,
          name: 'Одежда',
          subcategories: [
            {
              id: 10,
              subcatName: 'Костюмы',
              link: 'cost',
              parentCategory: 3
            },
            {
              id: 11,
              subcatName: 'Сорочки',
              link: 'sor',
              parentCategory: 3
            },
            {
              id: 12,
              subcatName: 'Трусы',
              link: 'trus',
              parentCategory: 3
            }
          ]
        }
      ]
    }
  },
  computed: {
    inputParents() {
      return this.categories.map(cat => {
        return {
          value: cat.id,
          title: cat.name
        }
      })
    },
    addFields() {
      return [
        {
          id: 13,
          fieldType: 'input',
          type: 'text',
          name: 'name',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 14,
          fieldType: 'input',
          type: 'text',
          name: 'link',
          title: 'Ссылка',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 15,
          fieldType: 'select',
          name: 'parentCategory',
          options: this.inputParents,
          title: 'Родительская категория',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  .pan-btn {
    margin-top: 24px;
  }
</style>
