<template>
  <div class="app-container">
    <div class="row">
      <div class="col-12">
        <div class="row align-items-center">
          <h1 class="col-auto">Категории</h1>
          <div class="col-auto ml-2">
            <router-link
              :to="{name: 'pages', params: {activeTab: 'category'}}"
              class="cat_seo_edit_link"
            >редактировать SEO</router-link>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>Редкатирование подкатегорий:</h3>
          </div>
          <div class="col-md-6">
            <div class="add_btn_wrp mb-4">
              <router-link
                :to="{name: 'addCategory'}"
                class="main_btn"
              >Добавить
              </router-link>
            </div>
          </div>
        </div>
        <el-collapse accordion>

          <el-collapse-item
            v-for="category in categories"
            :key="category.id"
            :title="category.name"
            :name="category.id"
          >
            <div
              v-for="sub in category.subcategories"
              :key="sub.id"
              class="col-12 mb-4"
            >
              <div class="col-6">{{ sub.subcatName }}</div>
              <div class="col-md-6">
                <div class="main_btn" @click="handleModal(sub)">Редактировать</div>
              </div>
            </div>

          </el-collapse-item>

        </el-collapse>

        <el-dialog
          title="Редактировать"
          :visible.sync="editDialogVisible"
          style="min-width: 600px;"
        >

          <div class="col-12">
            <md-input
              v-for="field in editFields"
              :key="field.id"
              v-model="activeSub[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              :multiple="field.multiple"
              class="mb-4"
            >
              {{ field.title }}
            </md-input>

            <h3>SEO поля:</h3>
            <md-input
              v-for="field in seoFields"
              :key="field.id"
              v-model="seoData[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              :multiple="field.multiple"
              class="mb-4"
            >
              {{ field.title }}
            </md-input>

            <h4>SEO текст:</h4>
            <tinymce v-model="seoData['txt']" :height="300" />
          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="editDialogVisible = false">Отменить</el-button>
            <el-button type="primary" @click="editDialogVisible = false">Сохранить</el-button>
          </span>

          <!--todo DEL-->
          <hr>
          <h3>activeCategory: {{ activeCategory }}</h3>

        </el-dialog>
      </div>
    </div>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import Tinymce from '@/components/Tinymce'
import { userDataMixin } from '@/mixins/custom_mixin'

export default {
  components: {
    MdInput,
    Tinymce
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      seoData: {},
      activeSub: {},
      editDialogVisible: false,
      selectParams: {},
      categories: [
        {
          id: 1,
          name: 'Аксессуары',
          subcategories: [
            {
              id: 4,
              subcatName: 'Бабочки',
              link: 'ba',
              parentCategory: 1
            },
            {
              id: 5,
              subcatName: 'Браслеты',
              link: 'bra',
              parentCategory: 1
            }, {
              id: 6,
              subcatName: 'Галстуки',
              link: 'gal',
              parentCategory: 1
            }
          ]
        },
        {
          id: 2,
          name: 'Обувь',
          subcategories: [
            {
              id: 7,
              subcatName: 'Броги',
              link: 'bro',
              parentCategory: 2
            }, {
              id: 8,
              subcatName: 'Эспадрильи',
              link: 'esp',
              parentCategory: 2
            },
            {
              id: 9,
              subcatName: 'Оксфорды',
              link: 'oks',
              parentCategory: 2
            }
          ]
        },
        {
          id: 3,
          name: 'Одежда',
          subcategories: [
            {
              id: 10,
              subcatName: 'Костюмы',
              link: 'cost',
              parentCategory: 3
            },
            {
              id: 11,
              subcatName: 'Сорочки',
              link: 'sor',
              parentCategory: 3
            },
            {
              id: 12,
              subcatName: 'Трусы',
              link: 'trus',
              parentCategory: 3
            }
          ]
        }
      ]
    }
  },
  computed: {
    activeCategory() {
      if (!this.activeSub) {
        console.log('NULL')
        return null
      }

      const sub = this.activeSub
      const result = {
        id: sub.id,
        name: sub.subcatName,
        link: sub.link,
        parentCategory: sub.parentCategory,
        slogan: sub.slogan
      }

      // add seo fields
      if (Object.entries(this.seoData).length) {
        result['seo'] = {}

        for (const prop in this.seoData) {
          result.seo[prop] = this.seoData[prop]
        }
      }

      return result
    },
    inputParents() {
      return this.categories.map(cat => {
        return {
          value: cat.id,
          title: cat.name
        }
      })
    },
    editFields() { // for modal need to update computed property
      return [
        {
          id: 13,
          fieldType: 'input',
          type: 'text',
          name: 'subcatName',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 14,
          fieldType: 'input',
          type: 'text',
          name: 'link',
          title: 'Ссылка',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 15,
          fieldType: 'select',
          name: 'parentCategory',
          options: this.inputParents,
          title: 'Родительская категория',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        },
        {
          id: 16,
          fieldType: 'input',
          type: 'text',
          name: 'slogan',
          title: 'Слоган',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    seoFields() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'title',
          title: 'Title',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'textarea',
          name: 'descr',
          title: 'Describtion',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  methods: {
    handleModal(sub) {
      this.editDialogVisible = true
      this.activeSub = sub
    }
  }
}
</script>

<style lang="scss" scoped>
    .add_btn_wrp {
        text-align: right;
        margin-top: 20px;
    }
  .cat_seo_edit_link {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;

    transition: all .6s;

    &:hover {
      color: rgb(64, 158, 255);
      text-decoration: none;
    }
  }
</style>
