<template>
  <div class="app-container">
    <div class="row">
      <div class="col-12">
        <h1>Настройки</h1>
      </div>

      <div class="col-12">
        <el-tabs v-model="activeName">
          <el-tab-pane label="Теги" name="tags">
            <div class="row">
              <div class="col-6">
                <el-collapse accordion>

                  <el-collapse-item
                    v-for="tagGroup in tagsList"
                    :key="tagGroup.id"
                    :title="tagGroup.title"
                    :name="tagGroup.id"
                  >
                    <div>
                      <dnd-list :list1="tagGroup.tags" :list1-title="tagGroup.title" @deleteEle="deleteTag" />
                    </div>

                  </el-collapse-item>

                </el-collapse>
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputTags"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.tag || !inputParams['tagType']}"
                    @click="addTag"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>

          <el-tab-pane label="Цвета" name="colors">
            <div class="row">
              <div class="col-6">
                <dnd-remove-list
                  :is-color="true"
                  :list1="colorsList"
                  list1-title="Цвета"
                  editable
                  @deleteEle="deleteColor"
                  @save="saveColor"
                />
              </div>
              <div class="col-6">
                <div class="mb-4">
                  <md-input
                    v-for="field in inputColors"
                    :key="field.id"
                    v-model="inputParams[field.name]"
                    :field-type="field.fieldType"
                    :options="field.options"
                    :name="field.title"
                    :required="field.required"
                    :type="field.type"
                    :mask="field.mask"
                    :minlength="field.min"
                    :placeholder="field.placeholder"
                    :multiple="field.multiple"
                    style="flex:1"
                  >
                    {{ field.title }}
                  </md-input>
                </div>
                <div class="d-flex align-items-center">
                  <h4 class="mr-3">Цвет:</h4>
                  <el-color-picker v-model="inputParams['rgb']" color-format="rgb" style="background: #d0e7ff" />
                </div>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams['rgb'] || !inputParams.color}"
                    @click="addColor"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>

          <el-tab-pane label="Размеры" name="size">
            <div class="row">
              <md-input
                v-model="sizeCategory"
                :options="categoryList"
                name="Категория"
                field-type="select"
                :multiple="false"
                class="col-md-6 mt-4"
              />
              <transition>
                <div v-if="sizeCategory" class="custom_inputs_wrapper select_wrap col-md-6 mt-4 ">
                  <div class="selct_title">Добавить размер</div>
                  <div
                    class="d-flex align-items-center"
                  >
                    <el-input v-model="newCatSize" placeholder="Please input" class="mr-2" />
                    <button
                      class="pan-btn blue-btn inputline"
                      :class="{disabled: !newCatSize}"
                      type="primary"
                      @click="createNewSize"
                    >Добавить
                    </button>
                  </div>
                </div>
              </transition>
            </div>

            <div class="d-flex align-items-center">
              <div
                v-for="(size, idx) in activeCatSizes"
                :key="size+idx"
                class="col-auto catSizeItem"
                @click="removeSize(size)"
              >
                {{ size }}
              </div>
            </div>

            <div class="d-flex justify-content-end mt-4">
              <button
                class="pan-btn blue-btn inputline"
                :class="{disabled: !sizeCategory}"
                @click.prevent="updateSizes"
              >Сохранить
              </button>
            </div>

          </el-tab-pane>
          <el-tab-pane label="Магазины" name="shops">
            <div class="row">
              <div class="col-6">
                <dnd-list :list1="shopsList" list1-title="Магазины" @deleteEle="deleteShop" />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputShops"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.shop}"
                    @click="addShop"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Клиенты" name="clients">
            <div class="row">
              <div class="col-6">
                <dnd-list :list1="clientsList" list1-title="Как пришли" @deleteEle="deleteCF" />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputClients"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.client}"
                    @click="addFroms"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Фабрики" name="fabrics">
            <div class="row">
              <div class="col-6">
                <dnd-list :list1="fabricsList" list1-title="Фабрики" @deleteEle="deleteFactory" />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputFabric"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.fabric}"
                    @click="addFabric"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Модели" name="models">
            <div class="row">
              <div class="col-6">
                <dnd-list :list1="modelsList" list1-title="Модели" @deleteEle="deleteModel" />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputModels"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.model || !inputParams.categoryModels || !inputParams.categoryModels.length}"
                    @click="addModel"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Бренды" name="brands">
            <div class="row">
              <div class="col-6">
                <dnd-list :list1="brandsList" list1-title="Бренды" @deleteEle="deleteBrand" />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputBrand"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4">
                  <button class="main_btn" @click.prevent="imagecropperShow =! imagecropperShow">
                    Загрузить таблицу размеров
                  </button>
                </div>

                <image-cropper
                  v-show="imagecropperShow"
                  :key="imagecropperKey"
                  :width="300"
                  :height="300"
                  url="https://httpbin.org/post"
                  lang-type="en"
                  @close="close"
                  @crop-upload-success="cropSuccess"
                />

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.brand || !inputParams.fabricBrand || !inputParams.fabricBrand.length || !inputParams.categoryBrand || !inputParams.categoryBrand.length}"
                    @click="addBrand"
                  >Добавить
                  </button>
                </div>

              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Сезоны" name="seasons">
            <div class="row">
              <div class="col-6">
                <dnd-remove-list
                  :list1="seasonsList"
                  list1-title="Сезоны"
                  editable
                  @deleteEle="removeSeason"
                  @save="updateSeason"
                />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputSeason"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.season || !inputParams.categorySeason || !inputParams.categorySeason.length}"
                    @click="addSeason"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Страны" name="countries">
            <div class="row">
              <div class="col-6">
                <dnd-remove-list
                  :list1="countriesList"
                  list1-title="Страны"
                  editable
                  @deleteEle="removeCountry"
                  @save="updateCountry"
                />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputCountry"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.country || !inputParams.categoryCountry || !inputParams.categoryCountry.length}"
                    @click="addCountry"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="Состав" name="composition">
            <div class="row">
              <div class="col-6">
                <dnd-remove-list
                  :list1="compositionList"
                  list1-title="Состав"
                  editable
                  @deleteEle="removeComposite"
                  @save="updateComposition"
                />
              </div>
              <div class="col-6">
                <md-input
                  v-for="field in inputComposition"
                  :key="field.id"
                  v-model="inputParams[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-12 mb-4"
                >
                  {{ field.title }}
                </md-input>

                <div class="col-12 d-flex mt-4 justify-content-end">
                  <button
                    class="pan-btn blue-btn mt-auto"
                    type="primary"
                    :class="{disabled: !inputParams.composition}"
                    @click="addComposition"
                  >Добавить
                  </button>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane v-if="settingsList" label="Настройки" name="settings">
            <md-input
              v-for="field in inputSettings"
              :key="field.id"
              v-model="settingsList[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              :multiple="field.multiple"
              class="col-12 mb-4 mt-4"
            >
              {{ field.title }}
            </md-input>

            <div class="d-flex w-100 mt-3 mb-5 pb-5">
              <button
                class="pan-btn blue-btn ml-auto"
                @click="submitSubsettings"
              >Сохранить изменения
              </button>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>

  </div>
</template>

<script>
import DndList from './components/DndList'
import DndRemoveList from './components/DndRemoveList'
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'
import ImageCropper from '@/components/ImageCropper'
import { fetchAllTags, removeTag } from '@/api/tags'
import { fetchColors, deleteColors, updateColor } from '@/api/colors'
import { fetchAllSizes, updateSizes } from '@/api/sizes'
import { fetchCategoriesList } from '@/api/categories'
import { fetchShops, removeShop } from '@/api/shops'
import { fetchClientsFroms, removeClientsFroms } from '@/api/my_client_list'
import { fetchFactories, removeFactory } from '@/api/factories'
import { fetchBrands, removeBrand } from '@/api/brands'
import { fetchModels, removeModel } from '@/api/models'
import { fetchSeasons, deleteSeason, updateSeason } from '@/api/seasons'
import { fetchСCountries, deleteCountry, updateCountry } from '@/api/countries'
import { fetchComposition, deleteComposition, updateComp } from '@/api/composition'
import { fetchSettings, saveSettings } from '@/api/settings'

export default {
  components: {
    DndList,
    MdInput,
    ImageCropper,
    DndRemoveList
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      activeName: 'tags',
      categoriesData: null,
      categoryList: null,
      sizeCategory: null,
      activeSettingColor: {},
      editDialogVisible: false,
      imagecropperShow: false,
      imagecropperKey: 0,
      inputParams: {},
      tagsList: null,
      colorsList: null,
      sizesByCatID: null,
      newCatSize: null,
      sizesList: null,
      shopsList: null,
      clientsList: null,
      fabricsList: null,
      brandsList: null,
      seasonsList: null,
      countriesList: null,
      compositionList: null,
      settingsList: null,
      modelsList: null
    }
  },
  computed: {
    activeCatSizes() {
      if (!this.sizesByCatID || !this.sizeCategory) return null

      return this.sizesByCatID[this.sizeCategory]
    },
    inputTags() {
      return [
        {
          id: 3,
          fieldType: 'text',
          name: 'tag',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'select',
          name: 'tagType',
          options: this.tagSelect,
          title: 'Тип',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        }
      ]
    },
    tagSelect() {
      if (!this.tagsList) {
        return null
      }
      return this.tagsList.map(tag => {
        return {
          value: tag.id,
          title: tag.title
        }
      }
      )
    },
    inputSize() {
      return [
        {
          id: 6,
          fieldType: 'text',
          name: 'size',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputShops() {
      return [
        {
          id: 7,
          fieldType: 'text',
          name: 'shop',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputClients() {
      return [
        {
          id: 8,
          fieldType: 'text',
          name: 'client',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputColors() {
      return [
        {
          id: 4,
          fieldType: 'text',
          name: 'color',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputFabric() {
      return [
        {
          id: 4,
          fieldType: 'text',
          name: 'fabric',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    fabricSelect() {
      if (!this.fabricsList) {
        return null
      }
      return this.fabricsList.map(fabric => {
        return {
          value: fabric.id,
          title: fabric.title
        }
      }
      )
    },
    inputBrand() {
      return [
        {
          id: 4,
          fieldType: 'text',
          name: 'brand',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'textarea',
          name: 'descriptionBrand',
          title: 'Описание',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: 'Описание'
        },
        {
          id: 6,
          fieldType: 'select',
          name: 'fabricBrand',
          options: this.fabricSelect,
          title: 'Фабрика',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'select',
          name: 'categoryBrand',
          options: this.categoryList,
          title: 'Категория',
          required: true,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputSeason() {
      return [
        {
          id: 4,
          fieldType: 'text',
          name: 'season',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'select',
          name: 'categorySeason',
          options: this.categoryList,
          title: 'Категория',
          required: true,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputModels() {
      return [
        {
          id: 4,
          fieldType: 'text',
          name: 'model',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'select',
          name: 'categoryModels',
          options: this.categoryList,
          title: 'Категория',
          required: true,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputCountry() {
      return [
        {
          id: 4,
          fieldType: 'text',
          name: 'country',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'select',
          name: 'categoryCountry',
          options: this.categoryList,
          title: 'Категория',
          required: true,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputComposition() {
      return [
        {
          id: 4,
          fieldType: 'text',
          name: 'composition',
          title: 'Название',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputSettings() {
      return [
        {
          id: 6,
          fieldType: 'text',
          name: 'smsApiKey',
          title: 'SMS api',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'text',
          name: 'smsApiUser',
          title: 'SMS user',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 8,
          fieldType: 'text',
          name: 'birthdayStamp',
          title: 'Шаблон рассылки в день рождения',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 9,
          fieldType: 'text',
          name: 'cashbackStamp',
          title: 'Шаблон начисления кэшбека',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 10,
          fieldType: 'text',
          name: 'cashbackProcent',
          title: '% кэшбека',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  created() {
    this.getTags()
    this.getColors()
    this.getSizes()
    this.getCategories()
    this.getShops()
    this.getClients()
    this.getFactories()
    this.getBrands()
    this.getSeasons()
    this.getCountries()
    this.getComposite()
    this.getSettings()
    this.getModels()
  },
  methods: {
    submitSubsettings() {
      saveSettings(this.settingsList.id || 1, this.settingsList).then(() => {
        this.alertEditSuccess()
      })
        .catch(() => this.alertRequestFail())
    },
    updateComposition(el) {
      updateComp(el.id, el).then(() => {
        this.alertEditSuccess()
      })
        .catch(() => this.alertRequestFail())
    },
    updateCountry(el) {
      updateCountry(el.id, el).then(() => {
        this.alertEditSuccess()
      })
        .catch(() => this.alertRequestFail())
    },
    updateSeason(el) {
      updateSeason(el.id, el).then(() => {
        this.alertEditSuccess()
      })
        .catch(() => this.alertRequestFail())
    },
    saveColor(el) {
      updateColor(el.id, el).then(() => {
        this.alertEditSuccess()
      })
        .catch(() => this.alertRequestFail())
    },
    getSettings() {
      fetchSettings().then(res => {
        this.settingsList = res.data[0]
      })
    },
    getComposite() {
      fetchComposition().then(res => {
        this.compositionList = res.data
      })
    },
    getCountries() {
      fetchСCountries().then(res => {
        this.countriesList = res.data
      })
    },
    getSeasons() {
      fetchSeasons().then(res => {
        this.seasonsList = res.data
      })
    },
    removeComposite(ele) {
      deleteComposition(ele.id).then(
        () => {
          this.compositionList.forEach(item => {
            if (item.id === ele.id) {
              const index = this.compositionList.indexOf(item)
              this.compositionList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    removeCountry(ele) {
      deleteCountry(ele.id).then(
        () => {
          this.countriesList.forEach(item => {
            if (item.id === ele.id) {
              const index = this.countriesList.indexOf(item)
              this.countriesList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    removeSeason(ele) {
      deleteSeason(ele.id).then(
        () => {
          this.seasonsList.forEach(item => {
            if (item.id === ele.id) {
              const index = this.seasonsList.indexOf(item)
              this.seasonsList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    getBrands() {
      fetchBrands().then(res => {
        this.brandsList = res.data
      })
    },
    getFactories() {
      fetchFactories().then(res => {
        this.fabricsList = res.data
      })
    },
    deleteBrand(ele) {
      removeBrand(ele.id).then(
        () => {
          this.brandsList.forEach(item => {
            if (item.id === ele.id) {
              const index = this.brandsList.indexOf(item)
              this.brandsList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    deleteFactory(ele) {
      removeFactory(ele.id).then(
        () => {
          this.fabricsList.forEach(fabric => {
            if (fabric.id === ele.id) {
              const index = this.fabricsList.indexOf(fabric)
              this.fabricsList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    deleteCF(ele) {
      removeClientsFroms(ele.id).then(
        () => {
          this.clientsList.forEach(froms => {
            if (froms.id === ele.id) {
              const index = this.shopsList.indexOf(froms)
              this.shopsList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    deleteModel(ele) {
      removeModel(ele.id).then(
        () => {
          this.modelsList.forEach(model => {
            if (model.id === ele.id) {
              const index = this.modelsList.indexOf(model)
              this.modelsList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    getClients() {
      fetchClientsFroms().then(res => {
        this.clientsList = res.data
      })
    },
    getModels() {
      fetchModels().then(res => {
        this.modelsList = res.data
      })
    },
    getShops() {
      fetchShops().then(res => {
        this.shopsList = res.data
      })
    },
    updateSizes() {
      // console.log(this.categoriesData)
      for (const catID in this.sizesByCatID) {
        this.categoriesData.map(cat => {
          if (+cat.category_id === +catID) {
            cat.sizes = this.sizesByCatID[catID]
          }
        })
      }

      const catID = this.sizeCategory
      const data = this.categoriesData.filter(item => {
        if (+item.category_id === +catID) return item
      })[0]

      updateSizes(catID, data).then(
        () => {
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    createNewSize() {
      this.sizesByCatID[this.sizeCategory].push(this.newCatSize)
    },
    removeSize(size) {
      const delIdx = this.activeCatSizes.indexOf(size)
      this.activeCatSizes.splice(delIdx, 1)
    },
    getCategories() {
      fetchCategoriesList().then(res => {
        this.categoryList = res.data.map(cat => {
          return {
            value: cat.id,
            title: cat.title
          }
        })
      })
    },
    getSizes() {
      fetchAllSizes().then(res => {
        this.categoriesData = res.data

        const sizeByCatID = {}
        res.data.map(item => {
          sizeByCatID[item.category_id] = item.sizes
        })
        this.sizesByCatID = sizeByCatID
      })
    },
    getTags() {
      fetchAllTags().then(res => {
        this.tagsList = res.data
      })
    },
    deleteShop(ele) {
      removeShop(ele.id).then(
        () => {
          this.shopsList.forEach(shop => {
            if (shop.id === ele.id) {
              const index = this.shopsList.indexOf(shop)
              this.shopsList.splice(index, 1)
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    deleteTag(ele) {
      removeTag(ele.id).then(
        () => {
          this.tagsList.map(tagGroup => {
            for (const item of tagGroup.tags) {
              if (item.id === ele.id) {
                const index = tagGroup.tags.indexOf(item)
                tagGroup.tags.splice(index, 1)
                break
              }
            }
          })
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    getColors() {
      fetchColors().then(res => {
        this.colorsList = res.data
      })
    },
    deleteColor(ele) {
      deleteColors(ele.id).then(
        () => {
          for (const item of this.colorsList) {
            if (item.id === ele.id) {
              const index = this.colorsList.indexOf(item)
              this.colorsList.splice(index, 1)
              break
            }
          }
          this.alertRemoveSyccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
    },
    cropSuccess(resData) {
      this.imagecropperShow = false
      this.imagecropperKey = this.imagecropperKey + 1
      this.image = resData.files.avatar
    },
    close() {
      this.imagecropperShow = false
    },
    async addColor() {
      if (!this.inputParams.color) return

      var newColor = {
        title: this.inputParams.color,
        rgb: this.inputParams.rgb
      }

      this.inputParams.color = null
      const response = await fetch('http://grizzly-dev.site/api/settings/colors/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newColor)
      })

      if (response.ok) {
        const json = await response.json()
        newColor.id = json.id

        this.colorsList.push(newColor)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addSize() {
      const newSize = {
        title: this.inputParams.size
      }

      this.inputParams.size = null
      const resp = fetch('http://grizzly-dev.site/api/settings/sizes/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newSize)
      })

      if (resp.ok) {
        // const id = resp.json()
        this.sizesList.push(newSize)
      } else {
        console.log(resp)
      }
    },
    async addFroms() {
      if (!this.inputParams.client) return

      var newClient = {
        title: this.inputParams.client
      }

      this.inputParams.client = null
      const response = await fetch('http://grizzly-dev.site/api/settings/froms/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newClient)
      })

      if (response.ok) {
        const json = await response.json()
        newClient.id = json.id

        this.clientsList.push(newClient)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addShop() {
      if (!this.inputParams.shop) return

      const newShop = {
        title: this.inputParams.shop
      }

      this.inputParams.shop = null
      const response = await fetch('http://grizzly-dev.site/api/settings/shops/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newShop)
      })

      if (response.ok) {
        const json = await response.json()
        newShop.id = json.id

        this.shopsList.push(newShop)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addFabric() {
      if (!this.inputParams.fabric) return

      const newFabric = {
        title: this.inputParams.fabric
      }

      this.inputParams.fabric = null
      const response = await fetch('http://grizzly-dev.site/api/settings/factories/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newFabric)
      })

      if (response.ok) {
        const json = await response.json()
        newFabric.id = json.id

        this.fabricsList.push(newFabric)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addBrand() {
      if (!this.inputParams.brand || !this.inputParams.categoryBrand) return

      const newBrand = {
        title: this.inputParams.brand,
        categories: this.inputParams.categoryBrand,
        parentFabric: this.inputParams.fabricBrand,
        description: this.inputParams.descriptionBrand
      }

      this.inputParams.brand = null
      const response = await fetch('http://grizzly-dev.site/api/settings/brands/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newBrand)
      })

      if (response.ok) {
        const json = await response.json()
        newBrand.id = json.id

        this.brandsList.push(newBrand)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addModel() {
      if (!this.inputParams.model || !this.inputParams.categoryModels) return

      const newModel = {
        title: this.inputParams.model,
        categories: this.inputParams.categoryModels
      }

      this.inputParams.model = null
      const response = await fetch('http://grizzly-dev.site/api/settings/models/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newModel)
      })

      if (response.ok) {
        const json = await response.json()
        newModel.id = json.id

        this.modelsList.push(newModel)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addSeason() {
      if (!this.inputParams.season || !this.inputParams.categorySeason) return

      const newSeason = {
        title: this.inputParams.season,
        categories: this.inputParams.categorySeason
      }

      this.inputParams.season = null
      const response = await fetch('http://grizzly-dev.site/api/settings/seasons/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newSeason)
      })

      if (response.ok) {
        const json = await response.json()
        newSeason.id = json.id

        this.seasonsList.push(newSeason)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addCountry() {
      if (!this.inputParams.country || !this.inputParams.categoryCountry) return

      const newCountry = {
        title: this.inputParams.country,
        categories: this.inputParams.categoryCountry
      }

      this.inputParams.country = null
      const response = await fetch('http://grizzly-dev.site/api/settings/countries/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newCountry)
      })

      if (response.ok) {
        const json = await response.json()
        newCountry.id = json.id

        this.countriesList.push(newCountry)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addComposition() {
      const newComposition = {
        title: this.inputParams.composition
      }

      this.inputParams.composition = null
      const response = await fetch('http://grizzly-dev.site/api/settings/compositions/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newComposition)
      })

      if (response.ok) {
        const json = await response.json()
        newComposition.id = json.id

        this.compositionList.push(newComposition)

        this.alertRequestSyccess()
      } else {
        this.alertRequestFail()
      }
    },
    async addTag() {
      let max = 0

      // get ID
      this.tagsList.forEach(function(element) {
        element.tags.forEach(function(sub) {
          if (sub.id > max) {
            max = sub.id
          }
        })
      })

      // get tag category
      const newTagCat = this.inputParams.tagType

      // create new tag
      const newTag = {
        tag_category_id: newTagCat,
        title: this.inputParams.tag
      }

      const response = await fetch('http://grizzly-dev.site/api/settings/tags/store', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(newTag)
      })

      if (response.ok) { // если HTTP-статус в диапазоне 200-299
        // получаем тело ответа (см. про этот метод ниже)
        const json = await response.json()
        newTag.id = json.id
        this.alertRequestSyccess()
        this.tagsList.forEach(function(element) {
          if (element.id === newTagCat) {
            element.tags.push(newTag)
          }
        })
      } else {
        this.alertRequestFail()
      }
    }
  }
}
</script>

<style lang="scss">
  .catSizeItem {
    padding: 6px 20px;
    background: #409eff;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;

    transition: all .3s;

    &:hover {
      background: #960002;
    }
  }
</style>
