<template>
  <div class="app-container">

    <div class="row">
      <div class="col-12">
        <h2>Добавление товара</h2>
      </div>
      <div class="col-12">
        <router-link :to="{name: 'products'}" class="backpage_link mb-3"><span class="icon">&larr;</span><span class="txt"> К списку товаров</span></router-link>
      </div>

      <div
        v-if="product"
        class="col-12"
      >
        <div class="row">
          <div class="col-lg-6 mb-4">
            <img :src="product.img.main_img" :alt="product.name">
          </div>
          <div class="col-lg-6 mb-4">
            <h3 class="mt-0">{{ product.name }}</h3>

            <div class="col-12 d-flex flex-column px-0">

              <md-input
                v-model="newStock['location']"
                field-type="select"
                :options="shops"
                name="Магазин"
                :multiple="false"
                class="col-12 my-2 px-0"
                @change="checkLocationNotEmpty"
              />
              <md-input
                v-model="newSizes"
                field-type="select"
                :options="arrToSelectFormat(this.prodSizes)"
                name="Размер"
                class="col-12 my-2 px-0"
                @remove-tag="removeNewStockSize"
              />
              <div v-for="(size, idx) in newSizes" :key="size+idx" class="d-flex align-items-center">
                <md-input
                  v-model.number="newStock['size'][size]"
                  name="quant"
                  type="number"
                  min="0"
                  class="col-12 my-2 px-0"
                >{{ size }} размер, количество:</md-input>
              </div>

              <div class="d-flex mt-4">
                <button class="pan-btn blue-btn mt-auto ml-auto" type="primary" :class="{disabled: !validToCreate}" @click.prevent="submitProd">Добавить</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <el-table v-loading="listLoading" :data="prodStock" border fit highlight-current-row style="width: 100%" class="fixhead_table">

        <el-table-column v-if="shops" align="center" label="Магазин">
          <template slot-scope="scope">
            {{ filterShops(shops, scope.row.location) }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Размер: Кол-во">
          <template slot-scope="scope">
            <div v-for="(quant, size) in scope.row.size" :key="size">{{ size }}: {{ quant }}</div>
          </template>
        </el-table-column>

      </el-table>

    </div>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchShops } from '@/api/shops'
import { fetchProduct } from '@/api/prod'
import { fetchCategoriesList } from '@/api/categories'
import { storeProdStock, updProdStock } from '@/api/stock'

export default {
  name: 'History',
  components: {
    MdInput
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      prodParams: {
        id: this.$route.params.id
      },
      shops: null,
      sizes: null,
      product: null,
      categories: null,
      listLoading: true,
      newStock: {
        product_id: null,
        location: null,
        size: {}
      },
      newSizes: [],
      LocationNotEmpty: false,
      selectedStockID: null
    }
  },
  computed: {
    validToCreate() {
      const newSizesLength = Object.keys(this.newStock.size).length
      if (!this.newStock.location || !newSizesLength || newSizesLength !== this.newSizes.length) return false

      return true
    },
    prodStock() {
      if (!this.product) return null

      return this.product.product_quantity
    },
    prodSizes() {
      if (!this.categories || !this.product) return null

      const result = this.categories.filter(cat => {
        if (+cat.id === +this.product.category) {
          return cat
        }
      })

      return result[0].sizes
    }
  },
  created() {
    this.getShops()
    this.getSizes()
    this.getCategories()
  },
  methods: {
    filterShops(shops, location) {
      const res = shops.filter(shop => shop.value === location)
      return res.length ? res[0].title : null
    },
    checkLocationNotEmpty($event) {
      const locationID = +$event
      let activeStockArr

      if (this.prodStock) {
        activeStockArr = this.prodStock.filter(stock => {
          if (+stock.location === +locationID) {
            return stock
          }
        })
      }

      if (activeStockArr && activeStockArr.length) this.selectedStockID = activeStockArr[0].id

      this.LocationNotEmpty = false
      this.newSizes = []
      this.newStock.size = {}

      for (let i = 0; i < this.prodStock.length; i++) {
        const stock = this.prodStock[i]

        if (+stock.location === locationID) {
          this.LocationNotEmpty = true

          this.newStock.product_id = stock.product_id
          this.newStock.location = stock.location
          this.newStock.size = stock.size

          for (const size in stock.size) {
            this.newSizes.push(size)
          }

          break
        }
      }
    },
    removeNewStockSize() {
      for (const size in this.newStock.size) {
        if (!this.newSizes.includes(size)) {
          delete this.newStock.size[size]
        }
      }
    },
    submitProd() {
      if (this.LocationNotEmpty) { // upd request
        updProdStock(this.selectedStockID, this.newStock).then(() => this.alertEditSuccess())
          .catch(() => this.alertRequestFail())
      } else { // create request
        storeProdStock(this.newStock).then(res => {
          /* ready to PUT request */
          this.selectedStockID = res.ID
          this.LocationNotEmpty = true
          /* //ready to PUT request */
          this.product.product_quantity.push(this.newStock)
          this.alertRequestSyccess()
        })
          .catch(() => this.alertRequestFail())
      }
    },
    getShops() {
      fetchShops().then(res => {
        this.shops = res.data.map(shop => {
          return {
            value: shop.id,
            title: shop.title
          }
        })
      })
    },
    getSizes() {
      fetchProduct(this.$route.params.id).then(res => {
        this.product = res.data

        this.listLoading = false
        this.newStock.product_id = res.data.product_id
      })
    },
    getCategories() {
      fetchCategoriesList().then(res => {
        this.categories = res.data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .backpage_link {
    font-size: .875em;
    color: #a4a6a9;

    display: inline-flex;
    align-items: center;

    &:hover {
      .txt {
        text-decoration: underline;
      }
    }

    .icon {
      margin-bottom: 2px;
      margin-right: 5px;
    }
  }
  .range_wrapper {
    display: inline-block;
    max-width: 600px;

    .custom_inputs_wrapper {
      max-width: 100px !important;
    }
  }
  .prod_preview_img {
    width: 60px;
    height: 80px;
  }
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
</style>
