<template>
  <div class="app-container">
    <div class="row">
      <div v-if="currentProduct" class="col-12">
        <h2 v-if="$route.params.id">Карточка товара</h2>
        <h2 v-else>Создание товара</h2>
        <!--todo submit on checkbox click-->
        <el-checkbox v-model="currentProduct['isPublished']" class="mb-4">Опубликован</el-checkbox>
        <el-checkbox v-model="currentProduct['isNew']" class="mb-4">Новинка</el-checkbox>
        <el-checkbox v-model="currentProduct['isSale']" class="mb-4">Распродажа</el-checkbox>
        <div v-if="currentProduct.id" class="row">
          <div class="col-12 col-lg-7 mb-5">
            <div v-if="!showPuloadMain || currentProduct.img.main_img" class="main_img_wrap">
              <div
                class="carousel_item_remove_btn"
                @click="removeMainImg"
              />
              <img :src="currentProduct.img.main_img" alt="Главное изображение">
            </div>

            <div v-else>
              <!--todo set action-->
              <el-upload
                action="http://grizzly-dev.site/api/media/product-images/main/store"
                list-type="picture-card"
                name="main_img"
                :data="{product_id : currentProduct.id}"
                :on-success="successUploadMainImg"
                class="my-3"
              >
                <i class="el-icon-plus" />
              </el-upload>
              <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="dialogImageUrl" alt="">
              </el-dialog>
            </div>

            <el-carousel v-if="currentProduct.img.other.length" :interval="4000" type="card" height="200px">
              <el-carousel-item v-for="img in currentProduct.img.other" :key="img.id" class="position-relative">

                <div
                  class="carousel_item_remove_btn"
                  @click="removeOther(img.id)"
                />

                <img :src="img.src" alt="изображение">
              </el-carousel-item>
            </el-carousel>
            <div class="w-100">
              <el-upload
                multiple
                class="upload-demo"
                name="multiple_imgs"
                :data="{product_id : currentProduct.id}"
                action="http://grizzly-dev.site/api/media/product-images/multiple/store"
                :on-remove="otherRemove"
                :on-success="successUploadOther"
                list-type="picture"
              >
                <el-button size="small" type="primary">Загрузить доп. изображения</el-button>
                <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
              </el-upload>
            </div>
          </div>
          <div class="col-12 col-lg-5 mb-3">
            <div class="row align-items-center">
              <md-input
                v-model="currentProduct['barcode']"
                name="code"
                :minlength="6"
                :required="false"
                class="col-md-6 col-lg-3 mb-4 mr-3"
                @keyup.enter.native="handleFilter"
              >
                Штрих-код
              </md-input>

              <div class="col-12">
                <div
                  v-if="currentProduct.barcodeImgURL"
                  style="position: relative; display: inline-block;"
                >
                  <div
                    class="carousel_item_remove_btn"
                    @click="removeCode"
                  />
                  <img
                    v-if="currentProduct.barcodeImgURL"
                    :src="currentProduct.barcodeImgURL"
                    alt="превью штрих-кода"
                  >
                </div>
                <el-upload
                  v-else
                  class="upload-demo"
                  name="barcode_img"
                  :data="{product_id : currentProduct.id}"
                  action="http://grizzly-dev.site/api/media/product-images/barcode/store"
                  :on-remove="otherRemove"
                  :on-success="successUploadCode"
                  list-type="picture"
                >
                  <el-button size="small" type="primary">Загрузить Штрих-код</el-button>
                  <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
                </el-upload>
              </div>

            </div>
          </div>
        </div>

        <el-tabs v-model="activeName" style="margin-top:15px;margin-bottom: 50px;" type="border-card">
          <el-tab-pane v-for="item in tabMapOptions" :key="item.key" :label="item.label" :name="item.key">
            <keep-alive>
              <tab-pane
                v-if="activeName==item.key"
                :type="item.key"
                :current-product="currentProduct"
                :current-category="currentCategory"
                :seo="SEO"
              />
            </keep-alive>
          </el-tab-pane>
          <div v-if="currentProduct.id" class="d-flex" style="margin-top: 20px;">
            <button
              class="pan-btn blue-btn ml-auto"
              :class="{disabled: !validProd}"
              @click.prevent="submitProd"
            >Сохранить изменения</button>
          </div>
          <div v-else class="d-flex" style="margin-top: 20px;">
            <button
              class="pan-btn blue-btn ml-auto"
              :class="{disabled: !validProd}"
              @click.prevent="submitProd"
            >Создать</button>
          </div>
        </el-tabs>

      </div>
    </div>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import tabPane from './components/TabPane'
import { updateProduct, addProd, fetchRemoveBarcode, fetchRemoveMainImg, fetchRemoveOtherImg } from '@/api/prod'

export default {
  name: 'EditProd',
  components: {
    MdInput,
    tabPane
  },
  data() {
    return {
      SEO: {
        txt: null,
        title: null,
        h1: null,
        seoTags: [
          2
        ]
      },
      activeName: '1',
      imagecropperKey: 0,
      dialogImageUrl: '',
      dialogVisible: false,
      showPuloadMain: true
    }
  },
  computed: {
    validProd() {
      if (!this.currentProduct.price || !this.currentProduct.name || !this.currentProduct.category || !this.currentProduct.article) return false
      return true
    },
    tabMapOptions() {
      if (this.$route.params.id) {
        return [
          { label: 'Основная информация', key: '1' },
          { label: 'О товаре', key: '2' },
          { label: 'Уход', key: '3' },
          { label: 'Дополнительно', key: '4' },
          { label: 'SEO', key: '5' }
        ]
      } else {
        return [
          { label: 'Основная информация', key: '1' },
          { label: 'О товаре', key: '2' },
          { label: 'Уход', key: '3' },
          { label: 'Дополнительно', key: '4' }
        ]
      }
    },
    currentProduct() {
      //      if (!this.$route.params.id) return
      return this.$store.getters.currentProduct
    },
    currentCategory() {
      if (!this.$route.params.id) return
      return this.$store.getters.currentCategory
    }
  },
  created() {
    if (+this.$route.params.id) {
      // edit product
      this.$store.dispatch('getCurrentProduct', this.$route.params.id).then(() => { // get product
        this.$store.dispatch('getCurrentCategory', this.$store.getters.currentProduct.category) // then get active category for sizes && models
      })
    } else { // CREATE NEW PRODUCT
      const newProd = {
        id: null,
        name: null,
        alias: null,
        isPublished: false,
        isNew: false,
        isSale: false,
        category: null, // []
        subcategory: null, // []
        img: {
          preview_img: null,
          main_img: null, // {id, src}
          other: []
        },
        article: null,
        barcode: null,
        barcodeImgURL: null,
        price: null, // со скидкой
        priceFull: null,
        stockPrice: null,
        tags: [],
        size: [],
        // location: null, // {id,title}
        factory: null,
        color: null,
        brand: null,
        warranty: null,
        seasons: [],
        composition: [],
        compositesWithParams: {},
        models: []
      }
      this.$store.commit('setCurrentProduct', newProd)
    }
  },
  methods: {
    submitProd() {
      if (this.$route.params.id) { // edit prod
        console.log('submit product! ', this.currentProduct)

        const id = this.currentProduct.id
        updateProduct(id, this.currentProduct).then(res => {
          console.log('SUCCESS', res)
          this.$alert(' ', 'Продукт успешно изменен!', {
            confirmButtonText: 'OK'
            // callback: () => this.$router.push({ name: 'clients' })
          })
        })
          .catch(err => {
            this.$alert(`Ошибка запроса! ${err}`, ':(', {
              confirmButtonText: 'OK'
            })
          })
      } else { // add new product
        console.log('Create product! ', this.currentProduct)
        addProd(this.currentProduct).then(res => {
          console.log('SUCCESS', res)
          this.$alert(' ', 'Продукт успешно создан!', {
            confirmButtonText: 'OK',
            callback: () => this.$router.push({ name: 'editProd', params: { id: res.product_id }})
          })
        })
          .catch(err => {
            this.$alert(`Ошибка запроса! ${err}`, ':(', {
              confirmButtonText: 'OK'
            })
          })
      }
    },
    cropSuccess(resData) {
      this.imagecropperShow = false
      this.imagecropperKey = this.imagecropperKey + 1
      this.image = resData.files.avatar
    },
    close() {
      this.imagecropperShow = false
    },
    successUploadMainImg(res, file) {
      this.showPuloadMain = false
      file.product_id = this.currentProduct.id
      this.currentProduct.img.main_img = res.img_main_url
    },
    removeMainImg(file) {
      this.showPuloadMain = true
      this.currentProduct.img.main_img = null
      fetchRemoveMainImg(this.currentProduct.id)
    },
    successUploadOther(res, file) {
      file.product_id = this.currentProduct.id
      this.currentProduct.img.other.push({
        name: file.name,
        src: res.img_src,
        id: res.img_id
      })
    },
    otherRemove(id) {
      this.currentProduct.img.other.forEach((item, idx) => {
        if (item.id === id) {
          this.currentProduct.img.other.splice(idx, 1)
          return
        }
      })
    },
    removeOther(id) {
      this.currentProduct.img.other.forEach((item, idx) => {
        if (item.id === id) {
          this.currentProduct.img.other.splice(idx, 1)
          return
        }
      })
      fetchRemoveOtherImg(id)
    },
    successUploadCode(res, file) {
      this.currentProduct.barcodeImgURL = file.url
    },
    removeCode(file, fileList) {
      this.currentProduct.barcodeImgURL = null
      fetchRemoveBarcode(this.currentProduct.id)
    },
    removeImg(ID) {
      this.currentProduct.img.other.forEach((item, idx) => {
        if (item.id === ID) {
          this.currentProduct.img.other.splice(idx, 1)
          return
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
