<template>
  <div class="app-container min-vh-100">

    <div class="row pb-4">

      <div class="col-12">
        <h2 class="mb-3">Товары</h2>
      </div>

      <div class="col-12">
        <div :model="listQuery">

          <div prop="title">
            <div class="row">
              <div class="range_wrapper col-auto col-lg-4 col-xl-3 pb-3">
                <!--todo fix input bug-->
                <vs-slider
                  v-if="maxPrice"
                  v-model="listQuery.productFilters.priceRange"
                  step="10"
                  :min="minPrice"
                  :max="maxPrice"
                />
                <div
                  v-if="listQuery.productFilters.priceRange && listQuery.productFilters.priceRange[1]"
                  class="d-flex align-items-center justify-content-between"
                >
                  <md-input
                    v-model.number="listQuery.productFilters.priceRange[0]"
                    name="min"
                    :min="String(listQuery.productFilters.priceRange[0])"
                    :max="String(listQuery.productFilters.priceRange[1])"
                    type="number"
                    class="mr-4"
                    @input="checkValValid"
                  />
                  <md-input
                    v-model.number="listQuery.productFilters.priceRange[1]"
                    name="max"
                    :min="String(listQuery.productFilters.priceRange[0])"
                    :max="String(listQuery.productFilters.priceRange[1])"
                    type="number"
                    @input="checkValValid"
                  />
                </div>
              </div>

              <prod-filter class="mb-3 mt-auto col-lg-8 col-xl-9" @change="handleProdFIlter" />

              <md-input
                v-for="field in prodFilterFields"
                :key="field.id"
                v-model="listQuery[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
                class="col-md-6 col-lg-4 pb-3 fix_select"
              >
                {{ field.title }}
              </md-input>

              <div class="col-md-6 col-lg-4 py-3 d-flex align-items-center">
                <el-checkbox v-model="showAvailability" class="mr-0 ml-auto">
                  Работа с наличием
                </el-checkbox>
              </div>

              <md-input
                v-show="showAvailability"
                v-model="listQuery['shops']"
                field-type="select"
                :options="shops"
                name="Магазин"
                :required="false"
                class="col-md-6 col-lg-4 pb-3"
                @keyup.enter.native="handleFilter"
              />
            </div>
          </div>

          <el-button class="filter-item" type="primary" @click="handleFilter">Отфильтровать</el-button>
        </div>

      </div>

    </div>

    <div class="d-flex my-4 justify-content-end">
      <!--Отсюда летят варнинги на prodID - забей)-->
      <router-link
        :to="{name: 'editProd', params: {id:null}}"
        class="main_btn"
      >Создать продукт</router-link>
    </div>

    <el-table v-loading="listLoading" :data="listByShops || list" border fit highlight-current-row style="width: 100%" class="fixhead_table">

      <el-table-column align="center" label="Категория">
        <template slot-scope="scope">
          {{ categoryList.filter(cat => cat.value === scope.row.category)[0].title }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Изображение">
        <template slot-scope="scope">
          <img :src="scope.row.img.preview_img" alt="Изображение товара" class="prod_preview_img">
        </template>
      </el-table-column>

      <el-table-column align="center" label="Артикул">
        <template slot-scope="scope">
          <span>{{ scope.row.article }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Название товара">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Цена, BYN">
        <template slot-scope="scope">
          <span>{{ scope.row.price }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Цвет">
        <template slot-scope="scope">
          <span v-if="namedColorList && namedColorList[scope.row.color]">{{ namedColorList[scope.row.color] }}</span>
          <span v-else class="error_output">color with id <b>{{ scope.row.color }}</b> not found in database!</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="" width="70">
        <template slot-scope="scope">
          <router-link :to="{name: 'editProd', params: {id:scope.row.id}}">
            <el-button type="primary" icon="el-icon-edit" circle />
          </router-link>
        </template>
      </el-table-column>

      <el-table-column align="center" label="" width="70">
        <template slot-scope="scope">
          <router-link
            :to="{name: 'addProd', params: {id: scope.row.id, categoryID:scope.row.category.id}}"
          >
            <button class="suggestIncBtn mx-auto">+</button>
          </router-link>
        </template>
      </el-table-column>

      <el-table-column v-if="showAvailability" align="center" label="Магазин">
        <template slot-scope="scope">
          <span>{{ scope.row.shop.title }}</span>
        </template>
      </el-table-column>

      <template v-if="listByShopQuantity && sizesCols">
        <el-table-column
          v-for="qSize in sizesCols"
          :key="qSize"
          :label="''+qSize"
          align="center"
          width="40"
        >
          <template slot-scope="scope">
            <div
              v-for="size in scope.row.sizesQuantity"
              :key="size.id"
            >
              <span v-if="+size.size === +qSize">
                {{ size.quantity }}
              </span>
            </div>
          </template>
        </el-table-column>
      </template>

    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import prodFilter from '@/components/MDinput/prodFilter'

import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchProductsList } from '@/api/prod'
import { fetchAllSizes } from '@/api/sizes'

import { fetchTags } from '@/api/tags'
import { fetchShops } from '@/api/shops'
import { fetchCategoriesList } from '@/api/categories'
import { fetchSizesQuantity } from '@/api/quantityBySize'

import Pagination from '@/components/Pagination' // secondary package based on el-pagination

export default {
  name: 'History',
  components: {
    MdInput,
    prodFilter,
    Pagination
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      prodOptions: null,
      showAvailability: false,
      sizes: [],
      sizesQuantity: null,
      prod_tags: null,
      shops: null,
      inStock: false,
      minPrice: 0,
      maxPrice: null,
      listQuery: {
        prods_id: [],
        page: 1,
        limit: 20,
        productFilters: {
          priceRange: null
        },
        sort: '+id'
      },
      total: 0,
      uncategorizedProductList: null,
      categoriesList: null,
      listLoading: true
    }
  },
  computed: {
    categoryList() {
      if (this.categoriesList) {
        return this.categoriesList.map(item => {
          return {
            'value': item.id,
            'title': item.title
          }
        })
      }
      return null
    },
    sizesCols() {
      if (!this.sizesQuantity) return null

      const sizeArr = []

      this.sizesQuantity.map(sizeObj => {
        const size = sizeObj.size

        if (!sizeArr.includes(size)) {
          sizeArr.push(size)
        }
      })

      return sizeArr.sort()
    },
    currentProdsIdArr() {
      if (!this.uncategorizedProductList) return null

      const idArr = []
      this.uncategorizedProductList.map(prod => {
        idArr.push(prod.id)
      })
      return idArr
    },
    colors() {
      const colors = this.$store.getters.colors
      if (!colors) return null

      return colors.map(color => {
        return {
          value: color.id,
          title: color.title
        }
      })
    },
    namedColorList() {
      const colors = this.colors
      if (!colors) return null

      const result = {}
      colors.map(color => {
        result[color.value] = color.title // set color list;
      })
      return result
    },
    list() {
      let productsWitchCategories = []

      if (this.uncategorizedProductList && this.categoriesList) {
        productsWitchCategories = this.uncategorizedProductList.map(item => { // each prod
          const titles = []
          if (!item.category) item.category = []
          if (isNaN(item.category[0])) return item

          item.category.map(id => { // each prod ID
            this.categoriesList.map(category => { // compare to category by ID
              if (+category.id === +id) {
                titles.push(category.title)
              }
            })
          })

          item.category = titles
          return item
        })

        return productsWitchCategories
      } else {
        return null
      }
    },
    listByShops() {
      if (!this.list || !this.shops) return null

      this.getSizesQuantity()
      const prodsByShops = []
      if (this.showAvailability) {
        // format each prodByShop => new prod

        this.list.forEach(prod => {
          if (!prod.location) return
          prod.location.forEach(shopID => {
            let shopObj
            this.shops.find(shop => {
              if (+shop.value === +shopID) {
                shopObj = shop
                return shop
              }
            })

            const prodByShop = Object.assign({}, prod)
            prodByShop.shop = shopObj

            prodsByShops.push(prodByShop)
          })
        })
      }

      if (this.showAvailability) return prodsByShops

      return null
    },
    listByShopQuantity() {
      if (!this.showAvailability) return null
      if (!this.sizesQuantity || !this.listByShops) return null

      const prods = this.listByShops
      prods.map(prod => {
        prod['sizesQuantity'] = []

        this.sizesQuantity.map(size => {
          if (prod.id === size.prod_id && prod.shop.id === size.shop_id) {
            prod.sizesQuantity.push(size)
          }
        })
      })
      return prods
    },
    prodFilterFields() {
      return [
        {
          id: 2,
          fieldType: 'input',
          type: 'text',
          name: 'article',
          title: 'Артикул',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'select',
          name: 'size',
          options: this.arrToSelectFormat(this.sizes),
          title: 'Размер',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'select',
          name: 'color',
          options: this.colors,
          title: 'Цвет',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'select',
          name: 'tags',
          options: this.prod_tags,
          title: 'Теги',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  created() {
    this.getCategories()
    this.getList()
    this.getSizes()
    this.getTags()
    this.getShops()

    this.$store.dispatch('getColors')
  },
  methods: {
    handleProdFIlter(val) {
      this.listQuery['prods_id'] = val
    },
    prodOptionsFiltered(query) {
      if (!this.$store.getters.allProds) return null

      const result = []
      if (query.length > 2) {
        this.$store.getters.allProds.items.map(prod => {
          const searchTitle = `${prod.name} | ${prod.color} | ${prod.size} | ${prod.category} | ${prod.article}`
          if (searchTitle.includes(query)) {
            result.push(
              {
                value: prod.id,
                label: `${prod.name} | ${prod.color} | ${prod.size} | ${prod.category} | ${prod.article}`
              }
            )
          }
        })
      }
      this.prodOptions = result
    },
    getSizesQuantity() {
      if (!this.currentProdsIdArr || !this.currentProdsIdArr.length) return false

      fetchSizesQuantity(this.currentProdsIdArr).then(res => {
        this.sizesQuantity = res.data
      })
    },
    getCategories() {
      fetchCategoriesList().then(res => {
        this.categoriesList = res.data
      })
    },
    getShops() {
      fetchShops().then(res => {
        this.shops = res.data.map(shop => {
          return {
            value: shop.id,
            title: shop.title
          }
        })
      })
    },
    getTags() {
      fetchTags('products').then(res => {
        const result = []
        res.data.forEach(tagItem => {
          result.push({
            value: tagItem.id,
            title: tagItem.title
          })
          return false
        })
        this.prod_tags = result
      })
    },
    getSizes() {
      fetchAllSizes().then(res => {
        this.hanleSizesObj(res)
        // this.hanleSizesObj(res.data)
      })
    },
    async getList() {
      this.listLoading = true

      const fetchMaxProdsPrice = await fetch('http://grizzly-dev.site/api/products/max-price')

      if (fetchMaxProdsPrice.ok) {
        fetchMaxProdsPrice.json()
          .then(res => {
            this.maxPrice = res.data.max_price
          })
          .then(() => {
            let minRange = 0
            let maxRange = this.maxPrice
            if (this.listQuery.productFilters.priceRange) {
              minRange = this.listQuery.productFilters.priceRange[0]
              maxRange = this.listQuery.productFilters.priceRange[1]
            }
            this.listQuery.productFilters.priceRange = [minRange, maxRange]
          })
          .then(() => {
            fetchProductsList(this.listQuery).then(response => {
              this.uncategorizedProductList = response.data.items
              this.total = response.data.total

              this.listLoading = false
            })
          })
      } else {
        this.alertRequestFail()
      }
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList('filter')
    },
    checkValValid($event) {
      const val = $event
      const min = this.minPrice
      const max = this.maxPrice

      if (val < min) {
        this.listQuery.productFilters.priceRange[0] = min
      } else if (val > max) {
        this.listQuery.productFilters.priceRange[1] = max
      }
    }
  }
}
</script>

<style lang="scss">
    .range_wrapper {
        display: inline-block;
        /*max-width: 600px;*/

        .custom_inputs_wrapper {
            max-width: 100px !important;
        }
    }

    .prod_preview_img {
        width: 60px;
        min-width: 80%;
        height: 80px;
        object-fit: contain;
    }

    .edit-input {
        padding-right: 100px;
    }

    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
  .fix_select {
    .custom_inputs_wrapper.select_wrap {
      justify-content: flex-end;
    }
  }
  .fixhead_table {
    thead {
      th {
        background: #eaefff;
      }
    }
  }
</style>
