<template>
  <div class="app-container">
    <h2>Трансфер товара</h2>

    <div class="row">
      <md-input
        v-for="field in inputFieldsGetProd"
        :key="field.id"
        v-model="transferParams[field.name]"
        :field-type="field.fieldType"
        :options="transferFromOpts"
        :name="field.title"
        :required="field.required"
        :type="field.type"
        :mask="field.mask"
        :minlength="field.min"
        :placeholder="field.placeholder"
        :multiple="field.multiple"
        class="col-md-6 col-lg-4 pb-3"
        @change="getProductsByShopID()"
      >
        {{ field.title }}
      </md-input>
      <md-input
        v-for="field in inputShopTo"
        :key="field.id"
        v-model="transferParams[field.name]"
        :field-type="field.fieldType"
        :options="transferToOpts"
        :name="field.title"
        :required="field.required"
        :type="field.type"
        :mask="field.mask"
        :minlength="field.min"
        :placeholder="field.placeholder"
        :multiple="field.multiple"
        class="col-md-6 col-lg-4 pb-3"
      >
        {{ field.title }}
      </md-input>
      <prod-filter
        :products="inputProds"
        class="col-lg-8 col-xl-9 mb-5 mt-2"
        @change="transferParams['product'] = $event"
      />
    </div>

    <div
      v-if="productSet && productSet.length"
      class="row"
    >
      <el-table :data="productSet" border fit highlight-current-row style="flex-basis: 100%">

        <el-table-column align="center">
          <template slot-scope="scope">
            <img :src="scope.row.img.preview_img" alt="изображение товара" width="100px">
          </template>
        </el-table-column>

        <el-table-column align="center" label="Название">
          <template slot-scope="scope">
            {{ scope.row.name }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Артикул">
          <template slot-scope="scope">
            {{ scope.row.article }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Цвет">
          <template slot-scope="scope">
            {{ scope.row.color }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Размер">
          <template slot-scope="scope">

            <md-input
              v-model="sizesToTransfer[scope.row.id]"
              field-type="select"
              :options="scope.row.size.map(size => {
                return {
                  title: size,
                  value: size
                }
              })"
              :required="true"
              :multiple="true"
              :max="String(+transferQuantity[scope.row.id])"
              class="w-100"
              @change="fixSizeChange($event, scope.row.id)"
            />

          </template>
        </el-table-column>

        <el-table-column align="center" label="Количество">
          <template slot-scope="scope">
            <input
              v-model="transferQuantity[scope.row.id]"
              type="text"
              :placeholder="'Всего ' + scope.row.quantity + 'шт.'"
              value="0"
              :max="scope.row.quantity"
              class="maxInput"
              @keyup.stop="handleMax(scope.row.id, $event)"
              @change="sizesToTransfer[scope.row.id] = []; isValid = false"
            >
          </template>
        </el-table-column>

      </el-table>

      <div class="col-12" style="text-align: right;">
        <button
          class="pan-btn pink-btn btn-sm mr-4 my-3"
          @click="transferParams.product = []"
        >Очистить
        </button>
        <button
          class="pan-btn blue-btn my-3"
          :class="{disabled: !isValidTransfer || !isValid}"
          @click="postTransfer"
        >Отправить
        </button>
      </div>
    </div>

    <div v-if="transferHistory && transferHistory.length" class="row">
      <div class="col-12">
        <h4>История</h4>
      </div>

      <el-table
        v-loading="listLoading"
        :data="transferHistory"
        border
        fit
        highlight-current-row
        style="width: 100%"
      >

        <el-table-column align="center" label="Дата">
          <template slot-scope="scope">
            {{ scope.row.date }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Менеджер">
          <template slot-scope="scope">
            {{ scope.row.manager }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Откуда">
          <template slot-scope="scope">
            {{ scope.row.from.title }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Куда">
          <template slot-scope="scope">
            {{ scope.row.to.title }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Товар">
          <template slot-scope="scope">
            {{ scope.row.prod.prodTitle }}
          </template>
        </el-table-column>

        <el-table-column align="center" label="Количество">
          <template slot-scope="scope">
            {{ scope.row.quantity }}
          </template>
        </el-table-column>

      </el-table>

    </div>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getTransferHistory"
    />

    <hr>
    <h3>transferParams: {{ transferParams }}</h3>
    <h3>sizesToTransfer: {{ sizesToTransfer }}</h3>
    <h3>transferQuantity: {{ transferQuantity }}</h3>
    <h3 style="color: orangered">transferPostInfo: {{ transferPostInfo }}</h3>
    <hr>
    <h3>transferHistory: {{ transferHistory }}</h3>
    <hr>
    <h3>shops: {{ shops }}</h3>
    <hr>
    <h3>productSet: {{ productSet }}</h3>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import prodFilter from '@/components/MDinput/prodFilter'
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchShops } from '@/api/shops'
import { fetchProductByShopID } from '@/api/prod'
import { fetchTransferList } from '@/api/transferHistory'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

export default {
  name: 'ProdTransfer',
  components: {
    MdInput,
    prodFilter,
    Pagination
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      listQuery: {
        page: 1,
        limit: 20
      },
      total: 0,
      transferHistory: null,
      listLoading: false,
      transferParams: {
        from: null,
        to: null,
        product: null
      },
      shops: null,
      products: null,
      selectedShops: {},
      sizesToTransfer: {},
      transferQuantity: {},
      isValid: true
    }
  },
  computed: {
    transferFromOpts() {
      if (!this.inputShops) return null

      const result = this.inputShops.filter(shop => +shop.value !== +this.transferParams.to)
      return result
    },
    transferToOpts() {
      if (!this.inputShops) return null

      const result = this.inputShops.filter(shop => +shop.value !== +this.transferParams.from)
      return result
    },
    isValidTransfer() {
      if (!this.transferPostInfo) return false

      let result = true
      const prods = this.transferPostInfo

      for (const prod of prods) {
        if (!prod.quantity || !prod.sizes || !prod.sizes.length) {
          result = false
          break
        }
      }

      return result
    },
    transferPostInfo() {
      if (!this.transferParams.product) {
        return null
      }

      const result = this.transferParams.product
      return result.map(prodID => {
        return {
          id: prodID,
          sizes: this.sizesToTransfer[prodID],
          quantity: this.transferQuantity[prodID]
        }
      })
    },
    productSet() {
      if (!this.transferParams.product) {
        return null
      }

      return this.products.filter(prod => {
        return this.transferParams.product.includes(prod.id)
      })
    },
    inputProds() {
      if (!this.products) {
        return []
      }
      return this.products
    },
    inputShops() {
      if (!this.shops) {
        return null
      }
      return this.shops.map(shop => {
        return {
          value: shop.id,
          title: shop.title
        }
      })
    },
    inputFieldsGetProd() {
      return [
        {
          id: 1,
          fieldType: 'select',
          name: 'from',
          title: 'Откуда',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        }
      ]
    },
    inputShopTo() {
      return [
        {
          id: 2,
          fieldType: 'select',
          name: 'to',
          options: this.inputShops,
          title: 'Куда',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        }
      ]
    }
  },
  created() {
    this.getShops()
    this.getProductsByShopID()
    this.getTransferHistory()
  },
  methods: {
    initSizes(idArr) { // fix initial value for product size
      for (const i in idArr) {
        const id = idArr[i]

        if (!this.sizesToTransfer[id]) {
          this.sizesToTransfer[id] = []
        }
      }
    },
    fixSizeChange(val, id) {
      this.sizesToTransfer[id] = val

      if (!val.length) {
        this.isValid = false
      } else {
        this.isValid = true
      }

      for (const i in this.transferPostInfo) {
        const prod = this.transferPostInfo[i]
        if (prod.id === id) {
          prod.sizes = val
          break
        }
      }
    },
    postTransfer() {
      const data = this.transferPostInfo
      console.log(`%c POST TRANSFER!`, 'background: purple; color: white;')
      console.log(data)
    },
    handleMax(id, $event) {
      const ceuurentVal = +$event.target.value
      const maxVal = +$event.target.max
      if (!ceuurentVal) { // if isNaN
        this.transferQuantity[id] = 0
      }
      if (ceuurentVal > maxVal) {
        this.transferQuantity[id] = maxVal
        //          $event.target.value = maxVal
      }
    },
    getTransferHistory() {
      this.listLoading = true
      fetchTransferList(this.listQuery).then(response => {
        this.transferHistory = response.data.items
        this.total = response.data.total

        this.listLoading = false
      })
    },
    getShops() {
      fetchShops().then(res => {
        this.shops = res.data
      })
    },
    getProductsByShopID() {
      if (!this.transferParams.from) {
        return null
      }
      fetchProductByShopID(this.transferParams.from).then(res => {
        this.products = res.data.items
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .maxInput {
    text-align: center;
    padding: 4px 10px;

    &::placeholder {
      color: #ccc;
    }
  }
</style>
