<template>
  <div class="app-container">

    <div class="row">
      <div class="col-12">
        <h2>Добавление предзаказа</h2>

      </div>
      <div class="col-12">
        <router-link :to="{name: 'preorder'}" class="backpage_link"><span class="icon">&larr;</span><span
          class="txt"
        > К списку предзаказов</span></router-link>
      </div>
    </div>

    <el-form>
      <el-form-item>
        <div class="row align-items-center">

          <client-filter class="col-md-6 col-lg-4 mb-4" @change="selectParams['client'] = $event" />

          <md-input
            v-for="field in preorderData"
            :key="field.id"
            v-model="selectParams[field.name]"
            :field-type="field.fieldType"
            :options="field.options"
            :name="field.title"
            :required="field.required"
            :type="field.type"
            :mask="field.mask"
            :minlength="field.min"
            :placeholder="field.placeholder"
            :multiple="field.multiple"
            class="col-md-6 col-lg-4 mb-4"
            @change="getProductsByShopID"
          >
            {{ field.title }}
          </md-input>

          <prod-filter class="col-md-6 col-lg-4 mb-4" @change="selectParams['product'] = $event" />

          <div class="checkboxes col-md-6 col-lg-4 mb-4">
            <div class="checkbox_title">Способ уведомления</div>
            <el-checkbox-group v-model="notoficationOptions">
              <el-checkbox label="E-mail" />
              <el-checkbox label="SMS" />
              <el-checkbox label="Viber" />
            </el-checkbox-group>
          </div>

          <div class="col d-flex mb-4">
            <button class="pan-btn blue-btn mt-auto ml-auto" type="primary">Добавить</button>
          </div>
        </div>
      </el-form-item>
    </el-form>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import prodFilter from '@/components/MDinput/prodFilter'
import clientFilter from '@/components/MDinput/clientFilter'
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchShops } from '@/api/shops'
import { fetchProductByShopID } from '@/api/prod'
import { fetchClientsList } from '@/api/my_client_list'

export default {
  components: {
    MdInput,
    prodFilter,
    clientFilter
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      notoficationOptions: [],
      shops: null,
      products: null,
      selectParams: {
        shop: null,
        product: null,
        client: null
      },
      clients: null,
      listQuery: {
        userFilters: {},
        sort: '+id'
      }
    }
  },
  computed: {
    preorderData() {
      return [
        //        {
        //          id: 1,
        //          fieldType: 'select',
        //          name: 'client',
        //          options: this.inputClients,
        //          title: 'Покупатель',
        //          required: false,
        //          minLength: 1,
        //          mask: '',
        //          placeholder: '',
        //          multiple: false
        //        },
        {
          id: 2,
          fieldType: 'select',
          name: 'shop',
          options: this.inputShops,
          title: 'Магазин',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: '',
          multiple: false
        }
        //        {
        //          id: 3,
        //          fieldType: 'select',
        //          name: 'product',
        //          options: this.inputProds,
        //          title: 'Товар',
        //          required: false,
        //          minLength: 1,
        //          mask: '',
        //          placeholder: '',
        //          multiple: false
        //        }
      ]
    },
    getProductsData() {
      return [

      ]
    },
    inputProds() {
      if (!this.products) {
        return null
      }
      return this.products.map(prod => {
        return {
          value: prod.id,
          title: prod.name
        }
      })
    },
    inputClients() {
      if (!this.clients) {
        return null
      }
      return this.clients.slice(1).map(client => {
        return {
          value: client.id,
          title: client.name + ' ' + client.surname
        }
      })
    },
    inputShops() {
      if (!this.shops) {
        return null
      }
      return this.shops.slice(1).map(shop => {
        return {
          value: shop.id,
          title: shop.title
        }
      })
    }
  },
  created() {
    this.getShops()
    this.getProductsByShopID()
    this.getClients()
  },
  methods: {
    getShops() {
      fetchShops().then(res => {
        this.shops = res.data
      })
    },
    getClients() {
      fetchClientsList(this.listQuery).then(res => {
        this.clients = res.data.items
      })
    },
    getProductsByShopID() {
      if (!this.selectParams.shop) {
        return null
      }
      fetchProductByShopID(this.selectParams.shop).then(res => {
        this.products = res.data
      })
    }
  }

}
</script>

<style lang="scss" scoped>
    .backpage_link {
        margin-bottom: 40px;
        display: block;
    }

    .checkbox_title {
        margin-bottom: 10px;
        margin-top: -4px !important;
        font-weight: 600;
        color: #9e9e9e;
    }
</style>
