<template>
  <div class="app-container">
    <div class="row">
      <div class="col-12">
        <h1>Предзаказы</h1>

        <div class="add_btn_wrp mb-4">
          <router-link
            :to="{name: 'addPreorder'}"
            class="main_btn"
          >Добавить
          </router-link>
        </div>
      </div>

      <el-table v-loading="listLoading" :data="list" border fit highlight-current-row style="width: 100%">

        <el-table-column align="center" label="Покупатель">
          <template v-if="scope.row.client" slot-scope="scope">
            <span>{{ scope.row.client.name }} {{ scope.row.client.surname }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Магазин">
          <template v-if="scope.row.shopData.length" slot-scope="scope">
            <span>{{ scope.row.shopData[0].title }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Товар">
          <template v-if="scope.row.product" slot-scope="scope">
            <span>{{ scope.row.product.name }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Статус">
          <template slot-scope="scope">
            <span v-if="scope.row.isClosed">Закрыто</span>
            <div
              v-else
              class="main_btn"
            >Закрыть и сообщить клиенту
            </div>
          </template>
        </el-table-column>

        <el-table-column align="center" label="" width="70">
          <template slot-scope="scope">
            <el-button type="info" icon="el-icon-delete" circle @click.prevent="removePreorder(scope.row.id)" />
          </template>
        </el-table-column>

      </el-table>

    </div>
  </div>
</template>

<script>
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchPreorderList } from '@/api/preorder'
import { fetchClient } from '@/api/my_client_list'
import { fetchProduct } from '@/api/prod'
import { fetchShops } from '@/api/shops'

export default {
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      listQuery: {
        page: 1,
        limit: 20,
        sort: '+id'
      },
      total: 0,
      list: null,
      listLoading: true,
      shopsList: null
    }
  },
  created() {
    this.getShops().then(() => this.getList())
      .catch(err => alert(`failed to fetchShops: ${err}`))
  },
  methods: {
    getShops() {
      return fetchShops().then(res => { this.shopsList = res.data })
    },
    getList() {
      this.listLoading = true
      fetchPreorderList(this.listQuery).then(res => {
        this.total = res.data.length

        return res.data
      })
        .then(res => {
          const dataArr = res.data.map(preordItem => {
            preordItem['client'] = null
            preordItem['product'] = null
            fetchClient(preordItem.profile_id).then(res => { preordItem['client'] = res.data })
              .catch(err => alert(`failed to fetchClient: ${err}`))
            fetchProduct(preordItem.product_id).then(res => { preordItem['product'] = res.data })
              .catch(err => alert(`failed to fetchProduct: ${err}`))
            preordItem['shopData'] = this.shopsList.filter(shop => shop.id === +preordItem.shop)
            return preordItem
          })

          return dataArr
        })
        .then(dataArr => {
          this.list = dataArr
          this.listLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
 .add_btn_wrp {
   text-align: right;
 }
</style>
