<template>
  <div class="app-container">

    <div class="d-inline-flex flex-column">
      <div class="row">
        <div class="col-12">
          <h2>
            Продажа от {{ purchaseHistory.purchase_date| parseTime('{y}-{m}-{d} {h}:{i}') }} в {{ purchaseHistory.shop }}
          </h2>
        </div>
      </div>

      <div class="row mb-4">
        <md-input
          v-model="purchaseHistory.purchase_date"
          field-type="calendar"
          name="Дата"
          :required="true"
          class="col-auto mb-4"
          @keyup.enter.native="handleFilter"
        >
          Дата
        </md-input>
        <md-input
          v-model="purchaseHistory.shop"
          field-type="text"
          name="Магазин"
          :required="true"
          class="col-auto mb-4"
          @keyup.enter.native="handleFilter"
        >
          Магазин
        </md-input>
        <md-input
          v-model="purchaseHistory.manager"
          field-type="text"
          name="Менеджер"
          :required="true"
          class="col-auto mb-4"
          @keyup.enter.native="handleFilter"
        >
          Менеджер
        </md-input>
        <router-link v-if="userData" :to="{name: 'clientEdit', params: {id:$route.params.userID}}" class="col-auto mb-4 d-flex flex-column">
          <span class="select_style_title">Клиент</span>
          {{ userData.name }} {{ userData.surname }}
        </router-link>
        <md-input
          v-model="purchaseHistory.total"
          field-type="text"
          name="total"
          :required="true"
          class="col-auto mb-4"
          @keyup.enter.native="handleFilter"
        >
          Общая сумма
        </md-input>

        <button class="el-button el-button--info el-button--small col-auto align-self-center ml-4">Удалить</button>
      </div>

      <div class="row justify-content-end mb-5">
        <button class="pan-btn blue-btn">Сохранить изменения</button>
      </div>
    </div>

    <el-table v-loading="listLoading" :data="purchaseHistory.order_products" border fit highlight-current-row style="width: 100%">

      <el-table-column class-name="status-col" label="Категория">
        <template slot-scope="scope">
          <div>{{ scope.row.category.title }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Название">
        <template slot-scope="scope">
          <div>{{ scope.row.title }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Артикул">
        <template slot-scope="scope">
          <div>{{ scope.row.article }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Размер">
        <template slot-scope="scope">
          <div>{{ scope.row.size }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Цвет">
        <template slot-scope="scope">
          <div>{{ scope.row.color }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Штук">
        <template slot-scope="scope">
          <div>{{ scope.row.quantity }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Цена">
        <template slot-scope="scope">
          <div>{{ scope.row.price }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Коммент">
        <template slot-scope="scope">
          <div>{{ scope.row.comment }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="">
        <el-button>
          Удалить
        </el-button>
      </el-table-column>

    </el-table>

    <hr>
    <h3>orderHistory: {{ purchaseHistory }}</h3>
    <hr>
    <h3>user id: {{ $route.params.userID }}, item id: {{ $route.params.itemID }}</h3>
    <hr>
    <h3>userData: {{ userData }}</h3>

  </div>
</template>

<script>
import { fetchClient, fetchClientHistory } from '@/api/my_client_list'
import { fetchCategoriesList } from '@/api/categories'
import MdInput from '@/components/MDinput'
export default {
  name: 'History',
  components: {
    MdInput
  },
  data() {
    return {
      purchaseHistory: {
        user_id: this.$route.params.userID,
        purchase_date: '2019-08-14T00:00:00.000Z',
        shop: 'Силуэт',
        manager: 'Max',
        total: '52',
        categories: null,
        order_products: []
      },
      userData: undefined,
      list: null,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 10
      },
      colors: ['#99A9BF', '#F7BA2A', '#FF9900']
    }
  },
  computed: {
  },
  created() {
    this.getUser()
    this.getCategories().then(() => {
      this.getHistory()
    })
  },
  methods: {
    getCategories() {
      return fetchCategoriesList().then(res => {
        this.categories = res.data
      })
    },
    getUser() {
      fetchClient(this.$route.params.userID).then(response => {
        this.userData = response.data
      })
    },
    getHistory() {
      fetchClientHistory(this.$route.params.itemID).then(res => {
        // console.log(res.data.order_products)
        const data = res.data
        data.order_products.map(item => {
          console.log(item)
          item['category'] = this.categories.filter(cat => {
            if (+cat.id === +item.category_id) return cat
          })[0]
          return item
        })
        this.purchaseHistory = data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
</style>
