<template>
  <div v-if="userData" class="app-container">

    <div class="row align-items-center mb-4">
      <div class="col-auto">
        <h3>{{ userData.name }} {{ userData.surname }}</h3>
      </div>
      <div class="col-auto">
        <h3 class="mx-3">{{ userData.phone }}</h3>
      </div>
      <div class="col-auto">
        <router-link :to="{name: 'clientEdit', params: {'userId': $route.params.id}}" class="main_btn">В карточку клиента</router-link>
      </div>
    </div>

    <el-table v-if="userData" :data="[userData]" border fit highlight-current-row style="width: 100%" class="mb-5">
      <el-table-column label="Card id">
        <template slot-scope="scope">
          <span>{{ scope.row.card_id }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Скидка, %">
        <template slot-scope="scope">
          <span v-if="scope.row.discount">{{ scope.row.discount }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Cashback, BYN">
        <template slot-scope="scope">
          <span>{{ scope.row.cashback }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Дата рожд.">
        <template slot-scope="scope">
          <span>{{ scope.row.created | parseTime('{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Рубашка">
        <template slot-scope="scope">
          <div v-for="(size, idx) in scope.row.shirtSize" :key="idx">{{ size }}</div>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="Брюки">
        <template slot-scope="scope">
          <div v-for="(size, idx) in scope.row.trouserSize" :key="idx">{{ size }}</div>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="Обувь">
        <template slot-scope="scope">
          <div v-for="(size, idx) in scope.row.shoeSize" :key="idx">{{ size }}</div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Instagram">
        <template slot-scope="scope">
          <span>{{ scope.row.instLink }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Рейтинг" width="120">
        <template slot-scope="scope">
          <el-rate
            :value="scope.row.rate"
            :max="4"
            :colors="colors"
          />
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Коммент">
        <template slot-scope="scope">
          <span>{{ scope.row.comment }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Кошелек">
        <template slot-scope="scope">
          <span>{{ scope.row.total }} BYN</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Как нашел">
        <template slot-scope="scope">
          <span v-for="(recomend, idx) in scope.row.recommend" :key="idx">recomend</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Работа">
        <template slot-scope="scope">
          <span>{{ scope.row.job }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Должность">
        <template slot-scope="scope">
          <span v-for="(pos, idx) in scope.row.position" :key="idx">pos</span>
        </template>
      </el-table-column>

    </el-table>

    <el-table v-if="orderHistory" v-loading="listLoading" :data="orderHistory" border fit highlight-current-row style="width: 100%">

      <el-table-column label="Card id">
        <template slot-scope="scope">
          <span>{{ scope.row.card_id }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Скидка %">
        <template slot-scope="scope">
          <span>{{ scope.row.sale }} %</span>
        </template>
      </el-table-column>

      <el-table-column label="Cashback">
        <template slot-scope="scope">
          <span>{{ scope.row.cashback }} BYN</span>
        </template>
      </el-table-column>

      <el-table-column label="Покупка">
        <template slot-scope="scope">
          <div v-for="(prod, idx) in scope.row.prods" :key="idx">
            <div>{{ prod.title }}</div>
          </div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Размер">
        <template slot-scope="scope">
          <div v-for="(prod, idx) in scope.row.prods" :key="idx">
            <div>{{ prod.size }}</div>
          </div>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Сумма">
        <template slot-scope="scope">
          <span>{{ scope.row.total }} BYN</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Дата покупки">
        <template slot-scope="scope">
          <!--todo date format-->
          <span>{{ scope.row.date }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Менеджер">
        <template slot-scope="scope">
          <span>{{ scope.row.manager }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Магазин">
        <template slot-scope="scope">
          <span>{{ scope.row.shop }}</span>
        </template>
      </el-table-column>

      <el-table-column class-name="status-col" label="Смотреть покупку">
        <template slot-scope="scope">
          <router-link :to="{name: 'purchase_history', params:{'itemID': scope.row.id, 'userID': $route.params.id}}" class="main_btn">Смотреть покупку</router-link>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<script>
import { fetchClient, fetchClientsHistory } from '@/api/my_client_list'
export default {
  name: 'History',
  data() {
    return {
      userData: null,
      orderHistory: null,
      columns: [
        'first col',
        'second col',
        'third col',
        '4 col',
        '5 col',
        '6 col'
      ],
      list: null,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 10
      },
      colors: ['#99A9BF', '#F7BA2A', '#FF9900']
    }
  },
  beforeCreate() {
    this.$store.dispatch('getOrderHistory')
  },
  created() {
    this.getUser()
    this.getHistory()
  },
  methods: {
    getHistory() {
      fetchClientsHistory(this.$route.params.id).then(res => {
        this.orderHistory = res.data
      })
    },
    getUser() {
      fetchClient(this.$route.params.id).then(response => {
        this.userData = response.data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
</style>
