<template>
  <div class="dndList">
    <div class="dndList-list">
      <h4 class="mt-0">{{ listTitle }}:</h4>
      <div :set-data="setData" :list="data" group="article" class="dragArea">
        <div v-for="element in list" :key="element.id" class="list-complete-item">
          <div class="list-complete-item-handle">
            {{ element.title }}
          </div>
          <div style="position:absolute;right:0px;">
            <span style="float: right ;margin-top: -20px;margin-right:5px;" @click="deleteEle(element)">
              <i style="color:#ff4949" class="el-icon-delete" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DndList',
  props: {
    list: {
      type: Array,
      default() {
        return []
      }
    },
    listTitle: {
      type: String,
      default: 'listTitle'
    }
  },
  data() {
    return {
      data: this.list
    }
  },
  methods: {
    //    isNotInlist(v) {
    //      return this.list.every(k => v.id !== k.id)
    //    },
    //    isNotInList2(v) {
    //      return this.list2.every(k => v.id !== k.id)
    //    },
    deleteEle(ele) {
      for (const item of this.list) {
        if (item.id === ele.id) {
          console.log(ele.id)
          const index = this.list.indexOf(item)
          this.list.splice(index, 1)
          break
        }
      }
    },
    //    pushEle(ele) {
    //      for (const item of this.list2) {
    //        if (item.id === ele.id) {
    //          const index = this.list2.indexOf(item)
    //          this.list2.splice(index, 1)
    //          break
    //        }
    //      }
    //      if (this.isNotInlist(ele)) {
    //        this.list.push(ele)
    //      }
    //    },
    setData(dataTransfer) {
      // to avoid Firefox bug
      // Detail see : https://github.com/RubaXa/Sortable/issues/1012
      dataTransfer.setData('Text', '')
    }
  }
}
</script>

<style lang="scss" scoped>
.dndList {
  background: #fff;
  padding-bottom: 40px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .dndList-list {
    width: 100%;
    padding-bottom: 30px;
    .dragArea {
      margin-top: 15px;
      min-height: 50px;
      padding-bottom: 30px;
    }
  }
}

.list-complete-item {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  padding: 5px 12px;
  margin-top: 4px;
  border: 1px solid #bfcbd9;
  transition: all 1s;
}

.list-complete-item-handle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 50px;
}

.list-complete-item-handle2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 20px;
}

.list-complete-item.sortable-chosen {
  background: #4AB7BD;
}

.list-complete-item.sortable-ghost {
  background: #30B08F;
}

.list-complete-enter,
.list-complete-leave-active {
  opacity: 0;
}
</style>
