<template>
  <div>
    <div v-if="type == 1"> <!-- main info -->
      <div class="row align-items-start">
        <md-input
          v-for="field in category_input"
          :key="field.id"
          v-model="currentProduct[field.name]"
          :field-type="field.fieldType"
          :options="field.options"
          :name="field.title"
          :multiple="field.multiple"
          :required="field.required"
          :type="field.type"
          :mask="field.mask"
          :minlength="field.min"
          :placeholder="field.placeholder"
          class="col-lg-4 col-md-6 mb-4 mt-1"
          @change="changeCategories"
        >
          {{ field.title }}
        </md-input>
        <md-input
          v-for="field in main_inputs"
          :key="field.id"
          v-model="currentProduct[field.name]"
          :field-type="field.fieldType"
          :options="field.options"
          :name="field.title"
          :multiple="field.multiple"
          :required="field.required"
          :type="field.type"
          :mask="field.mask"
          :minlength="field.min"
          :placeholder="field.placeholder"
          class="col-lg-4 col-md-6 mb-4 mt-1"
        >
          {{ field.title }}
        </md-input>

      </div>

    </div>
    <div v-if="type == 2"> <!-- about -->

      <div class="row">
        <h4 class="col-12 mt-0">О товаре</h4>

        <md-input
          v-for="field in about_inputs"
          :key="field.id"
          v-model="currentProduct[field.name]"
          :field-type="field.fieldType"
          :options="field.options"
          :name="field.title"
          :multiple="field.multiple"
          :required="field.required"
          :type="field.type"
          :mask="field.mask"
          :minlength="field.min"
          :placeholder="field.placeholder"
          class="col-md-6 col-lg-4 mb-4"
        >
          {{ field.title }}
        </md-input>

        <md-input
          v-for="field in composite_inputs"
          :key="field.id"
          v-model="currentProduct[field.name]"
          :field-type="field.fieldType"
          :options="field.options"
          :name="field.title"
          :multiple="field.multiple"
          :required="field.required"
          :type="field.type"
          :mask="field.mask"
          :minlength="field.min"
          :placeholder="field.placeholder"
          class="col-md-6 col-lg-4 mb-4"
        >
          {{ field }}
        </md-input>

        <div
          v-if="getCompositeById && getCompositeById.length"
          class="col-12"
        >
          <div class="row">
            <h4 class="col-12">Материалы</h4>
            <div
              v-for="field in getCompositeById"
              :key="field.value"
              class="col-md-6 col-lg-4"
            >
              <md-input
                v-model="currentProduct['compositesWithParams'][field.value]"
                field-type="input"
                type="number"
                :name="field.value"
                :required="field.required"
                min="0"
                max="100"
                :minlength="1"
                style="min-width: 100px"
                class="w-100 mb-3"
              >
                {{ field.title }}, %
              </md-input>
            </div>
          </div>
        </div>

      </div>

      <div class="col-12 mb-3">
        <div class="row">
          <h4 class="col-12 mt-0">Выбор цвета</h4>
          <md-input
            v-for="field in color_inputs"
            :key="field.id"
            v-model="currentProduct[field.name]"
            :field-type="field.fieldType"
            :options="field.options"
            :name="field.title"
            :multiple="field.multiple"
            :required="field.required"
            :type="field.type"
            :mask="field.mask"
            :minlength="field.min"
            :placeholder="field.placeholder"
            class="col-md-6 mb-4"
          >
            {{ field.title }}
          </md-input>
          <div class="col-12">
            <div
              v-if="currentProduct.additionalColors && currentProduct.additionalColors.length"
              class="row mb-4"
            >
              <h4 class="col-12">Товар по доп. цвету</h4>
              <div
                v-for="color in currentProduct.additionalColors"
                :key="color"
                class="col-md-6 col-lg-4 d-flex align-items-center"
              >
                <div class="custom_inputs_wrapper select_wrap" style="width: 100%;">
                  <div class="selct_title">{{ namedColorList[color] }}</div>
                  <el-select
                    v-model.number="newProductByColor[color]"
                    :name="namedColorList[color]"
                    :multiple="false"
                    filterable
                    :allow-create="false"
                    clearable
                    default-first-option
                    :placeholder="'Введите артикул либо название товара'"
                    class="flex-grow-1 mb-3"
                    style="width: 100%;"
                    @input.native="getProdsByTitle(color, $event)"
                  >
                    <template
                      v-if="suggesProdsList[color]"
                    >
                      <el-option
                        v-for="item in suggesProdsList[color]"
                        :key="item.value"
                        :label="item.title"
                        :value="item.value"
                      />
                    </template>
                  </el-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--additional fields:-->
      <div v-if="additionalFields" class="col-12 mb-3">
        <div class="row">
          <h4 class="col-12 mt-0">Дополнительные поля</h4>
          <div
            v-for="(catFields, idx) in additionalFields"
            :key="idx"
            class="col-12"
          >
            <h3> {{ idx }} </h3>
            <div class="row">
              <md-input
                v-for="field in catFields"
                :key="field.id"
                v-model="currentProduct[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"

                class="col-md-6 col-lg-4 mb-4"
              >
                {{ field.title }}
              </md-input>
            </div>
          </div>
        </div>
      </div>
      <!--      &lt;!&ndash;todo DEL&ndash;&gt;-->
      <!--      <hr>-->
      <!--      <h3 style="color: orangered">prodsCreateByColor: {{ prodsCreateByColor }}</h3>-->
      <!--      <h3>newProductByColor: {{ newProductByColor }}</h3>-->
      <!--      <hr>-->
      <!--      <h3>activeCategories: {{ currentCategory }}</h3>-->
    </div>
    <div v-if="type == 3"> <!-- care -->

      <h4 class="mt-0">Уход</h4>
      <el-input
        v-model="currentProduct['prodContent']"
        type="textarea"
        :rows="4"
        :autosize="false"
        :resize="'none'"
        name="content"
        placeholder="Текст блока «Уход»"
      />
    </div>
    <div v-if="type == 4"> <!-- additional -->
      <div class="row">
        <h4 class="col-12 mt-0">Дополнительно</h4>

        <div class="col-12"><h4>Образ</h4></div>
        <div v-if="currentProduct.id" class="col-md-6">
          <div v-if="productLookContent.img" style="position: relative;">
            <div
              class="carousel_item_remove_btn"
              @click="removeLookImg"
            />
            <img :src="productLookContent.img" alt="product" class="mb-3">
          </div>

          <div v-else>
            <!--todo set url-->
            <el-upload
              action="https://jsonplaceholder.typicode.com/posts/"
              list-type="picture-card"
              :on-success="successUploadLookImg"
              class="my-3"
            >
              <i class="el-icon-plus" />
            </el-upload>
          </div>

        </div>
        <div class="col-md-6">
          <el-input
            v-model="currentProduct['productLookContent']"
            type="textarea"
            :rows="8"
            :autosize="false"
            placeholder="текст блока «Образ»"
            name="content"
            class="mh-100"
          />
        </div>

        <h4 class="col-12 mt-5">О бренде</h4>
        <div class="col-md-12">
          <el-input
            v-model="currentProduct['brandInfo']"
            type="textarea"
            :rows="8"
            :autosize="false"
            placeholder="текст блока «О бренде»"
            name="content"
            class="mh-100"
          />
        </div>

        <h4 class="col-12 mt-5 d-flex flex-wrap align-items-center"><span>Носить с </span>
          <button class="suggestIncBtn ml-3" @click="suggestsCount++">+</button>
        </h4>

        <div
          v-for="(suggest, idx) in suggestsCount"
          :key="idx"
          class="col-md-6 col-lg-4 mb-3 position-relative"
        >
          <md-input
            v-model="suggestProds[idx]"
            field-type="select"
            :options="suggesProdsList"
            name="доп. товар"
            :multiple="false"
            :required="true"
            :placeholder="'Введите артикул либо название товара'"
            class="w-100"
            @input.native="getProdsByTitle('', $event)"
          />
          <button class="btn_remove" @click="removeSuggest(idx)">-</button>
        </div>

        <div v-if="currentProduct.id" class="col-12 mt-5"><h4>Таблица размеров</h4></div>
        <div v-if="currentProduct.id" class="col-md-12">
          <div v-if="SizesTable.img" style="position: relative;display: inline-block;">
            <div
              class="carousel_item_remove_btn"
              @click="removeSizeImg"
            />
            <img :src="SizesTable.img" alt="product" class="mb-3">
          </div>
          <div v-else>
            <!--todo set url-->
            <el-upload
              action="https://jsonplaceholder.typicode.com/posts/"
              list-type="picture-card"
              :on-success="successSizesTableImg"
            >
              <i class="el-icon-plus" />
            </el-upload>
          </div>
        </div>

        <h4 class="col-12 mt-5">Доставка</h4>
        <div class="col-md-12">
          <el-input
            v-model="currentProduct['deliveryInfo']"
            type="textarea"
            :rows="8"
            :autosize="false"
            placeholder="текст блока «Доставка»"
            name="content"
            class="mh-100"
          />
        </div>

      </div>

    </div>
    <div v-if="type == 5 && $route.params.id"> <!-- additional -->
      <div class="row">
        <h4 class="col-12 mt-0">SEO</h4>

        <div class="col-md-6 col-lg-4">
          <md-input
            v-model="currentProduct['seo']['h1']"
            field-type="input"
            name="Заголовок h1"
            :required="false"
          >
            Заголовок h1
          </md-input>

          <md-input
            v-model="currentProduct['seo']['title']"
            field-type="input"
            name="title"
            :required="false"
            class="mt-4"
          >
            title
          </md-input>

        </div>

        <div class="col-md-6 col-lg-4">
          <el-input
            v-model="currentProduct['seo']['txt']"
            type="textarea"
            :rows="8"
            :autosize="false"
            placeholder="SEO describtion"
            name="SEO describtion"
            class="mh-100"
          />
        </div>

        <div class="col-md-6 col-lg-4">

          <md-input
            v-model="currentProduct['seo']['seoTags']"
            field-type="select"
            :options="[
              {
                value: 1,
                title: 'tag_1'
              },
              {
                value: 2,
                title: 'tag_2'
              }
            ]"
            name="Теги"
            :multiple="true"
            :required="false"
            :placeholder="'seo Tags'"
            class="flex-grow-1 mb-3"
          />
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'

import { fetchCategoriesList } from '@/api/categories'
import { fetchSubcategoriesList } from '@/api/subcategories'
import { fetchComposition } from '@/api/composition'
import { fetchProductsFiltered, fetchProduct } from '@/api/prod'

export default {
  components: {
    MdInput
  },
  mixins: [
    userDataMixin
  ],
  props: {
    currentProduct: {
      type: [Array, Object],
      default: null
    },
    currentCategory: {
      type: Array,
      default: null
    },
    type: {
      type: [String, Number, Object, Array],
      default: null
    },
    seo: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      DeliveryInfo: {
        txt: null
      },
      SizesTable: {
        img: 'https://www.mcbuy.ru/upload/medialibrary/32d/32d6d75702c3c18293e55914c7d5e398.png'
      },
      suggestsCount: 0,
      suggestProds: [],
      productLookContent: {
        id: this.$route.params.id,
        img: 'https://picsum.photos/1024/620/?image=142',
        txt: null
      },
      brandInfo: {
        id: this.$route.params.id,
        txt: null
      },
      imagecropperKey: 0,
      suggesProds: [],
      prodContent: null,
      newProductByColor: {},
      prodInfo: {},
      categoryChanged: null,
      categories: null,
      subcategories: null,
      composition: null,
      suggesProdsList: {},
      listQuery: {
        page: 1,
        limit: 5,
        type: this.type,
        sort: '+id'
      },
      loading: false
    }
  },
  computed: {
    // suggesProdsList() {
    //   if (!this.suggesProds) {
    //     return null
    //   }
    //
    //   const prods = this.suggesProds
    //
    //   return prods.map(prod => {
    //     return {
    //       value: prod.id,
    //       title: prod.name
    //     }
    //   })
    // },
    allColors() {
      return this.$store.getters.colors
    },
    namedColorList() {
      const colors = this.allColors
      if (!colors) return null

      const result = {}
      colors.map(color => {
        result[color.id] = color.title // set color list;
      })
      return result
    },
    prodColorsList() {
      const colors = this.allColors
      if (!colors) return null

      return colors.map(color => {
        // this.namedColorList[color.id] = color.title
        return {
          value: color.id,
          title: color.title
        }
      })
    },
    prodContentFormated() {
      if (!this.prodContent) {
        return null
      }
      return {
        id: this.$route.params.id,
        content: this.prodContent
      }
    },
    prodsCreateByColor() {
      const prods = []
      for (const color in this.newProductByColor) {
        prods.push({
          prodID: this.newProductByColor[color],
          color: color
        })
      }
      return prods
    },
    getCompositeById() {
      if (!this.currentProduct || !this.compositionList) {
        return null
      }

      const composites = []
      const storeComposites = this.compositionList

      this.currentProduct.composition.forEach(compositeID => {
        for (let i = 0; i < storeComposites.length; i++) {
          if (storeComposites[i].value === compositeID) {
            composites.push(storeComposites[i])
            break
          }
        }
      })
      return composites
    },
    compositionList() {
      if (!this.composition) return null

      const composition = []
      this.composition.map(item => {
        composition.push({
          'value': item.id,
          'title': item.title
        })
        return item
      })
      return composition
    },
    additionalFields() {
      if (this.currentCategory) {
        const fields = {}
        this.currentCategory.map(item => {
          fields[item.title] = []
          item.additionalFields.map(field => {
            fields[item.title].push(field)
          })
        })
        return fields
      }
      return null
    },
    countriesList() {
      if (!this.currentProduct.category || !this.categories) return null

      const countries = []
      this.categories.forEach(item => {
        item.countries.forEach(country => {
          if (+this.currentProduct.category === +country.category_id) {
            countries.push({
              'value': country.id,
              'title': country.title
            })
          }
        })
      })
      return countries
    },
    seasonsList() {
      if (!this.currentProduct.category || !this.categories) return null

      const seasons = []
      this.categories.forEach(item => {
        item.seasons.forEach(season => {
          if (+this.currentProduct.category === +season.category_id) {
            seasons.push({
              'value': season.id,
              'title': season.title
            })
          }
        })
      })
      return seasons
    },
    brandsList() {
      if (!this.currentProduct.category || !this.categories) return null

      const brands = []
      this.categories.forEach(item => {
        item.brands.forEach(brand => {
          if (+this.currentProduct.category === +item.id) {
            brands.push({
              'value': brand.id,
              'title': brand.title
            })
          }
        })
      })
      return brands
    },
    prodTags() {
      if (!this.$store.getters.prod_tags) {
        return null
      }

      const tagsList = this.$store.getters.prod_tags.map(tagObj => {
        return {
          'value': tagObj.id,
          'title': tagObj.title
        }
      })
      return tagsList
    },
    sizesList() {
      if (!this.currentProduct.category || !this.categories) return null

      const sizes = []
      this.categories.forEach(item => {
        item.sizes.forEach(size => {
          if (+this.currentProduct.category === +item.id) {
            sizes.push(size)
          }
        })
      })
      return sizes.sort()
    },
    modelsList() {
      if (!this.currentProduct.category || !this.categories) return null

      const models = []

      this.categories.forEach(item => {
        item.models.forEach(model => {
          if (+this.currentProduct.category === +item.id) {
            models.push({
              'value': model.id,
              'title': model.title
            })
          }
        })
      })
      return models.sort()
    },
    factories() {
      if (this.$store.getters.factories && this.$store.getters.factories.length) {
        return this.$store.getters.factories.map(item => {
          return {
            'value': item.id,
            'title': item.title
          }
        })
      }
      return null
    },
    categoryList() {
      if (this.categories) {
        return this.categories.map(item => {
          return {
            'value': item.id,
            'title': item.title
          }
        })
      }
      return null
    },
    subcategoryList() {
      if (this.subcategories) {
        return this.subcategories.map(item => {
          return {
            'value': item.id,
            'title': item.title
          }
        })
      }
      return null
    },
    category_input() {
      return [
        {
          id: 1,
          fieldType: 'select',
          name: 'category',
          options: this.categoryList,
          title: 'Категория*',
          multiple: false,
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        }
      ]
    },
    main_inputs() {
      return [
        {
          id: 115,
          fieldType: 'select',
          name: 'subcategory',
          options: this.subcategoryList,
          title: 'Подкатегория',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          type: 'text',
          name: 'name',
          title: 'Наименование товара*',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          type: 'text',
          name: 'alias',
          title: 'Alias',
          required: true,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'input',
          type: 'text',
          name: 'price',
          title: 'Цена*',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'input',
          type: 'text',
          name: 'priceFull',
          title: 'Цена без скидки',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 52,
          fieldType: 'input',
          type: 'text',
          name: 'stockPrice',
          title: 'Цена закупки',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 6,
          fieldType: 'select',
          name: 'size',
          options: this.arrToSelectFormat(this.sizesList),
          // options: [],
          title: 'Размер',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'select',
          name: 'factory',
          options: this.factories,
          multiple: false,
          title: 'Фабрика',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 8,
          fieldType: 'select',
          name: 'models',
          options: this.modelsList,
          title: 'Модель',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 9,
          fieldType: 'input',
          type: 'text',
          name: 'article',
          title: 'Артикул*',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 10,
          fieldType: 'select',
          name: 'tags',
          options: this.prodTags,
          title: 'Теги',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    color_inputs() {
      return [
        {
          id: 1,
          fieldType: 'select',
          options: this.prodColorsList,
          name: 'color',
          title: 'Основной цвет',
          multiple: false,
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'select',
          options: this.prodColorsList,
          name: 'additionalColors',
          title: 'Дополнительный цвет',
          multiple: true,
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    about_inputs() {
      return [
        {
          id: 1,
          fieldType: 'select',
          options: this.brandsList,
          name: 'brand',
          title: 'Бренд',
          multiple: false,
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'select',
          options: this.seasonsList,
          name: 'seasons',
          title: 'Сезон',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          type: 'text',
          name: 'warranty',
          title: 'Гарантия',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'select',
          options: this.countriesList,
          name: 'countries',
          title: 'Страна',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    composite_inputs() {
      return [
        {
          id: 15,
          fieldType: 'select',
          options: this.compositionList,
          name: 'composition',
          title: 'Составы',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  watch: {
    newProductByColor: function(newVal) {
      const res = []
      for (const key in newVal) {
        res.push(newVal[key])
      }
      this.currentProduct.suggProds = res
      console.log(this.currentProduct)
    }
  },
  created() {
    this.getCategories()
    this.getSubcategories()
    this.getComposition()
    this.handleSuggestProds()

    this.$store.dispatch('getColors')
    this.$store.dispatch('getFactories')
    this.$store.dispatch('getProdTags')
  },
  methods: {
    handleSuggestProds() {
      if (!this.currentProduct.suggProds || +this.type !== +2) return

      this.currentProduct.suggProds.forEach(async prodId => {
        const prod = await fetchProduct(prodId).then(res => {
          return res.data
        })

        const newVal = [{
          value: prod.id,
          title: prod.name
        }]
        this.$set(this.suggesProdsList, prod.color, newVal)
        this.newProductByColor[prod.color] = prod.id
      })
    },
    changeCategories() {
      this.$store.dispatch('getCurrentCategory', this.currentProduct.category)
    },
    getSubcategories() {
      fetchSubcategoriesList().then(res => {
        this.subcategories = res.data
      })
    },
    getCategories() {
      fetchCategoriesList().then(res => {
        this.categories = res.data
      })
    },
    getComposition() {
      fetchComposition().then(res => {
        this.composition = res.data
      })
    },
    getProdsByTitle(color, event) {
      // check if value is number - fetch by id
      // else fetch by title
      const query = isNaN(event) ? event.target.value : event
      if (query.length > 2) {
        fetchProductsFiltered(query).then(res => {
          const data = res.data.items

          if (data.length) {
            this.suggesProds = data.filter(prod => {
              const sameCategory = +prod.category === +this.currentProduct.category
              const sameColor = +prod.color === color
              const notThisProdClone = +prod.id !== +this.currentProduct.id
              if (sameCategory && notThisProdClone && sameColor) {
                return prod
              }
            })

            const newVal = this.suggesProds.map(prod => {
              return {
                value: prod.id,
                title: prod.name
              }
            })
            this.$set(this.suggesProdsList, color, newVal)

            console.log(this.suggesProdsList)
          }
        })
      }
    },
    removeSuggest(idx) {
      const prom = new Promise(res => {
        this.suggestProds.splice(idx, 1)
        res()
      })
      prom.then(() => {
        this.suggestsCount--
      })
    },
    removeLookImg() {
      this.productLookContent.img = null
    },
    successUploadLookImg(res, file) {
      this.productLookContent.img = file.url
    },
    removeSizeImg() {
      this.SizesTable.img = null
    },
    successSizesTableImg(res, file) {
      this.SizesTable.img = file.url
    }
  }
}
</script>
<style lang="scss">
</style>
