<template>
  <div class="components-container">
    <h1>Редактирование страниц <span v-if="activeTabTitle">- {{ activeTabTitle }}</span></h1>

    <el-tabs v-model="activeTab">
      <el-tab-pane label="Главная" name="main">

        <!--todo if user edit seo-->
        <div class="seo">
          <h2 class="pt-5 pb-2">SEO</h2>

          <div class="row">
            <md-input
              v-for="field in seoFields"
              :key="field.id"
              v-model="mainPage.seo[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              :multiple="field.multiple"
              class="col-md-6 col-lg-4 mb-4"
            >
              {{ field.title }}
            </md-input>
          </div>
        </div>

        <h2 class="pt-3">Изображение баннера (десктоп):</h2>
        <!--todo set url-->
        <transition name="fade">
          <div
            v-if="mainPage.banner && mainPage.banner.length"
            class="row no-gutters"
          >
            <div
              v-for="img in mainPage.banner"
              :key="img.id"
              class="col-md-6 col-lg-4"
              style="position: relative;"
            >
              <div
                class="carousel_item_remove_btn"
                @click="removeBannerImg(img.id)"
              />
              <img
                :src="img.src"
                alt="product"
              >
            </div>
          </div>
        </transition>
        <div>
          <!--todo set url-->
          <el-upload
            multiple
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-success="successBannerImg"
            class="my-3"
          >
            <i class="el-icon-plus" />
          </el-upload>
        </div>

        <h2 class="pt-4">Изображение баннера (моб.):</h2>
        <!--todo set url-->
        <transition name="fade">
          <div
            v-if="mainPage.bannerMob && mainPage.bannerMob.length"
            class="row no-gutters"
          >
            <div
              v-for="img in mainPage.bannerMob"
              :key="img.id"
              class="col-md-6 col-lg-4"
              style="position: relative;"
            >
              <div
                class="carousel_item_remove_btn"
                @click="removeBannerMobImg(img.id)"
              />
              <img
                :src="img.src"
                alt="product"
              >
            </div>
          </div>
        </transition>
        <div>
          <!--todo set url-->
          <el-upload
            multiple
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-success="successBannerMobImg"
            class="my-3"
          >
            <i class="el-icon-plus" />
          </el-upload>
        </div>

        <h2 class="mt-4 pt-4">Подкатегории главной страницы</h2>
        <md-input
          v-model="mainPage.mainSubcategories"
          field-type="select"
          max="3"
          :options="subsList"
          name="Подкатегории под баннером главной"
          :required="false"
          class="d-inline-block"
        />
        <div v-if="selectedSubcategories" class="container">
          <transition-group
            name="fade"
            class="row category-list mt-4 pz_demo_wrap"
          >
            <div
              v-for="subItem in selectedSubcategories"
              :key="subItem.id"
              class="col-md-4 mb-3"
            >
              <div class="category-item">
                <div class="item-img"><img :src="subItem.img_big"></div>
                <div class="item-name">{{ subItem.title }}</div>
                <div class="item-slogan">{{ subItem.slogan }}</div>
                <a :href="$siteBase + subItem.link" target="_blank" class="item-readmore">Смотреть</a>
              </div>
            </div>
          </transition-group>
        </div>

        <h2 class="mt-5">Текст INSTASHOP</h2>
        <div class="instashop-block pz_demo_wrap">
          <div class="instashop-inner" style="height: 260px;">
            <a href="index.html#" class="mx-auto insta_inner_logo d-block"><img
              :src="$siteBase + 'assets/template/img/instagram-icon-gold.png'"
            ></a>
            <div class="block-title"><a href="index.html#">Instashop</a></div>
            <div class="block-description hide_insta_txt" style="width: 100%;padding-left: 0;padding-right: 0;">
              <textarea
                v-model="mainPage.instaTxt"
                class="insta_text"
              />
            </div>
          </div>
        </div>

        <h2 class="pt-5">Сетка изображений</h2>
        <div class="container">
          <div class="row" style="max-width: 1040px; margin-left: auto; margin-right: auto;">
            <div class="col-md-6">
              <!--todo set url-->
              <transition name="fade" mode="out-in">
                <div
                  v-if="mainPage.galleryImages.img1"
                  style="position: relative;"
                >
                  <div
                    class="carousel_item_remove_btn"
                    @click="removeGalleryImg('img1')"
                  />
                  <img :src="mainPage.galleryImages.img1" alt="Изображение галереи">
                </div>
                <el-upload
                  v-else
                  action="https://jsonplaceholder.typicode.com/posts/"
                  list-type="picture-card"
                  esling-disable
                  :on-success="handleGallery('img1')"
                  class="galleryImgWrap my-3"
                >
                  <i class="el-icon-plus" />
                </el-upload>
              </transition>
            </div>
            <div class="col-md-6">
              <!--todo set url-->
              <transition name="fade" mode="out-in">
                <div
                  v-if="mainPage.galleryImages.img2"
                  style="position: relative;"
                >
                  <div
                    class="carousel_item_remove_btn"
                    @click="removeGalleryImg('img2')"
                  />
                  <img :src="mainPage.galleryImages.img2" alt="Изображение галереи">
                </div>
                <el-upload
                  v-else
                  action="https://jsonplaceholder.typicode.com/posts/"
                  list-type="picture-card"
                  :on-success="handleGallery('img2')"
                  class="galleryImgWrap my-3"
                >
                  <i class="el-icon-plus" />
                </el-upload>
              </transition>
            </div>
            <div class="col-12">
              <!--todo set url-->
              <transition name="fade" mode="out-in">
                <div
                  v-if="mainPage.galleryImages.img3"
                  style="position: relative;"
                >
                  <div
                    class="carousel_item_remove_btn"
                    @click="removeGalleryImg('img3')"
                  />
                  <img :src="mainPage.galleryImages.img3" alt="Изображение галереи">
                </div>
                <el-upload
                  v-else
                  action="https://jsonplaceholder.typicode.com/posts/"
                  list-type="picture-card"
                  :on-success="handleGallery('img3')"
                  class="galleryImgWrap my-3"
                >
                  <i class="el-icon-plus" />
                </el-upload>
              </transition>
            </div>
            <div class="col-12">
              <!--todo set url-->
              <transition name="fade" mode="out-in">
                <div
                  v-if="mainPage.galleryImages.img4"
                  style="position: relative;"
                >
                  <div
                    class="carousel_item_remove_btn"
                    @click="removeGalleryImg('img4')"
                  />
                  <img :src="mainPage.galleryImages.img4" alt="Изображение галереи">
                </div>
                <el-upload
                  v-else
                  action="https://jsonplaceholder.typicode.com/posts/"
                  list-type="picture-card"
                  :on-success="handleGallery('img4')"
                  class="galleryImgWrap my-3"
                >
                  <i class="el-icon-plus" />
                </el-upload>
              </transition>
            </div>
            <div class="col-md-6">
              <!--todo set url-->
              <transition name="fade" mode="out-in">
                <div
                  v-if="mainPage.galleryImages.img5"
                  style="position: relative;"
                >
                  <div
                    class="carousel_item_remove_btn"
                    @click="removeGalleryImg('img5')"
                  />
                  <img :src="mainPage.galleryImages.img5" alt="Изображение галереи">
                </div>
                <el-upload
                  v-else
                  action="https://jsonplaceholder.typicode.com/posts/"
                  list-type="picture-card"
                  :on-success="handleGallery('img5')"
                  class="galleryImgWrap my-3"
                >
                  <i class="el-icon-plus" />
                </el-upload>
              </transition>
            </div>
            <div class="col-md-6">
              <!--todo set url-->
              <transition name="fade" mode="out-in">
                <div
                  v-if="mainPage.galleryImages.img6"
                  style="position: relative;"
                >
                  <div
                    class="carousel_item_remove_btn"
                    @click="removeGalleryImg('img6')"
                  />
                  <img :src="mainPage.galleryImages.img6" alt="Изображение галереи">
                </div>
                <el-upload
                  v-else
                  action="https://jsonplaceholder.typicode.com/posts/"
                  list-type="picture-card"
                  :on-success="handleGallery('img6')"
                  class="galleryImgWrap my-3"
                >
                  <i class="el-icon-plus" />
                </el-upload>
              </transition>
            </div>
          </div>
        </div>

        <h2 class="pt-5">Instagram block</h2>
        <div class="row">
          <div class="col-lg-6">
            <md-input
              v-model="mainPage.instablock.title"
              field-type="input"
              name="Title"
              :required="false"
              class="w-100 mb-3"
            >
              Заголовок блока
            </md-input>

            <md-input
              v-model="mainPage.instablock.txt"
              field-type="textarea"
              name="Описание блока"
              :required="false"
              class="w-100 mb-3"
            >
              Описание блока
            </md-input>
          </div>
          <div class="col-lg-6 pz_demo_wrap">
            <div class="block-title mb_10">{{ mainPage.instablock.title }}</div>
            <div class="block-subtitle">
              {{ mainPage.instablock.txt }}
            </div>
            <div class="carousel_view" />
          </div>
        </div>

        <h2 class="pt-5 pb-2">Преимущества</h2>
        <div v-if="mainPage.advantages && mainPage.advantages.length" class="container pz_demo_wrap">
          <div class="row advices-list">

            <div
              v-for="item in mainPage.advantages"
              :key="item.id"
              class="col-6 col-sm-4 col-md-3 single-advice align-items-center"
            >
              <div class="si-img-container" v-html="item.icon" />

              <md-input
                v-model="item.txt"
                field-type="textarea"
                :required="false"
                class="si-name w-100 mb-3"
              >
                Описание
              </md-input>

            </div>

          </div>
        </div>

        <h2 class="d-flex flex-wrap align-items-center">Партнеры
          <button
            class="suggestIncBtn ml-3 my-2"
            @click="addPartner"
          >+</button>
        </h2>
        <div v-if="mainPage.partners && mainPage.partners.length" class="container pz_demo_wrap">
          <transition-group
            name="fade"
            tag="div"
            mode="in-out"
            class="row partners-list justify-content-center"
          >
            <div
              v-for="item in mainPage.partners"
              :key="item.id"
              :class="{galleryImgWrap: !item.src}"
              class="col-6 col-sm-4 col-md-auto d-flex align-items-center mb-2"
              style="position: relative;"
            >
              <div
                class="carousel_item_remove_btn"
                @click="removePartner(item.id)"
              />
              <img v-if="item.src" :src="item.src">
              <!--todo set action-->
              <el-upload
                v-else
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                class="my-3"
                :on-success="((res, file) => {
                  item.src = file.url
                })"
              >
                <i class="el-icon-plus" />
              </el-upload>
            </div>
          </transition-group>
        </div>

        <div class="d-flex w-100 mt-3 mb-5 pb-5">
          <button
            class="pan-btn blue-btn ml-auto"
            @click="submitMainPageChanges"
          >Сохранить изменения</button>
        </div>

        <!--todo DEL-->
        <hr>
        <h3>mainPage: {{ mainPage }}</h3>
        <hr>

      </el-tab-pane>
      <el-tab-pane label="Категории" name="category">

        <!--todo if user edit seo-->
        <div class="seo">
          <h2 class="pt-3 pb-2">SEO</h2>

          <div class="row align-items-end">
            <md-input
              v-model="categoryPage.category_id"
              field-type="select"
              :options="categoriesList"
              name="Категория"
              :required="true"
              :multiple="false"
              class="col-md-6 col-lg-4 mb-4"
              :disabled="categoryRequestRuns"
              @change="categorySet"
            />

            <div class="col-12">
              <transition-group
                tag="div"
                name="fade"
                mode="in-out"
                class="row"
              >
                <md-input
                  v-for="field in catSeoFields"
                  v-show="categoryPage.category_id"
                  :key="field.id"
                  v-model="categoryPage.seo[field.name]"
                  :field-type="field.fieldType"
                  :options="field.options"
                  :name="field.title"
                  :required="field.required"
                  :type="field.type"
                  :mask="field.mask"
                  :minlength="field.min"
                  :placeholder="field.placeholder"
                  :multiple="field.multiple"
                  class="col-md-6 col-lg-4 mb-4"
                >
                  {{ field.title }}
                </md-input>
              </transition-group>
            </div>
          </div>

          <div class="row">
            <transition name="fade">
              <div v-if="categoryPage.category_id" class="col-lg-12">
                <h4>SEO текст</h4>
                <tinymce ref="catTiny" v-model="categoryPage.seo.txt" class="w-100" :height="300" />
              </div>
            </transition>
          </div>
          <div class="d-flex w-100 mt-3 mb-5 pb-5">
            <button
              class="pan-btn blue-btn ml-auto"
              :class="{disabled: !categoryPage.category_id}"
              @click="submitCategoryPageChanges"
            >Сохранить изменения</button>
          </div>
        </div>

        <!--todo DEL-->
        <hr>
        <h3>categoryPage: {{ categoryPage }}</h3>

      </el-tab-pane>

      <el-tab-pane label="Блог" name="blog">

        <!--todo if user edit seo-->
        <div class="seo">
          <h2 class="pt-5 pb-2">SEO</h2>

          <div class="row">
            <md-input
              v-for="field in seoFields"
              :key="field.id"
              v-model="blogPage.seo[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              :multiple="field.multiple"
              class="col-md-6 col-lg-4 mb-4"
            >
              {{ field.title }}
            </md-input>
          </div>
        </div>

        <h2 class="pt-3 pb-2">Теги блога</h2>
        <div class="row">
          <md-input
            v-model="blogPage.tags"
            field-type="select"
            :options="blogTags"
            name="Теги"
            :required="false"
            class="col-md-6 col-lg-4 mb-4"
          />
        </div>

        <transition name="fade">
          <div v-if="selectedTags && selectedTags.length" class="container container_sm">
            <div class="page_hdr mb-2 mt-4 mt-sm-0">Блог</div>
            <div class="row justify-content-center mb-5">
              <div class="col-12 mb-3">
                <div class="tags_wrapper mb-3">

                  <div
                    v-for="tag in selectedTags"
                    :key="tag.id"
                    class="tag_item"
                  >
                    <span class="tag_item_inner">
                      {{ tag.title }}
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </transition>

        <div class="d-flex align-items-center">
          <h2 class="pt-3 pb-2">Статьи:</h2>
          <router-link
            to="/pages/blog/create"
            class="pan-btn blue-btn ml-auto"
          >Создать</router-link>
        </div>
        <el-table v-if="articlesList" v-loading="listLoading" :data="articlesList" border fit highlight-current-row style="width: 100%" class="fixhead_table">

          <el-table-column align="center" label="Заголовок">
            <template slot-scope="scope">
              <h3>{{ scope.row.title }}</h3>
            </template>
          </el-table-column>

          <el-table-column align="center" label="Изображение">
            <template v-if="scope.row.img.main && scope.row.img.preview" slot-scope="scope">
              <img :src="scope.row.img.preview" alt="Превью новости">
            </template>
          </el-table-column>

          <el-table-column align="center" label="Превью" width="300">
            <template v-if="scope.row.preview" slot-scope="scope">
              <p v-html="scope.row.preview" /> <!-- {{ scope.row.preview }} -->
            </template>
          </el-table-column>

          <el-table-column align="center" label="Тег" width="80">
            <template slot-scope="scope">
              {{ scope.row.tag }}
            </template>
          </el-table-column>

          <el-table-column align="center" label="Дата публикации" width="180">
            <template slot-scope="scope">
              {{ scope.row.date }}
            </template>
          </el-table-column>

          <el-table-column align="center">
            <template slot-scope="scope">
              <router-link :to="{ name: 'editArticle', params: { id: scope.row.id }}" class="main_btn">Редактировать</router-link>
            </template>
          </el-table-column>

        </el-table>
        <pagination
          v-show="total>0"
          :total="total"
          :page.sync="articlesQuery.page"
          :limit.sync="articlesQuery.limit"
          @pagination="fetchArticles"
        />

      </el-tab-pane>

      <el-tab-pane label="Lifestyle" name="lifestyle">

        <!--todo if user edit seo-->
        <div class="seo">
          <h2 class="pt-5 pb-2">SEO</h2>

          <div class="row">
            <md-input
              v-for="field in seoFields"
              :key="field.id"
              v-model="lifestylePage.seo[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              :multiple="field.multiple"
              class="col-md-6 col-lg-4 mb-4"
            >
              {{ field.title }}
            </md-input>
          </div>
        </div>

        <h2 class="pt-3 pb-2">Контент:</h2>
        <div class="row">
          <div class="col-12 col-lg-6">
            <md-input
              v-model="lifestylePage.introtext"
              field-type="textarea"
              name="Introtext"
              :required="false"
            />
          </div>
        </div>

        <div class="d-flex align-items-center">
          <h2 class="py-3">LOOKBOOK:</h2>
          <button
            class="suggestIncBtn ml-3 my-2"
            @click="addLookbookItem"
          >+</button>
        </div>

        <div class="wrap_black">
          <transition-group class="row no-gutters" name="fade" tag="div">

            <div v-for="slide in lifestylePage.lookbookCarousel" :key="slide.id" class="lockbook_slide col-auto">
              <div
                class="carousel_item_remove_btn"
                @click="removeLookbookItem(slide.id)"
              />
              <el-upload
                v-if="!slide.img"
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-success="((res, file) => {
                  slide.img = file.url
                })"
                class="my-3"
              >
                <i class="el-icon-plus" />
              </el-upload>
              <div
                v-else
                class="img_remove_wrap"
              >
                <img
                  :src="slide.img"
                  alt="LookBook"
                >
                <div
                  class="removeBtn_v2"
                  @click="slide.img = null"
                />
              </div>
              <div class="slide_title">
                <input
                  v-model="slide.title"
                  type="text"
                  class="editable_input"
                  placeholder="Заголовок"
                >
              </div>
              <div class="slide_txt">
                <input
                  v-model="slide.txt"
                  type="text"
                  class="editable_input"
                  placeholder="Текст"
                >
              </div>
            </div>

          </transition-group>
        </div>

        <div class="wrap_black my-5">
          <div class="row">
            <div class="col-auto mx-auto d-flex flex-column">
              <div
                class="block-title mb-3 customTabSwitch"
                :class="{active: activeLifestyleTab === 1}"
                @click="activeLifestyleTab = 1"
              >
                подарки для мужчин
              </div>
              <div
                class="block-title mb-4 mb-lg-5 customTabSwitch"
                :class="{active: activeLifestyleTab === 2}"
                @click="activeLifestyleTab = 2"
              >
                pizhon_box!
              </div>
            </div>
          </div>

          <transition-group
            name="fade"
            mode="out-in"
            tag="div"
          >
            <div
              v-if="activeLifestyleTab === 1"
              :key="1"
              class="custom_tab_wrap customTabContent active"
            >
              <div class="custom_tab_inner">
                <div
                  class="custom_tab_txt"
                >
                  <el-input
                    v-model="lifestylePage.gifts_male.txt"
                    type="textarea"
                    :autosize="{
                      minRows: 9
                    }"
                    placeholder="Please input"
                    class="w-100 black_textarea custom_tab_txt"
                  />
                </div>
                <transition-group
                  name="fade"
                  tag="div"
                  class="custom_tab_col"
                >

                  <div
                    v-for="item in lifestylePage.gifts_male.list"
                    :key="item.id"
                    class="custom_tab_point"
                  >
                    <div
                      class="carousel_item_remove_btn"
                      @click="removeGiftMaleItem(item.id)"
                    />
                    <div
                      v-html="item.html"
                    />
                  </div>

                  <div key="new_li" class="custom_tab_point">
                    <div
                      class="add_btn"
                      @click="addGiftPoint"
                    >+</div>
                    <el-input
                      v-model="newGiftPoint"
                      type="textarea"
                      autosize
                      placeholder="Добавить"
                      class="w-100 black_textarea"
                    />
                  </div>
                </transition-group>

                <el-input
                  v-model="lifestylePage.gifts_male.info"
                  type="textarea"
                  autosize
                  placeholder="Добавить"
                  class="w-100 black_textarea text-center note_row"
                />
              </div>
            </div>
            <div
              v-if="activeLifestyleTab === 2"
              :key="2"
              class="custom_tab_wrap customTabContent active"
            >
              <div class="custom_tab_inner">
                <div
                  class="custom_tab_txt"
                >
                  <el-input
                    v-model="lifestylePage.pizhon_box.txt"
                    type="textarea"
                    :autosize="{
                      minRows: 9
                    }"
                    placeholder="Please input"
                    class="w-100 black_textarea custom_tab_txt"
                  />
                </div>
                <!--<div class="custom_tab_col">-->
                <transition-group
                  name="fade"
                  tag="div"
                  class="custom_tab_col"
                >
                  <div
                    v-for="item in lifestylePage.pizhon_box.list"
                    :key="item.id"
                    class="custom_tab_point"
                  >
                    <div
                      class="carousel_item_remove_btn"
                      @click="removeBoxMaleItem(item.id)"
                    />
                    <div
                      v-html="item.html"
                    />
                  </div>

                  <div key="new_item_box" class="custom_tab_point">
                    <div
                      class="add_btn"
                      @click="addBoxPoint"
                    >+</div>
                    <el-input
                      v-model="newBoxPoint"
                      type="textarea"
                      autosize
                      placeholder="Добавить"
                      class="w-100 black_textarea"
                    />
                  </div>
                </transition-group>

                <!--</div>-->
                <el-input
                  v-model="lifestylePage.pizhon_box.info"
                  type="textarea"
                  autosize
                  placeholder="Добавить"
                  class="w-100 black_textarea text-center note_row"
                />
              </div>
            </div>
          </transition-group>

        </div>

        <div class="d-flex align-items-center">
          <h2 class="py-3">Клиенты:</h2>
          <button
            class="suggestIncBtn ml-3 my-2"
            @click="addClientItem"
          >+</button>
        </div>

        <div class="wrap_black">
          <transition-group class="row no-gutters" name="fade" tag="div">

            <div v-for="slide in lifestylePage.clientsCarousel" :key="slide.id" class="lockbook_slide col-auto">
              <div
                class="carousel_item_remove_btn"
                @click="removeClientItem(slide.id)"
              />
              <el-upload
                v-if="!slide.img"
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-success="((res, file) => {
                  slide.img = file.url
                })"
                class="my-3"
              >
                <i class="el-icon-plus" />
              </el-upload>
              <div
                v-else
                class="img_remove_wrap"
              >
                <img
                  :src="slide.img"
                  alt="LookBook"
                >
                <div
                  class="removeBtn_v2"
                  @click="slide.img = null"
                />
              </div>
              <div class="slide_title">
                <input
                  v-model="slide.title"
                  type="text"
                  class="editable_input"
                  placeholder="Заголовок"
                >
              </div>
              <div class="slide_txt">
                <input
                  v-model="slide.txt"
                  type="text"
                  class="editable_input"
                  placeholder="Текст"
                >
              </div>
            </div>

          </transition-group>
        </div>

        <!--todo DEL-->
        <hr>
        <h3>lifestylePage: {{ lifestylePage }}</h3>

      </el-tab-pane>

    </el-tabs>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import Tinymce from '@/components/Tinymce'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

import { fetchSubcategoriesList } from '@/api/subcategories'
import { fetchCategoriesList } from '@/api/categories'
import { fetchCategoryContent } from '@/api/categories'
import { fetchBlogTags } from '@/api/blogEdit'
import { fetchBlogArticlesAll } from '@/api/blogArticles'

export default {
  components: {
    MdInput,
    Tinymce,
    Pagination
  },
  data() {
    return {
      tabs: [
        {
          label: 'Главная',
          name: 'main'
        },
        {
          label: 'Категории',
          name: 'category'
        },
        {
          label: 'Блог',
          name: 'blog'
        },
        {
          label: 'Lifestyle',
          name: 'lifestyle'
        }
      ],
      activeLifestyleTab: 1,
      switchedTab: null,
      allSubcategories: null,
      categoriesList: null,
      allCategories: null,
      categoryRequestRuns: false,
      blogTags: null,
      articles: null,
      listLoading: false,
      articlesQuery: {
        page: 1,
        limit: 10,
        sort: '+id'
      },
      total: 0,
      articlesList: null,
      mainPage: {
        banner: [], // массив изображений баннера главной
        bannerMob: [], // массив изображений баннера главной - для моб.версии
        mainSubcategories: [1, 13, 22], // три подкатегории (массив айдишников) для отображения сразу под баннером на главной + getSubcategories
        instaTxt: 'Предлагаем готовые образы, рассказываем про тренды сезона. Купить понравившиеся товары с фото можно здесь. Кликайте по фотографии и выбирайте вещи, которые хотите добавить в корзину.',
        galleryImages: {
          img1: null,
          img2: null,
          img3: null,
          img4: null,
          img5: null,
          img6: null
        },
        instablock: {
          title: '#PIZHON',
          txt: 'Отметьте ваши фото нашим хэштегом, чтобы они могли быть представлены в нашем Instagram'
        },
        advantages: [
          {
            id: 1,
            icon: `<svg width="30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<g>
	<g>
		<path class="st0" d="M351.4,356H164.7c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2h186.6c4.5,0,8.2,3.7,8.2,8.2S355.9,356,351.4,356z"></path>
		<path class="st0" d="M120.3,400.4c-29,0-52.6-23.6-52.6-52.6s23.6-52.6,52.6-52.6s52.6,23.6,52.6,52.6S149.3,400.4,120.3,400.4z
			 M120.3,311.6c-20,0-36.2,16.3-36.2,36.2c0,20,16.3,36.2,36.2,36.2s36.2-16.2,36.2-36.2C156.5,327.9,140.3,311.6,120.3,311.6z"></path>
		<path class="st0" d="M395.8,400.4c-29,0-52.6-23.6-52.6-52.6s23.6-52.6,52.6-52.6s52.6,23.6,52.6,52.6S424.8,400.4,395.8,400.4z
			 M395.8,311.6c-20,0-36.2,16.3-36.2,36.2c0,20,16.2,36.2,36.2,36.2s36.2-16.2,36.2-36.2C432,327.9,415.7,311.6,395.8,311.6z"></path>
	</g>
	<path class="st0" d="M351.4,356H164.8c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2h186.7c4.5,0,8.2,3.7,8.2,8.2S355.9,356,351.4,356z"></path>
	<path class="st0" d="M472.8,356h-32.7c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2h32.7c12.6,0,22.8-10.2,22.8-22.8v-31.7
		c0-11.7-4.8-23.1-13.1-31.3l-36.8-36.6c-0.7-0.7-1.2-1.5-1.7-2.4l-30.2-65.3c-6.1-13.2-19.4-21.7-33.9-21.7H42.4
		c-14.3,0-26,11.7-26,26v162.9c0,12.6,10.2,22.8,22.8,22.8h36.7c4.5,0,8.2,3.7,8.2,8.2s-3.7,8.2-8.2,8.2H39.2
		C17.6,356,0,338.4,0,316.8V153.9c0-23.4,19-42.4,42.4-42.4h337.7c20.9,0,40,12.2,48.8,31.2l29.5,63.9l35.7,35.5
		c11.4,11.3,17.9,27,17.9,43v31.7C512,338.4,494.4,356,472.8,356z"></path>
	<path class="st0" d="M352.5,243.3H116.3c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2h236.2c4.5,0,8.2,3.7,8.2,8.2
		S357,243.3,352.5,243.3z"></path>
</g>
</svg>`,
            txt: 'БЕСПЛАТНАЯ ДОСТАВКА ПО РБ'
          },
          {
            id: 2,
            icon: `<svg width="29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 640" style="enable-background:new 0 0 512 640;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<g>
	<path class="st0" d="M501.3,202.7H362.7v-160c0-5.9-4.8-10.7-10.7-10.7H10.7C4.8,32,0,36.8,0,42.7V320c0,5.9,4.8,10.7,10.7,10.7h32
		v64l115.2-64h55.5v96c0,5.9,4.8,10.7,10.7,10.7h170.7l74.7,42.7v-42.7h32c5.9,0,10.7-4.8,10.7-10.7V213.3
		C512,207.4,507.2,202.7,501.3,202.7z M152.3,309.3l-4.8,2.7L64,358.4v-27.8v-21.3H42.7H21.3v-256h320v256H157.9L152.3,309.3
		L152.3,309.3z M490.7,416h-21.3H448v21.3v5.9l-42.8-24.4l-4.9-2.8h-5.7h-160v-85.3H352c5.9,0,10.7-4.8,10.7-10.7v-96h128V416z"></path>
	<path class="st0" d="M181.4,96c-16.7,0-30,5.1-39.5,15.1C126.9,126.9,128,149,128,150l0,0c0.3,5.6,4.9,10.1,10.6,10.1
		c5.9,0,10.7-4.8,10.7-10.7c0-0.2,0-0.3,0-0.5l0,0c0-0.1-0.5-14.2,8.2-23.2c5.3-5.5,13.3-8.3,23.9-8.3c12.7,0,21.2,3.1,26.1,9.4
		c3.9,5,5.8,12.6,5.9,22.6c0,7.1-6.1,16.3-17.3,25.9c-9.7,8.3-19.7,13.8-19.8,13.9l-5.6,3v31.9l0,0l0,0c0,5.9,4.8,10.7,10.7,10.7
		S192,229.9,192,224c0-0.2,0-0.4,0-0.6v-18.8c13-8.1,42.7-29.4,42.7-55.2C234.6,114.9,215.7,96,181.4,96z"></path>
	<path class="st0" d="M181.3,245.3c-5.9,0-10.7,4.8-10.7,10.7s4.8,10.7,10.7,10.7S192,261.9,192,256S187.2,245.3,181.3,245.3z"></path>
</g>
<circle class="st0" cx="435.3" cy="305.6" r="11.3"></circle>
<circle class="st0" cx="387.3" cy="305.6" r="11.3"></circle>
</svg>`,
            txt: 'ОНЛАЙН КОНСУЛЬТАЦИЯ'
          },
          {
            id: 3,
            icon: `<svg width="27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 128 160" style="enable-background:new 0 0 128 160;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<title>percent</title>
<path class="st0" d="M64,104.6c-22.4,0-40.6-18.2-40.6-40.6S41.6,23.4,64,23.4s40.6,18.2,40.6,40.6l0,0
	C104.6,86.4,86.4,104.6,64,104.6z M64,27.4c-20.2,0-36.6,16.4-36.6,36.6s16.4,36.6,36.6,36.6s36.6-16.4,36.6-36.6l0,0
	C100.6,43.8,84.2,27.4,64,27.4z"></path>
<path class="st0" d="M64,119.4C33.4,119.4,8.6,94.6,8.6,64c0-23.9,15.3-45.1,38-52.6c1-0.3,2.2,0.2,2.5,1.3s-0.2,2.2-1.3,2.5
	c-27,8.9-41.6,38-32.7,64.9c7,21,26.6,35.3,48.8,35.3c1.1,0,2,0.9,2,2S65.1,119.4,64,119.4z"></path>
<path class="st0" d="M80.8,116.7c-1.1,0-2-0.9-2-2c0-0.9,0.6-1.6,1.4-1.9c26.9-9,41.5-38.1,32.5-65c-7-21-26.6-35.2-48.8-35.2
	c-1.1,0-2-0.9-2-2s0.9-2,2-2c30.6-0.1,55.4,24.7,55.5,55.3c0,23.9-15.3,45.2-38,52.7C81.3,116.7,81.1,116.7,80.8,116.7z"></path>
<path class="st0" d="M72.6,21.2c-0.5,0-1-0.2-1.4-0.6L62.6,12c-0.8-0.8-0.8-2,0-2.8l0,0l8.6-8.6c0.9-0.7,2.1-0.5,2.8,0.3
	c0.6,0.7,0.6,1.8,0,2.5l-7.2,7.2l7.2,7.2c0.8,0.8,0.8,2,0,2.8C73.6,21,73.1,21.2,72.6,21.2L72.6,21.2z"></path>
<path class="st0" d="M55.4,128c-1.1,0-2-0.9-2-2c0-0.5,0.2-1,0.6-1.4l7.2-7.2l-7.2-7.2c-0.8-0.8-0.8-2,0-2.8s2-0.8,2.8,0l8.6,8.6
	c0.8,0.8,0.8,2,0,2.8l0,0l-8.6,8.6C56.4,127.8,55.9,128,55.4,128z"></path>
<path class="st0" d="M46.1,83.9c-1.1,0-2-0.9-2-2c0-0.5,0.2-1,0.6-1.4l35.8-35.8c0.8-0.8,2-0.8,2.8,0s0.8,2,0,2.8L47.5,83.3
	C47.1,83.7,46.6,83.9,46.1,83.9z"></path>
<path class="st0" d="M51.5,59.9c-2.3,0-4.4-0.9-6-2.5l0,0c-3.3-3.3-3.3-8.7,0-12s8.7-3.3,12,0s3.3,8.7,0,12
	C55.9,59.1,53.7,59.9,51.5,59.9z M51.5,47C49,47,47,49,47,51.5c0,1.2,0.5,2.3,1.3,3.2l0,0c1.8,1.7,4.6,1.7,6.3,0s1.7-4.6,0-6.3
	C53.8,47.5,52.6,47,51.5,47z"></path>
<path class="st0" d="M76.5,85c-2.3,0-4.4-0.9-6-2.5l0,0c-3.3-3.3-3.3-8.7,0-12s8.7-3.3,12,0s3.3,8.7,0,12C80.9,84.1,78.8,85,76.5,85
	z M76.5,72C74,72,72,74,72,76.5c0,1.2,0.5,2.3,1.3,3.2l0,0c1.8,1.7,4.6,1.7,6.3,0c1.7-1.8,1.7-4.6,0-6.3
	C78.8,72.5,77.7,72.1,76.5,72z"></path>
</svg>`,
            txt: 'CASH BACK'
          },
          {
            id: 4,
            icon: `<svg width="29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 125;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<g>
	<path class="st0" d="M47.8,48.2L47.8,48.2c0.7,0,1.3-0.3,1.6-0.8l12.3-17.3c0.6-0.9,0.4-2.1-0.5-2.8c-0.9-0.6-2.1-0.4-2.8,0.5
		L47.6,43.1l-6.3-6.8c-0.8-0.8-2-0.9-2.8-0.1c-0.8,0.8-0.9,2-0.1,2.8l8,8.6C46.7,48,47.3,48.2,47.8,48.2z"></path>
	<path class="st0" d="M82.6,37.6C82.6,19.6,68,5,50,5S17.4,19.6,17.4,37.6c0,11.4,5.9,21.5,14.8,27.3L20,85.2
		c-0.4,0.7-0.4,1.5,0.1,2.2c0.4,0.6,1.2,1,2,0.8l10.1-1.8l4.2,7.6c0.3,0.6,1,1,1.7,1l0,0c0.7,0,1.4-0.4,1.7-1L50,76.9L60.2,94
		c0.4,0.6,1,1,1.7,1l0,0c0.7,0,1.4-0.4,1.7-1l4.2-7.6L78,88.2c0.8,0.1,1.6-0.2,2-0.8c0.4-0.6,0.5-1.5,0.1-2.2L67.8,64.9
		C76.7,59.1,82.6,49,82.6,37.6z M38.1,89l-3.2-5.8c-0.4-0.7-1.3-1.1-2.1-1l-7.1,1.3l10-16.6c4.1,2,8.8,3.2,13.7,3.3L38.1,89z
		 M74.3,83.5l-7.1-1.3c-0.8-0.1-1.7,0.3-2.1,1L61.9,89l-9.6-16l1.9-3.1c3.6-0.5,7-1.5,10.1-3.1L74.3,83.5z M50,66.2
		c-15.8,0-28.6-12.8-28.6-28.6S34.2,9,50,9s28.6,12.8,28.6,28.6S65.8,66.2,50,66.2z"></path>
	<path class="st0" d="M60.9,52.5C57.7,54.8,54,56,50,56c-10.2,0-18.4-8.3-18.4-18.4c0-4.2,1.4-8.1,3.9-11.4c0.7-0.9,0.5-2.1-0.3-2.8
		c-0.9-0.7-2.1-0.5-2.8,0.3c-3.1,4-4.8,8.8-4.8,13.9C27.6,50,37.6,60,50,60c4.8,0,9.4-1.5,13.3-4.3c0.9-0.7,1.1-1.9,0.4-2.8
		C63,52,61.8,51.8,60.9,52.5z"></path>
	<path class="st0" d="M50,15.1c-4.5,0-8.9,1.3-12.6,3.8c-0.9,0.6-1.2,1.9-0.5,2.8c0.6,0.9,1.9,1.2,2.8,0.5C42.8,20.1,46.3,19,50,19
		c10.2,0,18.4,8.3,18.4,18.4c0,3.9-1.2,7.5-3.4,10.7c-0.6,0.9-0.4,2.1,0.5,2.8c0.4,0.2,0.8,0.4,1.2,0.4c0.6,0,1.2-0.3,1.6-0.8
		c2.7-3.8,4.1-8.3,4.1-13C72.4,25.2,62.4,15.1,50,15.1z"></path>
</g>
</svg>`,
            txt: 'ГАРАНТИИ КАЧЕСТВА ОТ 30 ДНЕЙ'
          },
          {
            id: 5,
            icon: `<svg width="29" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 125;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<g transform="translate(0,-952.36218)">
	<path class="st0" d="M19.8,961.3c-1,0.1-1.8,1-1.8,2v28.2l-10.5,2.9c-1,0.3-1.7,1.4-1.4,2.4l12,45c0.3,1,1.5,1.7,2.5,1.4l70-19
		c1-0.3,1.7-1.4,1.4-2.4l-2.8-10.5H92c1,0,2-1,2-2v-46c0-1-1-2-2-2C67.9,961.3,43.9,961.3,19.8,961.3L19.8,961.3z M22,965.3h68v8H22
		V965.3z M90,973.3v34h-1.9l-8.2-30.5c-0.2-0.9-1.2-1.6-2.1-1.5c-0.1,0-0.2,0-0.3,0.1L22,990.5v-17.1 M76.5,979.8l3.5,13L14,1011
		l-3.5-13.3L76.5,979.8z M81,996.7l6.5,24.3l-66.2,17.9l-6.4-24L81,996.7z"></path>
</g>
</svg>`,
            txt: `Выгода до 20% по<br> <a href="index.html#">клубным картам</a>. Доступ<br>к закрытым акциям`
          },
          {
            id: 6,
            icon: `<svg width="37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 640" style="enable-background:new 0 0 512 640;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<g>
	<path class="st0" d="M477.2,419.9v-98.3h-32.8v-81.9h16.4v24.6h32.8v-16.4h-16.4v-90.1h-32.8v-8.2c0-22.6-18.4-41-41-41H133.1V75.7
		h-16.4v32.8h-8.2c-22.6,0-41,18.4-41,41v122.9h24.6v32.8h16.4v-32.8h24.6c0,0-3.8-32.8,24.6-32.8h108.8c22.4,0,25.4,21.5,24.2,28.6
		l-8.9,53.3h-247v98.3H2v16.4h508v-16.4h-32.8V419.9z M444.5,174.1h16.4v49.2h-16.4V174.1z M266.5,223.2H157.7
		c-19.8,0-36.3,14.1-40.1,32.8H83.9V149.5c0-13.6,11-24.6,24.6-24.6h295c13.6,0,24.6,11,24.6,24.6v172.1H298.4l8.4-50.6
		C308.9,259,304.2,223.2,266.5,223.2z M460.8,419.9H51.2V338h409.7v81.9H460.8z"></path>
	<path class="st0" d="M362.5,231.4c22.6,0,41-18.4,41-41s-18.4-41-41-41s-41,18.4-41,41S339.9,231.4,362.5,231.4z M362.5,165.9
		c13.6,0,24.6,11,24.6,24.6s-11,24.6-24.6,24.6s-24.6-11-24.6-24.6S349,165.9,362.5,165.9z"></path>
</g>
</svg>`,
            txt: `Бесплатные услуги<br> нашей портной`
          },
          {
            id: 7,
            icon: `<svg width="57" height="41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 125;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<path class="st0" d="M79.1,60.9c0.7-0.3,1.4-0.6,2.2-0.6C85,60.2,88.9,61,92,63c0.3,0.2,0.6,0.5,0.9,0.8c0.4,0.1,0.7,0.2,1.1,0.3
	c-2.3-3.2-6.5-6.1-14-6.1c-7.4,0-11.6-1.9-15.7-3.8c-3.5-1.6-7.1-3.3-12.3-3.6v-3.8c0-1.5,0.8-2.9,2.1-3.5c3.3-1.5,5.4-4.8,5.4-8.4
	c0-5.1-4.3-9.3-9.5-9.3s-9.5,4.3-9.5,9.5h4c0-3,2.5-5.5,5.5-5.5s5.5,2.4,5.5,5.3c0,2.1-1.2,3.9-3.1,4.8C49.7,41,48,43.8,48,46.8v3.8
	c-5.3,0.3-8.9,2-12.3,3.6C31.6,56.1,27.4,58,20,58C3.2,58,3,72.4,3,72.5c0,1.1,0.9,2,2,2h33.8c-0.3-1.5,0.1-3,1.4-4H7.3
	C8,67.4,10.5,62,20,62c8.3,0,13.1-2.2,17.3-4.2c3.8-1.8,7.1-3.3,12.7-3.3s8.8,1.5,12.7,3.3c3.2,1.5,6.7,3.1,11.8,3.8
	c0.7-0.3,1.4-0.6,2.2-0.6C77.5,60.9,78.3,60.9,79.1,60.9z"></path>
<path class="st0" d="M110.8,64.9c-7.4,0-11.6-1.9-15.7-3.8c-3.5-1.6-7.1-3.3-12.3-3.6v-3.8c0-1.5,0.8-2.9,2.1-3.5
	c3.3-1.5,5.4-4.8,5.4-8.4c0-5.1-4.3-9.3-9.5-9.3s-9.5,4.3-9.5,9.5h4c0-3,2.5-5.5,5.5-5.5s5.5,2.4,5.5,5.3c0,2.1-1.2,3.9-3.1,4.8
	c-2.7,1.3-4.4,4.1-4.4,7.1v3.8c-5.3,0.3-8.9,2-12.3,3.6c-4.1,1.9-8.3,3.8-15.7,3.8c-16.8,0-17,14.4-17,14.5c0,1.1,0.9,2,2,2h90
	c1.1,0,2-0.9,2-2C127.8,79.3,127.6,64.9,110.8,64.9z M38.1,77.4c0.7-3.1,3.2-8.5,12.7-8.5c8.3,0,13.1-2.2,17.3-4.2
	c3.8-1.8,7.1-3.3,12.7-3.3s8.8,1.5,12.7,3.3c4.2,2,9,4.2,17.3,4.2c9.5,0,12.1,5.4,12.7,8.5H38.1z"></path>
</svg>`,
            txt: `Возможность заказа<br> нескольких размеров<br> для примерки`
          },
          {
            id: 8,
            icon: `<svg width="27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 48 60" style="enable-background:new 0 0 48 60;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#C4AF87;}
</style>
<path class="st0" d="M0,38c0,2.4,1.5,4,3.7,4.8c6.2,2.1,16,1.9,24.1-3.2c0.6-0.4,12.7-10.2,15.4-12.8c0.2-0.1,6.4-5.4,4.4-10.3
	c-0.4-1-6.7-10.5-9.2-12.1c-1-0.9-2.1-1.1-8.9,3.8c-0.6,0.5-5.3,4-7.3,5.8c-1.6-1.1-3.3-0.8-4.4,0.9c-0.1,0.1-3,5.4-8.5,10.8
	C2.9,32.1,0.1,34.4,0,38L0,38z M21.4,15.9c0.1,0.1,0.8,1.1,0.9,1.2c1.7,1.7-0.4,6.3-1.3,7.7c-1.5,2.6,0.1,4.4,1.6,4.9
	c2.4,0.9,4.2-0.6,4.8-2.6l2.6-5.6c1.5-2.3,4.7-5.7,4.7-5.7c2.9-3.5,4.3-5.8,5-7.2c1.2,1.6,2.6,3.5,3.8,5.3c-1,3.4-2.1,3.9-13.2,14.7
	c-6.3,6.6-21,14-28.3,8.9c0.4-2.6,2.4-4.1,8.7-10.4c5.7-5.6,8.7-11,8.8-11.2C20,15.2,20.6,15,21.4,15.9z M38.3,6.9
	c-0.3,0.8-1.5,3.1-5.1,7.5c-0.1,0.1-3.3,3.6-4.9,6.1c0,0.1-2.7,5.8-2.7,6c-0.3,1.1-1,1.7-2.2,1.3c-0.9-0.3-1.2-1-0.6-2
	c0.4-0.7,4-6.9,1-10.1l-0.3-0.3c1.8-1.6,11.5-9.2,13.6-9.5C37.7,6.4,37.4,6,38.3,6.9z M3.5,40.6c8.6,3.1,21.8-3.7,28.3-10.4
	c0,0,6.7-6.6,10-9.8c1.4-1.3,2.4-2.8,3.1-4.4c0.3,0.5,0.7,1,0.9,1.4c1.1,2.9-2.5,6.8-4,8c-3.1,3-14.3,12-15.1,12.6
	c-10.9,6.8-22.2,3-22.3,3C4.1,40.8,3.8,40.7,3.5,40.6z"></path>
</svg>`,
            txt: `Обувь из 100%<br> натуральной кожи`
          }
        ],
        partners: [
          {
            id: 1,
            src: this.$siteBase + 'assets/template/img/partner-logo1.jpg'
          },
          {
            id: 2,
            src: this.$siteBase + 'assets/template/img/partner-logo2.jpg'
          },
          {
            id: 3,
            src: this.$siteBase + 'assets/template/img/partner-logo3.jpg'
          },
          {
            id: 4,
            src: this.$siteBase + 'assets/template/img/partner-logo4.jpg'
          },
          {
            id: 5,
            src: this.$siteBase + 'assets/template/img/partner-logo5.jpg'
          },
          {
            id: 6,
            src: this.$siteBase + 'assets/template/img/partner-logo6.jpg'
          },
          {
            id: 7,
            src: this.$siteBase + 'assets/template/img/partner-logo7.jpg'
          }
        ],
        seo: {
          title: null,
          describtion: null
        }
      },
      seoFields: [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'title',
          title: 'Title',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'textarea',
          name: 'describtion',
          title: 'Describtion',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ],
      categoryPage: {
        category_id: null,
        seo: {
          url: null,
          title: null,
          describtion: null,
          txt: null
        }
      },
      blogPage: {
        tags: [],
        seo: {
          title: null,
          describtion: null
        }
      },
      lifestylePage: {
        introtext: null,
        lookbookCarousel: [
          {
            id: 1,
            img: 'https://picsum.photos/277/366/?image=13',
            title: 'Brand shop',
            txt: 'Оригинальные бренды'
          },
          {
            id: 2,
            img: 'https://picsum.photos/277/366/?image=14',
            title: 'Second shop',
            txt: 'Оригинальные бренды'
          },
          {
            id: 3,
            img: 'https://picsum.photos/277/366/?image=12',
            title: 'Third shop',
            txt: 'Оригинальные бренды'
          }
        ],
        gifts_male: {
          txt: 'Выбрать правильный подарок для мужчины – задача не из простых. В магазинах «Пижон» вы найдете то, что поразит мужчину и станет неотъемлемым элементом его гардероба!\n' +
          'У нас вы сможете купить:',
          list: [
            {
              id: 1,
              html: `Сорочка, джемпер, кофта стоимостью от 40 рублей;`
            },
            {
              id: 2,
              html: `Стильный <a href="prod_card.html">аксессуар</a> – клатч, мужская сумка, ремень, нижнее
                    белье стоимость от 5 рублей;`
            },
            {
              id: 3,
              html: `Брендированный <a href="prod_card.html">подарочный сертификат</a> на любую сумму.`
            }
          ],
          info: `Лично выберите подарок мужчине в 4-х магазинах сети, а также в Consept Store магазине – пр-Независимости, 36.`
        },
        pizhon_box: {
          txt: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto assumenda dolor fugiat fugit illo illum impedit, inventore laboriosam, quam quasi, ut.',
          list: [
            {
              id: 1,
              html: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. 740$`
            }
          ],
          info: `test`
        },
        clientsCarousel: [
          {
            id: 1,
            img: 'https://picsum.photos/277/366/?image=13',
            title: 'Brand shop',
            txt: 'Оригинальные бренды'
          }
        ],
        seo: {
          title: null,
          describtion: null
        }
      },
      newGiftPoint: null,
      newBoxPoint: null
    }
  },
  computed: {
    activeTab: {
      get: function() {
        if (this.switchedTab) return this.switchedTab

        const paramTab = this.$route.params.activeTab

        if (paramTab) {
          return paramTab
        } else {
          return 'main'
        }
      },
      set: function(val) {
        this.switchedTab = val
      }
    },
    activeTabTitle() {
      if (!this.activeTab) return null

      let title = null
      this.tabs.map(tab => {
        if (tab.name === this.activeTab) {
          title = tab.label
        }
      })

      return title
    },
    selectedTags() {
      if (!this.blogTags) return null

      var result

      result = this.blogTags.filter(tag => {
        if (this.blogPage.tags.includes(tag.value)) {
          return tag
        }
      })

      return result
    },
    subsList() {
      if (!this.allSubcategories) return null

      return this.allSubcategories.map(sub => {
        return {
          value: sub.id,
          title: sub.title
        }
      })
    },
    selectedSubcategories() {
      if (!this.allSubcategories || !this.mainPage.mainSubcategories) return null

      const result = []

      this.mainPage.mainSubcategories.map(subID => {
        this.allSubcategories.map(subItem => {
          if (+subItem.id === +subID) {
            result.push(subItem)
          }
        })
      })

      return result
    },
    catSeoFields() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'url',
          title: 'URL',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          type: 'text',
          name: 'title',
          title: 'Title',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'textarea',
          name: 'describtion',
          title: 'Describtion',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  created() {
    this.fetchSubcategories()
    this.fetchCategories()
  },
  mounted() {
    this.fetchBlogTags()
    this.fetchArticles()
  },
  methods: {
    addGiftPoint() {
      if (!this.newGiftPoint) {
        alert('Сначала заполните текстовое поле!')
        return
      }

      let id
      if (!this.lifestylePage.gifts_male.list.length) {
        id = 1
      } else {
        id = this.lifestylePage.gifts_male.list[this.lifestylePage.gifts_male.list.length - 1].id + 1
      }

      this.lifestylePage.gifts_male.list.push(
        {
          id: id,
          html: this.newGiftPoint
        }
      )

      this.newGiftPoint = null
    },
    addBoxPoint() {
      if (!this.newBoxPoint) {
        alert('Сначала заполните текстовое поле!')
        return
      }

      let id
      if (!this.lifestylePage.pizhon_box.list.length) {
        id = 1
      } else {
        id = this.lifestylePage.pizhon_box.list[this.lifestylePage.pizhon_box.list.length - 1].id + 1
      }

      this.lifestylePage.pizhon_box.list.push(
        {
          id: id,
          html: this.newBoxPoint
        }
      )

      this.newBoxPoint = null
    },
    removeGiftMaleItem(id) {
      const arr = this.lifestylePage.gifts_male.list

      for (const item in arr) {
        if (arr[item].id === id) {
          arr.splice(item, 1)
          break
        }
      }
    },
    removeBoxMaleItem(id) {
      const arr = this.lifestylePage.pizhon_box.list

      for (const item in arr) {
        if (arr[item].id === id) {
          arr.splice(item, 1)
          break
        }
      }
    },
    removeLookbookItem(id) {
      const arr = this.lifestylePage.lookbookCarousel

      for (const slide in arr) {
        if (arr[slide].id === id) {
          arr.splice(slide, 1)
          break
        }
      }
    },
    removeClientItem(id) {
      const arr = this.lifestylePage.clientsCarousel

      for (const slide in arr) {
        if (arr[slide].id === id) {
          arr.splice(slide, 1)
          break
        }
      }
    },
    addLookbookItem() {
      let id
      if (!this.lifestylePage.lookbookCarousel.length) {
        id = 0
      } else {
        id = this.lifestylePage.lookbookCarousel[this.lifestylePage.lookbookCarousel.length - 1].id + 1
      }

      this.lifestylePage.lookbookCarousel.push({
        id: id,
        img: null,
        title: null,
        txt: null
      })
    },
    addClientItem() {
      let id
      if (!this.lifestylePage.clientsCarousel.length) {
        id = 0
      } else {
        id = this.lifestylePage.clientsCarousel[this.lifestylePage.clientsCarousel.length - 1].id + 1
      }

      this.lifestylePage.clientsCarousel.push({
        id: id,
        img: null,
        title: null,
        txt: null
      })
    },
    handleGallery(img) {
      return (res, file) => {
        this.mainPage.galleryImages[img] = file.url
      }
    },
    fetchArticles() {
      this.listLoading = true

      fetchBlogArticlesAll(this.articlesQuery).then(res => {
        this.articlesList = res.data.items
        this.total = res.data.total

        this.listLoading = false
      })
    },
    fetchBlogTags() {
      fetchBlogTags().then(res => {
        this.blogTags = res.data.filter(tag => +tag.id === 5)[0].tags.map(tag => {
          return {
            title: tag.title,
            value: tag.id
          }
        })
      })
    },
    fetchSubcategories() {
      fetchSubcategoriesList().then(res => {
        this.allSubcategories = res.data
      })
    },
    fetchCategories() {
      fetchCategoriesList().then(res => {
        this.allCategories = res.data
        this.categoriesList = res.data.map(cat => {
          return {
            title: cat.title,
            value: cat.id
          }
        })
      })
    },
    successBannerImg(res, file) {
      this.mainPage.banner.push({
        id: file.uid,
        src: file.url
      })
    },
    removeBannerImg(ID) {
      this.mainPage.banner.forEach((item, idx) => {
        if (item.id === ID) {
          this.mainPage.banner.splice(idx, 1)
          return
        }
      })
    },
    successBannerMobImg(res, file) {
      this.mainPage.bannerMob.push({
        id: file.uid,
        src: file.url
      })
    },
    removeBannerMobImg(ID) {
      this.mainPage.bannerMob.forEach((item, idx) => {
        if (item.id === ID) {
          this.mainPage.bannerMob.splice(idx, 1)
          return
        }
      })
    },
    removeGalleryImg(id) {
      this.mainPage.galleryImages[id] = null
    },
    removePartner(id) {
      this.mainPage.partners.forEach((item, idx) => {
        if (item.id === id) {
          this.mainPage.partners.splice(idx, 1)
          return
        }
      })
    },
    addPartner() {
      var newID = null
      if (this.mainPage.partners.length) {
        newID = this.mainPage.partners[this.mainPage.partners.length - 1].id + 1
      } else {
        newID = 0
      }

      this.mainPage.partners.push({
        id: newID,
        src: null
      })
    },
    submitMainPageChanges() {
      //      todo POST request
      console.log(this.mainPage)
    },
    submitCategoryPageChanges() {
      console.log(this.categoryPage)
    },
    categorySet($event) {
      if (!this.categoriesList || !this.categoryPage.category_id) return

      // temporary disable select to prevent redundant requests
      this.categoryRequestRuns = true

      const id = $event

      this.allCategories.map(cat => {
        if (cat.id === id) {
          this.categoryPage.seo.url = cat.seo.url
          this.categoryPage.seo.title = cat.seo.title
          this.categoryPage.seo.describtion = cat.seo.describtion
        }
      })

      fetchCategoryContent(id).then(res => {
        var content = res.data.content

        this.categoryPage.seo.txt = content
        this.$refs.catTiny.setContent(content)

        this.categoryRequestRuns = false
      })
        .catch((err) => {
          this.categoryRequestRuns = false
          console.log(err)
        })
    }
  }
}
</script>

<style lang="scss">

    /*subcategory card START*/
    .popular-category {
        margin: 0 0 70px;
    }

    .popular-category .category-list {
        margin: 0 60px;
    }

    .category-list .category-item {
        text-align: center;
    }

    .category-list .category-item .item-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 460px;
        margin: 0 0 25px;
        background: #eff0ea;
    }

    .category-list .category-item .item-img img {
        max-height: 80%;
    }

    .category-list .category-item .item-name {
        font-family: 'ProximaNovaExCn-Sbold';
        font-size: 30px;
        text-transform: uppercase;
        /*margin:0 0 5px;*/
        /*letter-spacing: 2.8px;*/
        letter-spacing: .11em;
    }

    .category-list .category-item .item-slogan {
        font-family: 'ProximaNova-Light';
        margin: 0 0 18px;
        letter-spacing: .055em;
    }

    @media (max-width: 576px) {
        .category-list .category-item .item-slogan {
            font-family: 'ProximaNova';
        }
    }

    .category-list .category-item .item-readmore {
        display: block;
        width: 120px;
        height: 30px;
        line-height: 28px;
        border: 2px solid #000;
        text-align: center;
        color: #000;
        letter-spacing: 1px;
        font-family: 'ProximaNova-Condensed Semibold';
        font-size: 11px;
        text-transform: uppercase;
        margin: 0 auto;
    }

    .category-list .category-item .item-readmore:hover {
        background: #000;
        color: #fff;
        text-align: center;
    }

    /* //subcategory card END*/

    //instablock START
    .instashop-block {
        color: #fff;
        text-align: center;
        margin: 0 0 30px;
    }

    .instashop-block .containter {
        background: #000;
    }

    .instashop-block .instashop-inner {
        background: #000;
        margin: 0 70px;
        padding: 60px 0 72px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 576px) {
        .instashop-block .instashop-inner {
            padding: 48px 0 37px;
        }
    }

    .insta_inner_logo {
        margin-bottom: 7px;
    }

    .instashop-block .block-title {
        font-family: 'ProximaNovaExCn-Regular';
        margin: 0 0 8px;
        letter-spacing: .16em;
    }

    .instashop-block .block-title a {
        color: #fff;
    }

    .instashop-block .block-description {
        font-family: 'ProximaNova-Light';
        line-height: 20px;
        margin: 0 auto;
        max-width: 800px;
        padding: 0 20px;
        letter-spacing: .05em;
    }

    @media (max-width: 576px) {
        .instashop-block .block-title a {
            font-size: 30px;
            letter-spacing: 4.5px;
            margin-top: 10px;
        }
        .insta_inner_logo {
            margin-bottom: 0;
        }
    }

    .instashop-block .block-title {
        font-family: 'ProximaNovaExCn-Regular';
        margin: 0 0 8px;
        letter-spacing: .16em;
    }

    .insta_text {
        width: 100%;
        min-height: 80px;
        color: #fff;
        background-color: transparent;
        text-align: center;

        line-height: 20px;
        padding: 15px 20px;
        margin: 0 auto;
        max-width: 800px;
        letter-spacing: .05em;
    }
    // //instablock END

    // advanteges START
    .advices-list {
        margin: 0 60px;
    }
    .advices-list .single-advice {
        text-align: center;
        margin: 0 0 50px;
    }
    .advices-list .single-advice .si-img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        margin: 0 0 10px;
    }
    // //advanteges END

    //instacorousel START
    .block-title {
        font-family: 'ProximaNovaExCn-Sbold';
        font-size: 30px;
        margin: 0 0 20px;
        letter-spacing: .1em;
        text-align: center;
        text-transform: uppercase;
    }
    .insta-hashtag .block-subtitle {
        letter-spacing: .06em;
    }
    .block-subtitle {
        font-family: 'ProximaNova-Light';
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        max-width: 380px;
        margin: 0 auto 35px;
    }
    //instacorousel END

    .galleryImgWrap {
        position: relative;
        min-height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: #ccc;

        margin-bottom: 40px;
    }
    .carousel_view {
        height: 230px;
        width: 100%;
        background: url(./../../assets/img/inst_carousel.jpg) left top no-repeat;
        background-size: cover;
    }

    //blog tags start
    $white_txt: #fff;
    .tags_wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 800px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 576px) {
        justify-content: space-between;
        //margin-left: -10px;
        //margin-right: -10px;
      }
    }

    .tag_item {
      font-family: 'ProximaNova-Condensed';
      font-size: 13px;
      letter-spacing: 0.07em;
      cursor: pointer;
      text-transform: uppercase;
      background: #eff0ea;

      margin: 10px;

      transition: all .6s;

      @media (max-width: 576px) {
        text-shadow: 0 0;
        font-size: 16px;
        padding: 0;
        margin: 2vw;
      }
      @media (max-width: 480px) {
        margin: 1.7vw;
      }

      .tag_item_inner {
        display: inline-block;
        width: 100%;
        padding: 5px 20px;

        @media (max-width: 576px){
          padding: 2.7vw 7.29vw;
        }
      }
      &.active {
        background: #000;
        color: $white_txt;
      }
      @media (min-width: 1200px) {
        &:hover {
          background: #000;
          color: $white_txt;
        }
      }
      &:hover {

      }

      input[type='checkbox'] {
        display: none;
      }
    }
    //blog tags end

    .page_hdr {
      font-family: 'ProximaNovaExCn-Sbold';
      font-size: 30px;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      text-align: center;
    }
</style>
