<template>
  <div class="components-container">

    <h1>Добавление клиента</h1>

    <hr>

    <div class="row">
      <div class="col-12 col-lg-7 mb-5">
        <div v-if="!showUploadMain || userData.images.main_img" class="main_img_wrap">
          <div
            class="carousel_item_remove_btn"
            @click="removeMainImg"
          />
          <img :src="userData.images.main_img.src" alt="Главное изображение">
        </div>

        <div v-else>
          <!--todo set action-->
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-success="successUploadMainImg"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove"
            class="my-3"
          >
            <i class="el-icon-plus" />
          </el-upload>
          <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt="">
          </el-dialog>
        </div>

        <el-carousel v-if="userData.images.other.length" :interval="4000" type="card" height="200px">
          <el-carousel-item v-for="img in userData.images.other" :key="img.id" class="position-relative">

            <div
              class="carousel_item_remove_btn"
              @click="removeImg(img.id)"
            />

            <img :src="img.src" alt="изображение">
          </el-carousel-item>
        </el-carousel>
        <div class="w-100">
          <el-upload
            multiple
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-remove="otherRemove"
            :on-success="successUploadOther"
            list-type="picture"
          >
            <el-button size="small" type="primary">Загрузить доп. изображения</el-button>
            <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
          </el-upload>
        </div>

      </div>
      <div class="col-12 col-lg-5 mb-3">
        <div class="params_wrap">
          <div class="params_row justify-content-start mt-2">
            <el-radio v-model="userData.sex" label="male">Муж</el-radio>
            <el-radio v-model="userData.sex" label="female">Жен</el-radio>
          </div>
        </div>
        <div>
          <div class="params_row fz_sm mt-5 d-inline-flex">
            <span>Дата создания карточки</span> <span class="spaced">{{ userData.created }}</span>
          </div>
        </div>
      </div>
    </div>

    <el-form ref="formValidate" :rules="rules" :model="userData">

      <div class="client_forms_grid">
        <el-form-item prop="title">
          <h2>Основная информация</h2>
          <div class="user_main_inputs">
            <el-form-item
              v-for="field in userFieldsMain"
              :key="field.id"
              :prop="field.name"
              class="mb-4"
            >
              <md-input
                v-model="userData[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
              >
                {{ field.title }}
              </md-input>
            </el-form-item>
          </div>
        </el-form-item>

        <div class="additional_info_wrap">
          <el-form-item prop="title">
            <h2 class="grid_hdr">Дополнительная информация</h2>
            <md-input
              v-for="field in userFieldsSecondary"
              :key="field.id"
              v-model="userData[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :title="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              class="pt-3"
            >
              {{ field.title }}
            </md-input>
            <client-filter
              title="Кто привел"
              class="pt-3"
              @change="userData['recommend'] = $event"
            />
            <md-input
              v-for="field in userFieldsSecondary_part2"
              :key="field.id"
              v-model="userData[field.name]"
              :field-type="field.fieldType"
              :options="field.options"
              :name="field.title"
              :title="field.title"
              :required="field.required"
              :type="field.type"
              :mask="field.mask"
              :minlength="field.min"
              :placeholder="field.placeholder"
              class="pt-3"
            >
              {{ field.title }}
            </md-input>
          </el-form-item>

          <div class="form_btns_wrap">
            <button class="pan-btn blue-btn" @click.prevent="submitClient">Добавить</button>
          </div>
        </div>

      </div>

    </el-form>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'
import { createClient } from '@/api/my_client_list'
import clientFilter from '@/components/MDinput/clientFilter'

export default {
  name: 'Clients',
  components: {
    MdInput,
    clientFilter
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      userData: {
        sex: 'male',
        created: null,
        images: {
          main_img: null,
          other: []
        }
      },
      showUploadMain: true,
      dialogImageUrl: '',
      dialogVisible: false,
      imagecropperShow: false,
      imagecropperKey: 0,
      image: 'https://wpimg.wallstcn.com/577965b9-bb9e-4e02-9f0c-095b41417191',
      rules: {
        surname: [
          { min: 2, message: 'Минимум 2 символа', trigger: 'blur' }
        ],
        name: [
          { required: true, message: 'Необходимое поле', trigger: 'blur' },
          { min: 2, message: 'Минимум 2 символа', trigger: 'blur' }
        ],
        phone: [
          { required: true, message: 'Необходимое поле', trigger: 'blur' },
          { min: 12, message: 'формат +375 XX XXX-XX-XX', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    userFieldsMain() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'number',
          name: 'card_id',
          title: 'Card id',
          required: true,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          type: 'text',
          name: 'surname',
          title: 'Фамилия',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          type: 'text',
          name: 'name',
          title: 'Имя',
          required: true,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'input',
          type: 'text',
          name: 'patronymic',
          title: 'Отчество',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'input',
          type: 'tel',
          name: 'phone',
          title: 'Телефон',
          required: true,
          minLength: 13,
          mask: '+375 ## ###-##-##',
          placeholder: '+375'
        },
        {
          id: 6,
          fieldType: 'input',
          type: 'email',
          name: 'email',
          title: 'E-mail',
          required: false,
          minLength: 5,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'calendar',
          type: 'text',
          name: 'birthDate',
          title: 'Дата рождения',
          required: false,
          minLength: 5,
          mask: '',
          placeholder: ''
        },
        {
          id: 8,
          fieldType: 'input',
          type: 'url',
          name: 'instLink',
          title: 'Instagramm',
          required: false,
          minLength: 5,
          mask: '',
          placeholder: ''
        }
      ]
    },
    userFieldsSecondary() {
      return [
        {
          id: 1,
          fieldType: 'input',
          name: 'country',
          title: 'Страна',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          name: 'city',
          title: 'Город',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          name: 'postIdx',
          title: 'Почтовый индекс',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'input',
          name: 'postAddr',
          title: 'Почтовый адрес',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'select',
          name: 'tags_main',
          options: this.arrToSelectFormat(this.$store.getters.tags),
          title: 'Теги (интересы)',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 51,
          fieldType: 'select',
          name: 'tags_client',
          options: this.arrToSelectFormat(this.$store.getters.aboutTags),
          title: 'Теги (о клиенте)',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        }
      ]
    },
    userFieldsSecondary_part2() {
      return [
        {
          id: 7,
          fieldType: 'select',
          name: 'found_out',
          options: this.arrToSelectFormat(this.$store.getters.recommends),
          title: 'Как пришел',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        // next for admin:
        {
          id: 8,
          fieldType: 'calendar',
          name: 'wedd_date',
          title: 'Дата свадьбы',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 9,
          fieldType: 'rate',
          name: 'rate',
          title: 'Рейтинг',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 10,
          fieldType: 'select',
          name: 'shirtSize',
          options: this.arrToSelectFormat(this.$store.getters.shirtSizes),
          title: 'Размер рубашки',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 11,
          fieldType: 'select',
          name: 'trouserSize',
          options: this.arrToSelectFormat(this.$store.getters.trouserSizes),
          title: 'Размер брюк',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 12,
          fieldType: 'select',
          name: 'shoeSize',
          options: this.arrToSelectFormat(this.$store.getters.shoeSizes),
          title: 'Размер обуви',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 13,
          fieldType: 'textarea',
          name: 'comment',
          title: 'Комментарий',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 14,
          fieldType: 'input',
          name: 'job',
          title: 'Работа',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 15,
          fieldType: 'select',
          name: 'position',
          options: this.arrToSelectFormat(this.$store.getters.positions),
          title: 'Должность',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 16,
          fieldType: 'input',
          type: 'text',
          name: 'discount',
          title: 'Скидка, %',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 17,
          fieldType: 'input',
          type: 'text',
          name: 'cashback',
          title: 'Cashback, BYN',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  watch: {
    'userData.created': {
      handler: 'creationDate',
      immediate: true
    }
  },
  beforeCreate() {
    this.$store.dispatch('getSelectTags')
    this.$store.dispatch('getAboutTags')
    this.$store.dispatch('getRecommends')
    this.$store.dispatch('getShirtsSizes')
    this.$store.dispatch('getTrousersSizes')
    this.$store.dispatch('getShoesSizes')
    this.$store.dispatch('getPositions')
    this.$store.dispatch('getUserImages')
  },
  methods: {
    submitClient() {
      this.$refs.formValidate.validate(isValid => {
        console.log(isValid)
        if (!isValid) return false

        const data = Object.assign({}, this.userData)
        delete data.images
        delete data.created
        console.log(createClient)

        createClient(data).then(res => {
          console.log('SUCCESS', res)
          this.$alert(' ', 'Профиль успешно создан!', {
            confirmButtonText: 'OK',
            callback: () => this.$router.push({ name: 'clients' })
          })
        })
          .catch(err => {
            this.$alert(`Ошибка запроса! ${err}`, ':(', {
              confirmButtonText: 'OK'
            })
          })
      })
    },
    creationDate() {
      if (!this.userData.created) {
        const setDate = this.$options.filters.parseTime(Date.now(), '{y}-{m}-{d} {h}:{i}')
        console.log(setDate)
        this.userData.created = setDate
      }
    },
    successUploadMainImg(res, file) {
      this.showUploadMain = false
      this.userData.images.main_img = {
        id: 1,
        src: file.url
      }
      console.log(this.userData.images.main_img)
    },
    removeMainImg() {
      this.showUploadMain = true
      this.userData.images.main_img = null
    },
    otherRemove(file, fileList) {
      console.log(file, fileList)
    },
    successUploadOther(res, file) {
      console.log(file)
      this.userData.images.other.push({
        id: file.uid,
        src: file.url
      })
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    }
  }
}
</script>

<style lang="scss">
    .components-container {

    @media (max-width: 768px) {
        margin-left: 15px;
        margin-right: 15px;
    }
    }
    .form_btns_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .params_wrap {
        display: inline-flex;
        flex-direction: column;
    }
    .params_row {
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: .8em;

    &.fz_sm {
         font-size: 14px;
     }
    .el-radio__label {
        font-size: 1.3em;
    }
    .spaced {
        margin-left: 50px;
    }
    }
    .client_forms_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 30px;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    h2 {
        line-height: 130%;
        margin-bottom: 14px;
    }
    .additional_info_wrap {
        grid-column: span 3;

    .el-form-item__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 30px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }

    .grid_hdr {
        grid-column: span 3;

    @media (max-width: 768px){
        grid-column: span 2;
    }
    @media (max-width: 576px){
        grid-column: span 1;
    }
    }

    &::before,
    &::after {
         content: none;
     }
    }
    }
    }
    .user_main_inputs {

    @media (max-width: 992px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 30px;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
    }
</style>
