<template>
  <div class="app-container">

    <div class="row pb-4">

      <div class="col-12 d-flex align-items-center">
        <h2 class="mr-3">Клиенты</h2>
        <transition name="fade">
          <button v-if="$store.getters.allClients" :loading="downloadLoading" icon="document" class="main_btn excel_btn btn_sm" @click="handleDownload">
            Export Excel
          </button>
        </transition>
      </div>

      <div class="col-12">
        <el-form :model="listQuery">

          <el-form-item prop="title">
            <div class="row">
              <client-filter
                class="mt-auto col-md-6 col-lg-4"
                @change="listQuery.userFilters['client_id'] = $event"
              />
              <md-input
                v-for="field in userFilterFields"
                :key="field.id"
                v-model="listQuery[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
                class="col-md-6 col-lg-4"
              >
                {{ field.title }}
              </md-input>
            </div>
          </el-form-item>
          <button class="pan-btn blue-btn" @click.prevent="handleFilter">Отфильтровать</button>
        </el-form>

      </div>

    </div>

    <div class="row">
      <div class="col-12 add_btn_wrp">
        <router-link
          :to="{name: 'addClient'}"
          class="main_btn"
        >Добавить
        </router-link>
      </div>
    </div>

    <el-table v-loading="listLoading" :data="list" border fit highlight-current-row style="width: 100%">

      <el-table-column type="expand">
        <template slot-scope="scope">
          <div class="row">
            <div class="col-md-6 col-lg-4 d-flex flex-column">
              <div v-if="scope.row.birthDate" class="table_info_subrow">
                <span class="pr-3 subrow_title">День рождения:</span>
                <span class="ml-auto">{{ scope.row.birthDate | parseTime('{d}-{m}-{y} {h}:{i}') }}</span>
              </div>
              <div v-if="scope.row.shirtSize && scope.row.shirtSize.length" class="table_info_subrow">
                <span class="pr-3 subrow_title">Размер рубашки:</span>
                <span class="ml-auto">
                  <span v-for="(size, idx) in scope.row.shirtSize" :key="idx" class="arr_item">{{ size }}</span>
                </span>
              </div>
              <div v-if="scope.row.trouserSize && scope.row.trouserSize.length" class="table_info_subrow">
                <span class="pr-3 subrow_title">Размер брюк:</span>
                <span class="ml-auto">
                  <span v-for="(size, idx) in scope.row.trouserSize" :key="idx" class="arr_item">{{ size }}</span>
                </span>
              </div>
              <div v-if="scope.row.shoeSize && scope.row.shoeSize.length" class="table_info_subrow">
                <span class="pr-3 subrow_title">Размер обуви:</span>
                <span class="ml-auto">
                  <span v-for="(size, idx) in scope.row.shoeSize" :key="idx" class="arr_item">{{ size }}</span>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div v-if="scope.row.comment" class="table_info_subrow">
                <span class="pr-3 subrow_title">
                  Комментарий:
                </span>
                <span class="ml-auto">
                  {{ scope.row.comment }}
                </span>
              </div>
            </div>
          </div>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Card id">
        <template slot-scope="id">
          <span>{{ id.row.card_id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Имя">
        <template slot-scope="scope">
          <div>{{ scope.row.name }}</div>
          <div>{{ scope.row.surname }}</div>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Email">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Телефон">
        <template slot-scope="scope">
          <span>{{ scope.row.phone }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Скидка, %">
        <template slot-scope="scope">
          <span>{{ scope.row.discount }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Cashback, BYN">
        <template slot-scope="scope">
          <span>{{ scope.row.cashback }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="" width="80">
        <template slot-scope="scope">
          <router-link :to="{name: 'clientEdit', params: {id: scope.row.id}}">
            <el-button type="primary" icon="el-icon-edit" circle />
          </router-link>
        </template>
      </el-table-column>

    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import clientFilter from '@/components/MDinput/clientFilter'
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchClientsList } from '@/api/my_client_list'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  name: 'History',
  components: {
    MdInput,
    clientFilter,
    Pagination
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      listQuery: {
        page: 1,
        limit: 20,
        userFilters: {},
        sort: '+id'
      },
      total: 0,
      list: null,
      listLoading: true,
      downloadLoading: false
    }
  },
  computed: {
    userFilterFields() {
      return [
        //        {
        //          id: 1,
        //          fieldType: 'input',
        //          type: 'text',
        //          name: 'name',
        //          title: 'Имя клиента',
        //          required: false,
        //          minLength: 4,
        //          mask: '',
        //          placeholder: ''
        //        },
        {
          id: 2,
          fieldType: 'input',
          type: 'email',
          name: 'email',
          title: 'Email клиента',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          type: 'text',
          name: 'card_id',
          title: 'Card id',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'input',
          type: 'tel',
          name: 'phone',
          title: 'Телефон',
          required: false,
          minLength: 13,
          mask: '+375 ## ###-##-##',
          placeholder: '+375'
        },
        {
          id: 5,
          fieldType: 'calendar',
          type: 'text',
          name: 'birthDate',
          title: 'Дата рождения',
          required: false,
          minLength: 5,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  beforeCreate() {
    this.$store.dispatch('getRecommends')
  },
  created() {
    this.getList()
  },
  methods: {
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Card ID', 'Фамилия', 'Имя', 'Email', 'Телефон', 'Скидка, %', 'Cashback, BYN', 'Дата рождения', 'Создан', 'Как пришел', 'Размер рубашки', 'Размер брюк', 'Размер обуви']
        const filterVal = ['card_id', 'surname', 'name', 'email', 'phone', 'discount', 'cashback', 'birthDate', 'created', 'found_out', 'shirtSize', 'trouserSize', 'shoeSize']
        const list = this.$store.getters.allClients.items
        const data = this.formatJson(filterVal, list)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: this.filename,
          autoWidth: this.autoWidth,
          bookType: this.bookType
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        if (j === 'created' || j === 'birthDate') {
          return this.$options.filters.parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    getList() {
      this.listLoading = true
      fetchClientsList(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total

        this.listLoading = false
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>

<style lang="scss" scoped>
    .edit-input {
        padding-right: 100px;
    }
    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
    }
  .add_btn_wrp {
    text-align: right;
    margin-bottom: 40px;
  }
  .table_info_subrow {
    /*font-weight: 600;*/
    font-size: 120%;
      text-shadow: 0 0;

    display: flex;
    align-items: center;

      .arr_item {
          &:not(:last-of-type)::after {
              content: ", ";
          }
      }
      .subrow_title {
          font-weight: 600;
      }
  }
</style>
