<template>
  <div class="app-container">
    <div class="row">
      <div class="col-12">
        <h1>Новая задача</h1>
      </div>
      <div class="col-12 d-flex flex-column">
        <div class="form_custom_wrap">

          <md-input
            v-for="field in fields"
            :key="field.id"
            v-model="taskData[field.name]"
            :disabled="field.disabled"
            :field-type="field.fieldType"
            :multiple="field.multiple"
            :options="field.options"
            :name="field.title"
            :required="field.required"
            :type="field.type"
            :mask="field.mask"
            :minlength="field.min"
            :placeholder="field.placeholder"
            class="pb-3 fix_select"
            style="width: 100%;"
          >
            {{ field.title }}
          </md-input>

          <button
            class="main_btn ml-auto"
            :class="{'disabled': !formValid}"
            @click.prevent="submit"
          >
            Создать
          </button>

          <router-link :to="{name: 'tasks'}" class="back_link">
            <i class="el-icon-back mr-1" /> К списку задач
          </router-link>

        </div>

        <!--todo DEL-->
        <hr>
        <h3>taskData: {{ taskData }}</h3>

      </div>
    </div>
  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'

export default {
  components: {
    MdInput
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      taskData: { // todo add commented data
        //          id: 1,
        author: 'Me', // current user name
        manager: null,
        title: null,
        state: 1,
        //          created: '2018-10-22',
        //          updated: '2018-10-25',
        deadline: null,
        describtion: null
      }
    }
  },
  computed: {
    formValid() {
      if (!this.taskData) return false

      if (!this.taskData.manager || !this.taskData.title) return false

      return true
    },
    allManagers() {
      return [
        {
          value: 1,
          title: 'manager_1'
        },
        {
          value: 2,
          title: 'manager_2'
        }
      ]
      //        todo make request for all managers
    },
    taskStates() {
      const fakeData = [
        { value: 1, title: 'Открыта' },
        { value: 2, title: 'В процессе' },
        { value: 3, title: 'Отменена' },
        { value: 4, title: 'Закрыта' }
      ]

      console.log(fakeData)
      return fakeData
    },
    fields() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'title',
          title: 'Заголовок',
          required: true,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'select',
          name: 'manager',
          options: this.allManagers,
          multiple: false,
          title: 'Исполнитель',
          required: true,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          type: 'text',
          name: 'author',
          title: 'Автор',
          required: true,
          minLength: 2,
          mask: '',
          placeholder: '',
          disabled: true
        },
        {
          id: 4,
          fieldType: 'select',
          name: 'state',
          options: this.taskStates,
          multiple: false,
          title: 'Статус',
          required: true,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'calendar',
          name: 'deadline',
          multiple: false,
          title: 'Deadline',
          required: true,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 6,
          fieldType: 'textarea',
          name: 'describtion',
          title: 'Описание',
          required: true,
          minLength: 3,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  methods: {
    submit() {
      //        todo request + set dates and ID
      console.log(this.taskData)
    }
  }
}
</script>

<style lang="scss">
  .form_custom_wrap {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin-right: auto;
  }
  .back_link {
    text-decoration: underline;
  }
</style>
