<template>
  <div class="app-container">
    <div class="row">
      <div class="col-12">
        <h1>Задачи</h1>
      </div>

      <div class="col-12 d-flex">
        <!--todo - add as params current user id to createTask page-->
        <router-link :to="{name: 'createTask'}" class="pan-btn blue-btn ml-auto">Добавить задачу</router-link>
      </div>
      <div class="col-12">
        <el-tabs v-model="activeName" class="custom_table">
          <el-tab-pane label="Мои задания" name="first">
            <task-table :tasks="myTasks" />
          </el-tab-pane>
          <el-tab-pane label="Поставленные мною задачи" name="second">
            <task-table :tasks="usersTasks" />
          </el-tab-pane>
          <el-tab-pane label="Все задачи" name="third">
            <task-table :tasks="allTasks" />
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import taskTable from './components/taskTable.vue'

export default {
  components: {
    taskTable
  },
  data() {
    return {
      myTasks: null,
      usersTasks: null,
      activeName: 'first'
    }
  },
  computed: {
    allTasks() {
      if (!this.myTasks || !this.usersTasks) return null

      // todo get all tasks here and return instead of this shit:
      return this.myTasks.concat(this.usersTasks)
    }
  },
  mounted() {
    this.getMyTasks()
  },
  methods: {
    getMyTasks() {
      // todo make request here
      const fakeData = [
        {
          id: 1,
          author: 'Author Name', // current user name
          manager: 'Manager Name',
          title: 'Small task',
          state: { id: 1, title: 'Открыта' },
          created: '2018-10-22',
          updated: '2018-10-25',
          deadline: '2018-12-01'
        },
        {
          id: 2,
          author: 'Author Name', // current user name
          manager: 'Igor',
          title: 'собраться с духом к медиуму',
          state: { id: 2, title: 'В процессе' },
          created: '2018-10-22',
          updated: '2018-10-25',
          deadline: '2018-12-01'
        }
      ]
      const fakeUsersTasks = [
        {
          id: 1,
          author: 'Author Name', // current user name
          manager: 'Manager Name',
          title: 'Small task',
          state: { id: 3, title: 'Отменена' },
          created: '2018-10-22',
          updated: '2018-10-25',
          deadline: '2018-12-01'
        },
        {
          id: 2,
          author: 'Author Name', // current user name
          manager: 'Igor',
          title: 'собраться с духом к медиуму',
          state: { id: 4, title: 'Закрыта' },
          created: '2018-10-22',
          updated: '2018-10-25',
          deadline: '2018-12-01'
        }
      ]

      this.myTasks = fakeData
      this.usersTasks = fakeUsersTasks
    }
  }
}
</script>

<style lang="scss">
  .custom_table {
    .el-tabs__item {
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
</style>
