//custom fonts
@font-face {
  font-family: 'ProximaNova';
  src: url('./../assets/fonts/ProximaNova-Reg.eot');
  src: local('O'), url('./../assets/fonts/ProximaNova-Reg.woff') format('woff'), url('./../assets/fonts/ProximaNova-Reg.ttf') format('truetype'), url('./../assets/fonts/ProximaNova-Reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('./../assets/fonts/ProximaNova-Light.eot');
  src: local('O'), url('./../assets/fonts/ProximaNova-Light.woff') format('woff'), url('./../assets/fonts/ProximaNova-Light.ttf') format('truetype'), url('./../assets/fonts/ProximaNova-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Condensed';
  src: url('./../assets/fonts/ProximaNova-CondensedRegular.eot');
  src: local('O'), url('./../assets/fonts/ProximaNova-CondensedRegular.woff') format('woff'), url('./../assets/fonts/ProximaNova-CondensedRegular.ttf') format('truetype'), url('./../assets/fonts/ProximaNova-CondensedRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Condensed Semibold';
  src: url('http://test.wikiodavlenii.ru/pijon/fonts/ProximaNovaCondensedSemibold.eot');
  src: local('O'), url('./../assets/fonts/ProximaNova-CondensedSemibold.woff') format('woff'), url('./../assets/fonts/ProximaNova-CondensedSemibold.ttf') format('truetype'), url('./../assets/fonts/ProximaNova-CondensedSemibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaExCn-Sbold';
  src: url('./../assets/fonts/ProximaNovaExCn-Sbold.eot');
  src: local('O'), url('./../assets/fonts/ProximaNovaExCn-Sbold.woff') format('woff'), url('./../assets/fonts/ProximaNovaExCn-Sbold.ttf') format('truetype'), url('./../assets/fonts/ProximaNovaExCn-Sbold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaExCn-Regular';
  src: url('./../assets/fonts/ProximaNovaExCn-Reg.eot');
  src: local('O'), url('./../assets/fonts/ProximaNovaExCn-Reg.woff') format('woff'), url('./../assets/fonts/ProximaNovaExCn-Reg.ttf') format('truetype'), url('./../assets/fonts/ProximaNovaExCn-Reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.components-container {
  max-width: 1300px;
}
// vars
%transition {
  transition: all .6s;
}
$main_color: #000;
$white_txt: #fff;

// font fixes:
%font_fix_13 {
  @media (max-width: 479px) {
    font-size: 2.71vw !important;
  }
  @media (max-width: 420px) {
    font-size: 11px !important;
  }
}

%font_fix_16 {
  @media (max-width: 479px) {
    font-size: 3.2vw !important;
  }
}

%font_fix_18 {
  @media (max-width: 479px) {
    font-size: 3.75vw !important;
  }
}

%font_fix_21 {
  @media (max-width: 479px) {
    font-size: 4.34vw !important;
  }
}

%font_fix_22 {
  @media (max-width: 479px) {
    font-size: 5.5vw !important;
  }
}
%font_fix_25 {
  @media (max-width: 479px) {
    font-size: 5.25vw !important;
  }
}
%font_fix_28 {
  @media (max-width: 479px) {
    font-size: 5.6vw !important;
  }
}
%font_fix_30 {
  @media (max-width: 479px) {
    font-size: 6.24vw !important;
  }
}

// vue animations
.fade-leave-active {
  position: absolute;
  left: 0;
  right: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.main_btn {
  cursor: pointer;
  background: $main_color;
  color: $white_txt;
  border: 2px solid $main_color;

  display: inline-block;
  padding: 5px 15px;
  word-break: initial;
  line-height: 130%;

  @extend %transition;

  &:hover {
    color: $main_color;
    background: $white_txt;
  }

  &.btn_sm {
    font-size: 80%;
    padding: 3px 10px;
  }
  &.excel_btn {
    background: #217245;
    border-color: #217245;
    
    &:hover {
      color: #217245;
      background-color: transparent;
    }
  }
}
$btnBlue: #5dacfe;
$btnBlack: #4e4e4e;

.suggestIncBtn {
  font-size: 36px;
  text-shadow: 0 0 3px $btnBlue;
  //line-height: 0;
  border-radius: 4px;
  color: $btnBlack;
  font-weight: 600;
  background: transparent;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  outline: none;
  cursor: pointer;

  transition: all .6s;

  &:hover {
    text-shadow: none;
    background: $btnBlack;
    color: $white_txt;
  }
}
.btn_remove {
  font-size: 26px;
  line-height: 14px;
  border: none;
  position: absolute;
  z-index: 30;
  top: 0;
  right: 10px;
  color: #000;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  width: 20px;
  align-items: center;
  justify-content: center;
}
.disabled {
  background: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
  pointer-events: none !important;
}

//additional styles:
img,
video,
iframe {
  max-width: 100%;
}


.carousel_item_remove_btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  right: 4px;
  z-index: 22;

  cursor: pointer;

  background: rgba(204, 204, 204, 0.5) url(./../assets/SVG/close.svg) center no-repeat;
  background-size: 16px 16px;

  transition: all .6s;

  &:hover {
    background-color: rgba(204, 204, 204, 0.8);
  }
}
.main_img_wrap {
  display: inline-block;
  position: relative;
}
.el-carousel__item--card {
  background: #ccc;
}
.pz_demo_wrap {
  font-size: 13px;
}
.block-title {
  font-family: 'ProximaNovaExCn-Sbold';
  font-size: 30px;
  margin: 0 0 20px;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
}

.advices-list .single-advice .si-name .el-textarea__inner{
  font-family: 'ProximaNova-Condensed';
  letter-spacing: 1.5px;
  font-size: 11px;
  line-height: 18px;
  //text-transform: uppercase;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
.el-range-editor.el-input__inner {
  max-width: 100%;
}

//single blog page start:
.blog_preview {
  font-size: 16px;
  max-height: 650px;
  width: 100%;
  position: relative;
  overflow: hidden;

  @media (max-width: 1200px) {
    max-height: 47vw;
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 575px) {
    padding-left: 0;
    padding-right: 0;
    max-height: initial;
    height: 480px;
  }
  @media (max-width: 480px) {
    width: 100vw;
    height: 100vw;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; object-position: top;
  }

  .blog_preview_overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

    background-image: linear-gradient(to top, #4c4c4c, rgba(255,255,255,0));

    color: $white_txt;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;

    @media (max-width: 575px) {
      left: 0;
      right: 0;
    }
  }
  .blog_overlay_category {
    font-family: 'ProximaNova-Condensed';
    font-size: 1.125em;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    @extend %font_fix_18;
    @media (max-width: 575px) {
      font-size: 18px;
      padding-bottom: 2px;
    }
  }
  .blog_overlay_title {
    font-family: 'ProximaNovaExCn-Sbold';
    font-size: 2.5em;
    line-height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    @extend %font_fix_30;

    @media (max-width: 575px){
      font-size: 30px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  .blog_overlay_info {
    font-family: 'ProximaNova-Light';
    font-size: 1.125em;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    margin-top: 8px;

    //@extend %blog_info_mobile !optional;

    .blog_item_date {
      padding-left: 10px;
      border-left: 1px solid #f4f4f4;
    }
    .blog_item_view_counter {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .view_count {
      margin-right: 10px;
    }

    svg {
      width: 1em;
      margin-right: .35em;

      path {
        fill: $white_txt;
      }
    }
  }
}

.container {
  max-width: 1210px;
}


// blog preview
$txt_bold: 'ProximaNova-Condensed Semibold';
$txt_light: 'ProximaNova-Light';
$bright_txt: #C4AF87;
$gray_txt: #BBBBBB;

.blog_item_sm {
  max-width: 276.5px;

  margin-top: 25px;
  margin-bottom: 25px;

  .blog_label {
    font-family: $txt_light;
    text-transform: uppercase;
    color: $bright_txt;

    position: absolute;
    right:0;
    top: -20px;
  }
  .blog_item_inner {
    position: relative;
    @media (max-width: 576px) {
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .blog_item_img {
    width: 100%;
  }
  .blog_item_info {
    font-size: 90%;
    line-height: 110%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: $gray_txt;

    display: flex;
    align-items: center;
  }
  .blog_item_view_counter {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
      width: 16px;

      path {
        fill: $gray_txt;
      }
    }
    .view_count {
      margin-right: 10px;
    }
  }
  .blog_item_date {
    padding-left: 10px;
    border-left: 1px solid $gray_txt;
  }
  .blog_item_title {
    font-family: $txt_bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 134%;
    margin-bottom: 10px;
    display: inline-block;
  }
  .blog_item_txt {
    font-family: $txt_light;
    line-height: 134%;
    letter-spacing: 0.04em;
  }
  //sm item end
}

.tinymce-container {
  max-width: 1100px;
}

.lockbook_slide {
  width: 277px !important;
  position: relative;

  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
  text-align: center;
  color: $white_txt;

  @media (max-width: 481px) {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    width: 100%;
  }
  .slide_title {
    font-family: 'ProximaNovaExCn-Regular';
    font-size: 30px;

    letter-spacing: .1em;
    margin-top: 20px;
    margin-bottom: 8px;

    @extend %font_fix_30;

    @media (max-width: 992px) {
      font-size: 38px;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
  .slide_txt {
    font-size: 13px;
    color: #cbcbcb;
    @extend %font_fix_18;

    @media (max-width: 992px) {
      font-size: 18px;
    }
  }
}

.wrap_black {
  background: #000;
  padding: 100px 30px;

  color: #fff;
  
  * {
    color: #fff;
  }
}

.img_remove_wrap {
  position: relative;
  transition: all .6s;

  img {
    transition: all .6s;
  }

  &:hover {
    img {
      filter: grayscale(100%)
    }
    .removeBtn_v2 {
      display: block;
    }
  }

  .removeBtn_v2 {
    display: none;
  }
}
.removeBtn_v2 {
  cursor: pointer;

  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);

  background-color: #fff;
  mask: url(./../assets/SVG/trash.svg) center no-repeat;
  mask-size: contain;
}

.editable_input {
  max-width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #363636;
  text-align: center;
}


.customTabSwitch {
  cursor: pointer;
  color: #3a3a3a;
  user-select: none;

  @extend %transition;
}
.customTabSwitch.active, .customTabSwitch:hover {
  color: #f4f4f4;
}

.custom_tab_inner {
  color: $white_txt;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .custom_tab_txt {
    font-size: 16px;
    line-height: 131%;
    flex: 0 1 250px;
    margin-right: 30px;

    @extend %font_fix_18;

    @media (max-width: 576px) {
      font-size: 18px;
      flex: 1 1 100%;
      margin-bottom: 45px;
      margin-right: 0;
      text-align: center;
    }
  }
  .custom_tab_col {
    font-family: 'ProximaNova-Light';
    flex: 0 1 390px;

    display: flex;
    flex-direction: column;

    @media (max-width: 576px){
      flex: 1 1 100%;
    }
  }
  .custom_tab_point {
    font-size: 13px;
    letter-spacing: .06em;
    color: #eaeaea;

    position: relative;

    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #3a3a3a;

    @extend %font_fix_16;

    @media (max-width: 576px){
      font-size: 16px;

      position: relative;

      &:after {
        content: '';
        display: block;
        height: 4px;
        background: #000;

        position: absolute;
        top: calc(100% - 2px);
        width: 16%;
        right: 0;
      }
    }

    a {
      color: $bright_txt;

      &:hover {
        text-decoration: underline;
      }
    }

    &:first-of-type {
      padding-top: 0;

      .carousel_item_remove_btn {
        top: -6px;
      }
      .add_btn {
        top: -10px;
      }
    }
    &:last-of-type {
      border: none;
    }
  }
  .note_row {
    font-family: 'ProximaNova-Light';
    font-size: 11px;
    letter-spacing: .07em;
    color: #cbcbcb;

    margin-top: 69px;

    @extend %font_fix_13;

    @media (max-width: 576px) {
      font-size: 13px;
      text-align: center;
      margin-top: 36px;
    }
  }
}

.black_textarea {
  font-size: inherit;
  line-height: inherit;
  background-color: #000;
  color: #fff;

  .el-textarea__inner {
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    background-color: #000;
    color: #fff;
  }
}

.add_btn {
  font-size: 26px;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  position: absolute;
  z-index: 99;
  right: 4px;
  top: 10px;

  width: 20px;
  height: 20px;

  background: rgb(95,95,95);
  color: rgb(64, 158, 255);
}

.login-container {
  background-color: #000 !important;
  
  .tips,
  .title,
  .el-input input {
    color: rgb(64, 158, 255) !important;
  }
  .el-button--primary {
    background: rgb(64, 158, 255) !important;
  }
  .el-form-item {
    background: rgba(64, 158, 255, .2) !important;
  }
}

.el-carousel__item {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.select_style_title {
  margin-bottom: auto;
  font-weight: 600;
  color: #9e9e9e;
}

.el-table .cell {
  word-break: initial;
}
