/*
GLOBAL COLORS
*/

$vs-primary = 0, 0, 0
$vs-secondary = 121, 49, 177
$vs-danger = 255, 71, 87
$vs-success = 70, 201, 58
$vs-warning = 255,186,0
$vs-dark = 30, 30, 30
$vs-light = 245, 245, 245


$vs-colors := {
  primary: $vs-primary,
  secondary: $vs-secondary,
  danger: $vs-danger,
  success: $vs-success,
  warning: $vs-warning,
  dark: $vs-dark,
  light: $vs-light
}



