<template>
  <div>
    <transition-group tag="div" name="fade" mode="out-in">
      <el-table v-if="tasks" key="1" v-loading="listLoading" :data="tasks" border fit highlight-current-row style="width: 100%" class="fixhead_table">

        <el-table-column align="center" label="Автор">
          <template slot-scope="scope">
            <span>{{ scope.row.author }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Исполнитель">
          <template slot-scope="scope">
            <span>{{ scope.row.manager }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Заголовок">
          <template slot-scope="scope">
            <span><b>{{ scope.row.title }}</b></span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Статус">
          <template slot-scope="scope">
            <span
              class="state"
              :class="getStateClass(scope.row.state.id)"
            >{{ scope.row.state.title }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Создана">
          <template slot-scope="scope">
            <span v-if="scope.row.created">{{ scope.row.created }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Обновлена">
          <template slot-scope="scope">
            <span v-if="scope.row.updated">{{ scope.row.updated }}</span>
          </template>
        </el-table-column>

        <el-table-column align="center" label="Deadline">
          <template slot-scope="scope">
            <span v-if="scope.row.deadline">{{ scope.row.deadline }}</span>
          </template>
        </el-table-column>

      </el-table>
      <h3 v-else="" key="2">Задач нет</h3>
    </transition-group>
  </div>
</template>

<script>
export default {
  props: {
    tasks: {
      type: Array,
      default() {
        return null
      }
    }
  },
  data() {
    return {

    }
  },
  computed: {
    listLoading() {
      if (!this.tasks) return true
      return false
    }
  },
  methods: {
    getStateClass(id) {
      if (+id === 1) { // Открыта
        return 'orange'
      }
      if (+id === 2) { // В процессе
        return 'blue'
      }
      if (+id === 3) { // Отменена
        return 'gray'
      }
      if (+id === 4) { // Закрыта
        return 'green'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .state {
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 5px;

    &.orange {
      background: #ff684f;
    }
    &.blue {
      background: #6397ff;
    }
    &.gray {
      background: gray;
    }
    &.green {
      background: #29ac54;
    }
  }
</style>
