<template>
  <div v-if="userData" class="components-container">

    <h1>Карточка клиента</h1>
    <div class="row">
      <div class="col-12 col-lg-7 mb-5">
        <div v-if="!showUploadMain || userData.images && userData.images.main_img" class="main_img_wrap">
          <div
            class="carousel_item_remove_btn"
            @click="removeMainImg"
          />
          <img :src="userData.images.main_img" alt="Главное изображение">
        </div>

        <div v-else>
          <!--todo set action-->
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-success="successUploadMainImg"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove"
            class="my-3"
          >
            <i class="el-icon-plus" />
          </el-upload>
          <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt="">
          </el-dialog>
        </div>

        <el-carousel v-if="userData.images && userData.images.other && userData.images.other.length" :interval="4000" type="card" height="200px">
          <el-carousel-item v-for="img in userData.images.other" :key="img.id" class="position-relative">

            <div
              class="carousel_item_remove_btn"
              @click="removeImg(img.id)"
            />

            <img :src="img.src" alt="изображение">
          </el-carousel-item>
        </el-carousel>
        <div class="w-100">
          <el-upload
            multiple
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-remove="otherRemove"
            :on-success="successUploadOther"
            list-type="picture"
          >
            <el-button size="small" type="primary">Загрузить доп. изображения</el-button>
            <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
          </el-upload>
        </div>

      </div>
      <div class="col-12 col-lg-5 mb-3">
        <div class="params_wrap">
          <div class="params_row">
            <b>Кошелек</b><b class="spaced">{{ userData.total }} BYN</b>
          </div>
          <div class="params_row">
            <b>Скидка</b><b class="spaced">{{ userData.discount }}%</b>
          </div>
          <div class="params_row justify-content-start mt-2">
            <el-radio v-model="userData.sex" label="male">Муж</el-radio>
            <el-radio v-model="userData.sex" label="female">Жен</el-radio>
          </div>
        </div>
        <div>
          <div class="params_row fz_sm mt-5 d-inline-flex">
            <span>Дата создания карточки</span> <span class="spaced">{{ userData.created | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <el-form ref="formValidate" :rules="rules" :model="userData">

      <div class="client_forms_grid">
        <el-form-item prop="title">
          <h2>Основная информация</h2>
          <div class="user_main_inputs">
            <el-form-item
              v-for="field in userFieldsMain"
              :key="field.id"
              :prop="field.name"
              class="mb-4"
            >
              <md-input
                v-model="userData[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
              >
                {{ field.title }}
              </md-input>
            </el-form-item>
          </div>
        </el-form-item>

        <div class="additional_info_wrap">
          <el-form-item prop="title">
            <h2 class="grid_hdr">Дополнительная информация</h2>
            <div
              v-for="field in userFieldsSecondary"
              :key="field.id"
              class="pt-3"
            >
              <md-input
                v-if="userData"
                v-model="userData[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :title="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
              >
                {{ field.title }}
              </md-input>
            </div>

            <div
              v-for="field in userFieldsSecondary_part2"
              :key="field.id"
              class="pt-3"
            >
              <md-input
                v-if="userData"
                v-model="userData[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :title="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
              >
                {{ field.title }}
              </md-input>
            </div>
          </el-form-item>

          <div class="form_btns_wrap">
            <router-link :to="{name: 'history', params:{'userID': userID}}" class="pan-btn yellow-btn mb-3" @click.prevent="showHistory">История покупок</router-link>
            <button class="pan-btn blue-btn" @click.prevent="updateClient">Сохранить изменения</button>
          </div>
        </div>

      </div>

    </el-form>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchClient, updateClient } from '@/api/my_client_list'

export default {
  name: 'Clients',
  components: {
    MdInput
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      showUploadMain: true,
      userData: null,
      dialogImageUrl: '',
      dialogVisible: false,
      rules: {
        surname: [
          { min: 2, message: 'Минимум 2 символа', trigger: 'blur' }
        ],
        name: [
          { required: true, message: 'Необходимое поле', trigger: 'blur' },
          { min: 2, message: 'Минимум 2 символа', trigger: 'blur' }
        ],
        phone: [
          { required: true, message: 'Необходимое поле', trigger: 'blur' },
          { min: 12, message: 'формат +375 XX XXX-XX-XX', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    userID() {
      return this.$route.params.id
    },
    userFieldsMain() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'card_id',
          title: 'Card id',
          required: true,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          type: 'text',
          name: 'surname',
          title: 'Фамилия',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          type: 'text',
          name: 'name',
          title: 'Имя*',
          required: true,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'input',
          type: 'text',
          name: 'patronymic',
          title: 'Отчество',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'input',
          type: 'tel',
          name: 'phone',
          title: 'Телефон*',
          required: true,
          minLength: 13,
          mask: '+375 ## ###-##-##',
          placeholder: '+375'
        },
        {
          id: 6,
          fieldType: 'input',
          type: 'email',
          name: 'email',
          title: 'E-mail',
          required: false,
          minLength: 5,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'calendar',
          type: 'text',
          name: 'birthDate',
          title: 'Дата рождения',
          required: false,
          minLength: 5,
          mask: '',
          placeholder: ''
        },
        {
          id: 8,
          fieldType: 'input',
          type: 'url',
          name: 'instLink',
          title: 'Instagramm',
          required: false,
          minLength: 5,
          mask: '',
          placeholder: ''
        }
      ]
    },
    userFieldsSecondary() {
      return [
        {
          id: 1,
          fieldType: 'input',
          name: 'country',
          title: 'Страна',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          name: 'city',
          title: 'Город',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          name: 'postIdx',
          title: 'Почтовый индекс',
          required: false,
          minLength: 4,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'input',
          name: 'postAddr',
          title: 'Почтовый адрес',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'select',
          name: 'tags_main',
          options: this.arrToSelectFormat(this.$store.getters.tags) || [],
          title: 'Теги (интересы)',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 51,
          fieldType: 'select',
          name: 'tags_client',
          options: this.arrToSelectFormat(this.$store.getters.aboutTags) || [],
          title: 'Теги (о клиенте)',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        }
      ]
    },
    userFieldsSecondary_part2() {
      return [
        {
          id: 7,
          fieldType: 'select',
          name: 'found_out',
          options: this.arrToSelectFormat(this.$store.getters.recommends) || [],
          title: 'Как пришел',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        // next for admin:
        {
          id: 8,
          fieldType: 'calendar',
          name: 'wedd_date',
          title: 'Дата свадьбы',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 9,
          fieldType: 'rate',
          name: 'rate',
          title: 'Рейтинг',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 10,
          fieldType: 'select',
          name: 'shirtSize',
          options: this.arrToSelectFormat(this.$store.getters.shirtSizes) || [],
          title: 'Размер рубашки',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 11,
          fieldType: 'select',
          name: 'trouserSize',
          options: this.arrToSelectFormat(this.$store.getters.trouserSizes) || [],
          title: 'Размер брюк',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 12,
          fieldType: 'select',
          name: 'shoeSize',
          options: this.arrToSelectFormat(this.$store.getters.shoeSizes) || [],
          title: 'Размер обуви',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 13,
          fieldType: 'textarea',
          name: 'comment',
          title: 'Комментарий',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 14,
          fieldType: 'input',
          name: 'job',
          title: 'Работа',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 15,
          fieldType: 'select',
          name: 'position',
          options: this.arrToSelectFormat(this.$store.getters.positions) || [],
          title: 'Должность',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 16,
          fieldType: 'input',
          type: 'text',
          name: 'discount',
          title: 'Скидка, %',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 17,
          fieldType: 'input',
          type: 'text',
          name: 'cashback',
          title: 'Cashback, BYN',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  },
  beforeCreate() {
    this.$store.dispatch('getSelectTags')
    this.$store.dispatch('getAboutTags')
    this.$store.dispatch('getRecommends')
    this.$store.dispatch('getShirtsSizes')
    this.$store.dispatch('getTrousersSizes')
    this.$store.dispatch('getShoesSizes')
    this.$store.dispatch('getPositions')
    this.$store.dispatch('getUserImages')
  },
  created() {
    this.getUser()
  },
  methods: {
    updateClient() {
      this.$refs.formValidate.validate(isValid => {
        console.log(isValid)
        if (!isValid) return false

        updateClient(this.userID, this.userData).then(res => {
          console.log('USER UPDATED', res)

          this.$alert(' ', 'Изменения сохранены', {
            confirmButtonText: 'OK'
          })
        })
          .catch(() => {
            this.$alert('Ошибка запроса!', ':(', {
              confirmButtonText: 'OK'
            })
          })
      })
    },
    removeImg(ID) {
      this.userData.images.other.forEach((item, idx) => {
        if (item.id === ID) {
          this.userData.images.other.splice(idx, 1)
          return
        }
      })
    },
    getUser() {
      fetchClient(this.$route.params.id).then(response => {
        this.userData = response.data

        if (!response.data.images || !response.data.images.other) return false
        // handle other images
        const otherImgArr = []
        response.data.images.other.map((img, idx) => {
          otherImgArr.push(
            {
              id: idx,
              src: img
            }
          )
        })
        this.userData.images['other'] = otherImgArr
      })
    },
    sendData() {
      alert('Send data!')
    },
    handleRemove(file, fileList) {
      console.log(file, fileList)
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    },
    successUploadMainImg(res, file) {
      this.showUploadMain = false
      this.userData.images.main_img = {
        id: 1,
        src: file.url
      }
      console.log(this.userData.images.main_img)
    },
    removeMainImg() {
      this.showUploadMain = true
      this.userData.images.main_img = null
    },
    otherRemove(file, fileList) {
      console.log(file, fileList)
    },
    successUploadOther(res, file) {
      console.log(file)
      this.userData.images.other.push({
        id: file.uid,
        src: file.url
      })
    }
  }
}
</script>

<style lang="scss">
  .components-container {

    @media (max-width: 768px) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .form_btns_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .params_wrap {
    display: inline-flex;
    flex-direction: column;
  }
  .params_row {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .8em;

    &.fz_sm {
      font-size: 14px;
    }
    .el-radio__label {
      font-size: 1.3em;
    }
    .spaced {
      margin-left: 50px;
    }
  }
  .client_forms_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0 30px;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
      }

      h2 {
        line-height: 130%;
        margin-bottom: 14px;
      }
        .additional_info_wrap {
            grid-column: span 3;

            .el-form-item__content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 0 30px;

                @media (max-width: 768px) {
                  grid-template-columns: 1fr 1fr;
                }
                @media (max-width: 576px) {
                  grid-template-columns: 1fr;
                }

                .grid_hdr {
                  grid-column: span 3;

                  @media (max-width: 768px){
                    grid-column: span 2;
                  }
                  @media (max-width: 576px){
                    grid-column: span 1;
                  }
                }

                &::before,
                &::after {
                    content: none;
                }
            }
        }
  }
  .user_main_inputs {

    @media (max-width: 992px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0 30px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
</style>
