<template>
  <div class="app-container">
    <h2>Главная</h2>

    <el-row v-if="initGraph" style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <line-chart :chart-data="lineChartData" :dates="graphDates" />
      <h4 style="text-align: center;margin-top: 0;color: #3888fa;">График продаж</h4>
    </el-row>
    <el-row>
      <div class="el-col el-col-24 el-col-xs-24 el-col-sm-24 el-col-lg-12" style="padding: 15px;">
        <div class="chart-wrapper chart_col">
          <pie-chart
            v-if="pieCharData && initGraph"
            chart-name="Продажи по магазинам"
            :chart-data="pieCharData"
          />
          <h4 style="text-align: center;margin-top: 0;color: #3888fa;">Продажи по магазинам</h4>
        </div>
      </div>

    </el-row>
    <div class="fiter_wrap">
      <el-select
        v-model="filter.state"
        :disabled="changeLoads"
        placeholder="Статус"
        style="margin-right: 20px;"
        clearable
        @clear="getOrders"
      >
        <el-option
          v-for="item in statuses"
          :key="item.id"
          :label="item.title"
          :value="item.id"
        />
      </el-select>
      <button
        class="pan-btn blue-btn"
        @click.prevent="getFilteredOrders"
      >
        Отфильтровать
      </button>
    </div>

    <el-table
      v-if="ordersList"
      v-loading="ordersLoad"
      :data="ordersList"
      border-fit
      highlight-current-row
      style="width: 100%"
    >

      <el-table-column type="expand">
        <template slot-scope="scope">
          <div class="row">
            <div class="col-12">
              <h4 v-if="scope.row.address">Доп. информация</h4>
              <h4 v-if="scope.row.address">{{ scope.row.address }}</h4>

              <div class="customTable">
                <el-table
                  :data="scope.row.order_products"
                  border-fit
                  highlight-current-row
                  style="width: 100%;"
                >
                  <el-table-column align="center" label="Товар">
                    <template slot-scope="scope">
                      <div v-if="scope.row.title">
                        {{ scope.row.title }}
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" label="Количество">
                    <template slot-scope="scope">
                      <div v-if="scope.row.quantity">
                        {{ scope.row.quantity }}
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" label="Размер">
                    <template slot-scope="scope">
                      <div v-if="scope.row.size">
                        {{ scope.row.size }}
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column align="center" label="Цвет">
                    <template slot-scope="scope">
                      <span v-if="namedColorList && namedColorList[scope.row.color]">{{ namedColorList[scope.row.color] }}</span>
                      <span v-else class="error_output">color with id <b>{{ scope.row.color }}</b> not found in database!</span>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </div>
          </div>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Клиент" width="80">
        <template slot-scope="scope">
          <div v-if="scope.row.clientInfo">
            {{ scope.row['clientInfo'].name }}
          </div>
          <div v-if="scope.row.clientInfo == null">
            Интернет-магазин
          </div>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Товары">
        <template v-if="scope.row.order_products" slot-scope="scope">
          <div v-for="prod in scope.row.order_products" :key="prod.id">
            {{ prod.title }}
          </div>
        </template>
      </el-table-column>

      <!--      <el-table-column align="center" label="Менеджер" width="120">-->
      <!--        <template v-if="scope.row.manager" slot-scope="scope">-->
      <!--          {{ scope.row.manager }}-->
      <!--        </template>-->
      <!--      </el-table-column>-->

      <!--      <el-table-column align="center" label="Cashback, BYN" width="120">-->
      <!--        <template slot-scope="scope"> &lt;!&ndash; v-if="scope.row.cashback" &ndash;&gt;-->
      <!--          {{ scope.row.cashback }}-->
      <!--        </template>-->
      <!--      </el-table-column>-->

      <el-table-column align="center" label="Дата">
        <template v-if="scope.row.date" slot-scope="scope">
          {{ scope.row.date }}
        </template>
      </el-table-column>

      <el-table-column align="center" label="Магазин" width="120">
        <template v-if="shops && shops.length && scope.row.shop" slot-scope="scope">
          {{ shops.filter(shop => shop.id === scope.row.shop)[0].title }}
        </template>
      </el-table-column>

      <el-table-column v-if="statuses" align="center" label="Статус" width="160">
        <template slot-scope="scope">
          <el-select
            v-model="scope.row.status"
            :disabled="changeLoads"
            placeholder="Select"
            @change="changeOrderStatus(scope.row.id, $event)"
          >
            <el-option
              v-for="item in statuses"
              :key="item.id"
              :label="item.title"
              :value="item.id"
            />
          </el-select>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Сумма">
        <template v-if="scope.row.total" slot-scope="scope">
          {{ scope.row.total }} BYN
        </template>
      </el-table-column>

      <el-table-column align="center" width="70">
        <template slot-scope="scope">
          <el-button type="info" icon="el-icon-delete" circle @click="removeOrder(scope.row.id)" />
        </template>
      </el-table-column>

    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getOrders"
    />

  </div>
</template>

<script>
import { userDataMixin } from '@/mixins/custom_mixin'
import LineChart from './components/LineChart'
import PieChart from './components/PieChart'
import { fetchOrders, deleteOrder, fetchStatuses, updateOrderState } from '@/api/orders'
import { fetchShops } from '@/api/shops'
import { fetchColors } from '@/api/colors'
import { fetchClient } from '@/api/my_client_list'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const lineChartData = {
  purchases: {
    actualData: []
  }
}
export default {
  components: {
    LineChart,
    Pagination,
    PieChart
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      filter: {
        state: null
      },
      lineChartData: lineChartData.purchases,
      listQuery: {
        page: 1,
        limit: 20,
        sort: '+id'
      },
      total: 0,
      statuses: null,
      ordersList: null,
      ordersLoad: true,
      changeLoads: false,
      minMaxDate: null,
      graphDates: [],
      initGraph: false,
      shops: null,
      clientsByID: {}
    }
  },
  computed: {
    pieCharData() {
      if (!this.shops || !this.ordersList) return null

      const shopsVals = this.shops.map(shop => {
        return {
          id: shop.id,
          name: shop.title,
          value: 0
        }
      })

      const result = shopsVals.map(shop => {
        this.ordersList.forEach(order => {
          if (+order.shop === +shop.id) {
            shop.value += +order.total
          }
        })
        return shop
      })
      return result
    },
    namedColorList() {
      const colors = this.colors
      if (!colors) return null

      const result = {}
      colors.map(color => {
        result[color.value] = color.title // set color list;
      })
      return result
    },
    colors() {
      const colors = this.$store.getters.colors
      if (!colors) return null

      return colors.map(color => {
        return {
          value: color.id,
          title: color.title
        }
      })
    }
  },
  created() {
    this.getOrders()
    this.getOrderStatuses()
    this.getShops()
    this.getColors()
  },
  methods: {
    getColors() {
      fetchColors().then(res => this.$store.commit('setColors', res.data))
    },
    async clientParams(id) {
      if (this.clientsByID[id]) {
        return this.clientsByID[id]
      } else {
        const result = await fetchClient(id).then(res => {
          this.clientsByID[id] = res.data
          return res.data
        }).catch(err => console.error(err))
        return result
      }
    },
    getShops() {
      fetchShops().then(res => {
        this.shops = res.data.sort((a, b) => a.id - b.id).map(shop => {
          return {
            id: shop.id,
            title: shop.title
          }
        })
      })
    },

    getFilteredOrders() {
      this.getOrders(this.filter)
    },
    getOrders(query) {
      this.graphDates = []
      lineChartData.purchases.actualData = []

      this.initGraph = false
      this.ordersLoad = true

      fetchOrders(query).then(res => {
        const data = res.data
        console.log(data)
        this.ordersLoad = false

        Promise.all(data.map(async order => {
          if (!order.profile_id) return null
          order['clientInfo'] = await this.clientParams(order.profile_id)
          return order
        })).then(() => {
          this.ordersList = data
        })
          .then(res => {
            const totalsByDates = {}
            this.graphDates.forEach(graphDate => {
              let graphDateTotal = 0

              this.ordersList.forEach(order => {
                const date = this.$moment(order.date).format('DD-MM-YY')

                if (graphDate === date) {
                  graphDateTotal += order.total
                }
              })
              lineChartData.purchases.actualData.push(graphDateTotal)
            })

            for (const total in totalsByDates) {
              lineChartData.purchases.actualData.push(totalsByDates[total])
            }
            this.initGraph = true
            return res
          })

        const dates = []
        res.data.map(order => {
          dates.push(order.date)
        })
        dates.sort()
        if (dates.length > 1) {
          this.minMaxDate = [dates[0], dates[dates.length - 1]]

          const start = this.$moment(dates[0])
          const end = this.$moment(dates[dates.length - 1])
          const daysCount = end.diff(start, 'days') + 1

          this.graphDates.push(this.$moment(dates[0]).format())
          for (let i = 1; i < daysCount; i++) {
            this.graphDates.push(this.$moment(this.graphDates[i - 1]).add(1, 'days').format())
          }

          this.graphDates = this.graphDates.map(date => {
            return this.$moment(date).format('DD-MM-YY')
          })
        }
        return res
      })
    },
    getOrderStatuses() {
      fetchStatuses().then(res => {
        this.statuses = res.data.map(item => {
          return {
            id: item.id,
            title: item.title
          }
        })
      })
    },
    changeOrderStatus(orderID, $event) {
      const data = {
        status: $event
      }
      this.changeLoads = true

      updateOrderState(orderID, data).then(
        () => {
          this.alertEditSuccess()
        },
        () => {
          this.alertRequestFail()
        }
      )
        .then(() => {
          this.changeLoads = false
        })
    },
    removeOrder(orderID) {
      deleteOrder(orderID).then(
        () => {
          this.alertRemoveSyccess()
          this.ordersList = this.ordersList.filter(order => +order.id !== +orderID)
        },
        () => {
          this.alertRequestFail()
        }
      )
    }
  }
}
</script>
<style lang="scss">
  .chart_col {
    background: #f6fafe;
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .customTable {
    table, tr, th, td {
      background: rgba(167, 215, 255, 0.09);
    }
  }
</style>
