<template>
  <div class="components-container">
    <h2 v-if="blogID">Редактирование статьи</h2>
    <h2 v-else>Создание статьи</h2>

    <div class="row">
      <div class="col-lg-6">
        <h3>Основная информация:</h3>
        <md-input
          v-for="field in main_inputs"
          :key="field.id"
          v-model="blogData[field.name]"
          :field-type="field.fieldType"
          :options="field.options"
          :name="field.title"
          :multiple="field.multiple"
          :required="field.required"
          :type="field.type"
          :mask="field.mask"
          :minlength="field.min"
          :placeholder="field.placeholder"
          class="w-100 mb-4 mt-1"
        >
          {{ field.title }}
        </md-input>

        <md-input
          v-model="blogData.date"
          field-type="calendar"
          name="date"
          :required="true"
          class="w-100 mb-4 mt-1"
        >
          Дата публикации
        </md-input>

      </div>
      <!--todo if SEO admin-->
      <div class="col-lg-6">
        <h3>SEO поля:</h3>
        <md-input
          v-for="field in seoFields"
          :key="field.id"
          v-model="blogData.seo[field.name]"
          :field-type="field.fieldType"
          :options="field.options"
          :name="field.title"
          :multiple="field.multiple"
          :required="field.required"
          :type="field.type"
          :mask="field.mask"
          :minlength="field.min"
          :placeholder="field.placeholder"
          class="w-100 mb-4 mt-1"
        >
          {{ field.title }}
        </md-input>
      </div>
    </div>

    <div>
      <h3 class="d-block">Контент:</h3>
      <div v-if="blogID" :class="{container: blogData.img.main}">
        <div class="row">
          <div class="col-12 no-gutters">
            <h4>Баннер:</h4>
            <!--todo set action-->
            <el-upload
              v-if="!blogData.img.main"
              action="http://grizzly-dev.site/api/blog/post-images/main/store"
              name="main_img"
              :data="{post_id: blogID}"
              list-type="picture-card"
              :on-success="successUploadBlogImg"
              :on-remove="removeBlogImg"
              class="my-3"
            >
              <i class="el-icon-plus" />
            </el-upload>

            <div
              v-else
              class="col-12 blog_preview pz_demo_wrap"
              style="position: relative;"
            >
              <div
                class="carousel_item_remove_btn"
                @click="removeBlogImg"
              />
              <img :src="blogData.img.main" alt="blog image">
              <div class="blog_preview_overlay">
                <div class="blog_overlay_category">{{ activeTagTitle }}</div>
                <div class="blog_overlay_title">{{ blogData.title }}</div>
                <div class="blog_overlay_info">
                  <span class="blog_item_view_counter">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                      <g>
                        <g>
                          <path
                            d="M601.54,278.748c-6.587-7.757-13.571-14.997-20.271-21.605c-38.843-38.268-80.536-70.24-126.632-94.064
        c-33.015-17.06-65.411-28.299-96.724-33.9c-18.883-3.375-36.226-4.318-51.514-4.318c-15.954,0-33.652,0.844-52.52,4.318
        c-31.66,5.835-64.078,17.095-96.716,33.9c-44.806,23.08-86.804,54.789-126.632,94.064c-7.7,7.587-14.352,14.571-20.272,21.605
        c-13.685,16.238-13.671,37.594,0,53.838c16.245,19.316,37.942,39.482,65.142,61.158c57.888,46.104,114.613,75.387,170.175,87.441
        c19.556,4.184,39.885,5.955,60.823,5.955c20.272,0,40.261-1.771,59.824-5.955c56.214-12.125,113.06-41.197,170.834-87.441
        c28.973-23.193,50.096-43.893,64.482-61.158C615.409,315.945,615.565,295.262,601.54,278.748z M573.624,308.656
        c-14.628,17.953-34.836,36.553-59.83,56.506c-52.449,41.877-103.971,69.084-155.214,79.789c-18.89,3.9-36.227,5.318-52.181,5.318
        h-1c-16.287,0-33.284-1.488-51.521-5.318c-50.57-10.777-102.566-37.324-155.881-79.789
        c-25.129-20.018-44.869-38.887-59.157-56.506c-2.326-1.66-2.326-3.652,0-5.978c1.66-2.326,4.566-5.736,8.637-9.977
        c4.24-4.403,7.317-7.644,8.977-9.636c38.552-37.893,77.94-66.468,117.662-86.414c31.745-15.947,60.504-26.491,86.414-30.916
        c14.976-2.552,30.249-3.985,45.869-3.985c14.954,0,29.923,1.262,45.529,3.985c26.271,4.588,55.102,15.11,86.421,30.916
        c40.473,20.421,79.437,48.854,116.995,86.414c8.637,8.644,14.741,15.188,18.279,19.613
        C575.411,304.912,575.284,306.996,573.624,308.656z"
                          />
                          <path
                            d="M306.399,189.008c-32.241,0-60.164,11.295-83.095,34.234c-22.931,22.931-34.234,50.521-34.234,82.755
        c0,32.241,11.217,59.583,34.234,82.429c22.853,22.689,50.854,33.9,83.095,33.9c32.234,0,59.49-11.295,82.096-33.9
        c22.931-22.932,34.233-50.188,34.233-82.429c0-32.234-11.388-59.739-34.233-82.755
        C365.804,200.389,338.633,189.008,306.399,189.008z M362.564,362.502c-15.62,15.621-34.233,23.264-56.165,23.264
        c-22.271,0-41.218-7.977-56.838-23.598c-15.621-15.619-23.598-34.566-23.598-56.171c0-22.265,7.977-40.877,23.598-56.499
        c15.621-15.621,34.567-23.598,56.838-23.598c22.265,0,40.793,8.055,56.165,23.598c15.543,15.706,23.271,34.234,23.271,56.499
        C385.835,327.936,378.185,346.881,362.564,362.502z"
                          />
                        </g>
                      </g>
                    </svg>
                    <span class="view_count">{{ blogData.views || 0 }}</span>
                  </span>
                  <span class="blog_item_date">
                    {{ blogData.date || nowDate | moment("DD.MM.YY") }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="mt-5">Текст статьи:</h4>
      <tinymce ref="catTiny" v-model="blogData.content" class="w-100" style="max-width: 100%" :height="300" />
    </div>

    <div class="row mt-5">
      <h3 class="col-12">Превью:</h3>
      <div v-if="blogID" class="col-md-6">
        <tinymce ref="catTiny" v-model="blogData.preview" class="w-100" :height="300" />
      </div>
      <div v-else class="col-md-12">
        <tinymce ref="catTiny" v-model="blogData.preview" class="w-100" style="max-width: 100%" :height="300" />
      </div>

      <div v-if="blogID" class="col-md-6 pz_demo_wrap">
        <div class="blog_item_sm" style="margin: auto;">
          <div class="blog_item_inner">
            <div class="blog_label">{{ activeTagTitle }}</div>
            <div>

              <el-upload
                v-if="!blogData.img.preview"
                action="http://grizzly-dev.site/api/blog/post-images/preview/store"
                name="prev_img"
                :data="{post_id: blogID}"
                list-type="picture-card"
                :on-success="successUploadBlogPreview"
                :on-remove="removeBlogPreviewImg"
                class="my-3 text-center"
              >
                <i class="el-icon-plus" />
              </el-upload>
              <div v-else style="position: relative;">
                <div
                  class="carousel_item_remove_btn"
                  @click="removeBlogPreviewImg"
                />
                <img :src="blogData.img.preview" alt="blog image" class="blog_item_img">
              </div>

            </div>
            <div class="blog_item_info">
              <span class="blog_item_view_counter">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                  <g>
                    <g>
                      <path
                        d="M601.54,278.748c-6.587-7.757-13.571-14.997-20.271-21.605c-38.843-38.268-80.536-70.24-126.632-94.064
        c-33.015-17.06-65.411-28.299-96.724-33.9c-18.883-3.375-36.226-4.318-51.514-4.318c-15.954,0-33.652,0.844-52.52,4.318
        c-31.66,5.835-64.078,17.095-96.716,33.9c-44.806,23.08-86.804,54.789-126.632,94.064c-7.7,7.587-14.352,14.571-20.272,21.605
        c-13.685,16.238-13.671,37.594,0,53.838c16.245,19.316,37.942,39.482,65.142,61.158c57.888,46.104,114.613,75.387,170.175,87.441
        c19.556,4.184,39.885,5.955,60.823,5.955c20.272,0,40.261-1.771,59.824-5.955c56.214-12.125,113.06-41.197,170.834-87.441
        c28.973-23.193,50.096-43.893,64.482-61.158C615.409,315.945,615.565,295.262,601.54,278.748z M573.624,308.656
        c-14.628,17.953-34.836,36.553-59.83,56.506c-52.449,41.877-103.971,69.084-155.214,79.789c-18.89,3.9-36.227,5.318-52.181,5.318
        h-1c-16.287,0-33.284-1.488-51.521-5.318c-50.57-10.777-102.566-37.324-155.881-79.789
        c-25.129-20.018-44.869-38.887-59.157-56.506c-2.326-1.66-2.326-3.652,0-5.978c1.66-2.326,4.566-5.736,8.637-9.977
        c4.24-4.403,7.317-7.644,8.977-9.636c38.552-37.893,77.94-66.468,117.662-86.414c31.745-15.947,60.504-26.491,86.414-30.916
        c14.976-2.552,30.249-3.985,45.869-3.985c14.954,0,29.923,1.262,45.529,3.985c26.271,4.588,55.102,15.11,86.421,30.916
        c40.473,20.421,79.437,48.854,116.995,86.414c8.637,8.644,14.741,15.188,18.279,19.613
        C575.411,304.912,575.284,306.996,573.624,308.656z"
                      />
                      <path
                        d="M306.399,189.008c-32.241,0-60.164,11.295-83.095,34.234c-22.931,22.931-34.234,50.521-34.234,82.755
        c0,32.241,11.217,59.583,34.234,82.429c22.853,22.689,50.854,33.9,83.095,33.9c32.234,0,59.49-11.295,82.096-33.9
        c22.931-22.932,34.233-50.188,34.233-82.429c0-32.234-11.388-59.739-34.233-82.755
        C365.804,200.389,338.633,189.008,306.399,189.008z M362.564,362.502c-15.62,15.621-34.233,23.264-56.165,23.264
        c-22.271,0-41.218-7.977-56.838-23.598c-15.621-15.619-23.598-34.566-23.598-56.171c0-22.265,7.977-40.877,23.598-56.499
        c15.621-15.621,34.567-23.598,56.838-23.598c22.265,0,40.793,8.055,56.165,23.598c15.543,15.706,23.271,34.234,23.271,56.499
        C385.835,327.936,378.185,346.881,362.564,362.502z"
                      />
                    </g>
                  </g>
                </svg>
                <span class="view_count">{{ blogData.views || 0 }}</span>
              </span>
              <span class="blog_item_date">
                {{ blogData.date || nowDate | moment("DD.MM.YY") }}
              </span>
            </div>
            <div class="blog_item_title">
              {{ blogData.title }}
            </div>
            <div class="blog_item_txt" v-html="blogData.preview" />
          </div>
        </div>
      </div>

      <div v-if="blogID" class="col-12 d-flex mt-3 mb-5 pb-5">
        <button
          class="pan-btn blue-btn ml-auto"
          @click="submitArticle"
        >Сохранить изменения</button>
      </div>
      <div v-else class="col-12 d-flex mt-3 mb-5 pb-5">
        <button
          class="pan-btn blue-btn ml-auto"
          :class="{disabled: !validPost}"
          @click="createArticle"
        >Создать</button>
      </div>

    </div>
  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import Tinymce from '@/components/Tinymce'
import { fetchBlogArticle, fetchBlogArticleUpdate, fetchBlogArticleCreate, fetchRemoveBlogArticleMainImg, fetchRemoveBlogArticlePreviewImg } from '@/api/blogArticles'
import { fetchBlogTags } from '@/api/blogEdit'

export default {
  components: {
    MdInput,
    Tinymce
  },
  data() {
    return {
      blogID: this.$route.params.id,
      blogData: {
        id: null,
        title: null,
        alias: null,
        date: null,
        views: null,
        tag: null,
        seo: {
          h1: null,
          title: null,
          description: null
        },
        preview: null,
        content: null,
        img: {
          preview: null,
          main: null
        }
      },
      tagsList: null,
      nowDate: Date.now()
    }
  },
  computed: {
    main_inputs() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'title',
          title: 'Заголовок*',
          required: true,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          type: 'text',
          name: 'alias',
          title: 'Alias',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'select',
          name: 'tag',
          options: this.tagsList,
          title: 'Тег*',
          required: true,
          minLength: 2,
          mask: '',
          placeholder: '',
          multiple: false
        }
      ]
    },
    seoFields() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'h1',
          title: 'h1',
          required: true,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          type: 'text',
          name: 'title',
          title: 'title',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'textarea',
          name: 'description',
          title: 'description',
          required: false,
          minLength: 2,
          mask: '',
          placeholder: ''
        }
      ]
    },
    activeTagTitle() {
      if (!this.blogData || !this.tagsList) return null

      const id = this.blogData.tag
      let resultTitle = null

      this.tagsList.forEach(tagObj => {
        if (tagObj.value === id) {
          resultTitle = tagObj.title
          return false
        }
      })

      return resultTitle
    },
    validPost() {
      if (!this.blogData.title || !this.blogData.tag) return false
      return true
    }
  },
  watch: {
    'blogData.date': {
      handler: 'handleDateDefault',
      immediate: true
    }
  },
  created() {
    this.fetchArticle()
    this.fetchBlogTags()
  },
  methods: {
    handleDateDefault() {
      if (!this.blogData.date) {
        this.blogData.date = this.formDate(this.nowDate)
      }
    },
    formDate(date) {
      return this.$options.filters.parseTime(date, '{y}-{m}-{d}')
    },
    createArticle() {
      const data = this.blogData
      fetchBlogArticleCreate(data).then(res => {
        console.log('SUCCESS', res)
        this.$alert(' ', 'Пост успешно создан!', {
          confirmButtonText: 'OK',
          callback: () => this.$router.push({ name: 'editArticle', params: { id: res.post_id }})
        })
      })
    },
    submitArticle() {
      const id = this.blogID
      const data = this.blogData
      fetchBlogArticleUpdate(id, data).then(res => {
        console.log('SUCCESS', res)
        this.$alert(' ', 'Пост успешно создан!', {
          confirmButtonText: 'OK'
        })
      })
    },
    fetchArticle() {
      if (!this.blogID) return false

      fetchBlogArticle(this.blogID).then(res => {
        this.blogData = res.data
      })
    },
    fetchBlogTags() {
      fetchBlogTags().then(res => {
        this.tagsList = res.data.filter(tag => +tag.id === 5)[0].tags.map(tag => {
          return {
            title: tag.title,
            value: tag.id
          }
        })
      })
    },
    successUploadBlogImg(res, file) {
      this.blogData.img.main = res.img_main_url
    },
    removeBlogImg(file) {
      this.blogData.img.main = null
      fetchRemoveBlogArticleMainImg(this.blogID)
    },
    successUploadBlogPreview(res, file) {
      this.blogData.img.preview = res.img_prev_url
    },
    removeBlogPreviewImg(file) {
      this.blogData.img.preview = null
      const id = this.blogData.img.id
      fetchRemoveBlogArticlePreviewImg(id)
    }
  }
}
</script>

<style lang="scss">
    //single blog page start:
</style>
