<template>
  <div>
    <div class="prod_carousel_wrap">
      <!--<div-->
      <!--v-viewer-->
      <!--class="main_img_wrap"-->
      <!--&gt;-->
      <div class="main_img_wrap" @click="imagecropperShow=true">
        <picture>
          <!--if image set:-->
          <source
            :srcset="main_img.src"
            media="all"
            alt="carousel product image"
            class="main_img"
          >
          <!--else:-->
          <img
            v-if="!main_img"
            src="https://via.placeholder.com/250"
            alt="product image"
          >
          <img
            v-else
            :src="main_img.src"
            alt="product"
          >
        </picture>
        <div
          v-for="item in view_gallery"
          :key="item.id"
          class="d-none"
        >
          <img
            :src="item.src"
            alt="carousel image"
            class="main_img"
          >
        </div>
      </div>
      <div
        ref="wrap"
        class="img_subcarousel"
      >

        <div
          class="prod_carousel_nav l_nav"
          @click="slide_prev($event)"
        >
          <svg
            aria-hidden="true"
            data-icon="chevron-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="#999999"
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
            />
          </svg>
        </div>

        <div
          class="prod_carousel_nav r_nav"
          @click="slide_next($event)"
        >
          <svg
            aria-hidden="true"
            data-icon="chevron-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="#999999"
              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
            />
          </svg>
        </div>
        <div
          v-show="images.length > 1"
          ref="inner_wrap"
          class="img_subcarousel_inner"
        >
          <div
            v-for="item in images"
            :key="item.id"
            class="thumb_item"
          >
            <div class="remove_btn_wrap position-relative">
              <div class="remove_btn" />
            </div>
            <img
              ref="img"
              :src="item.src"
              alt="carousel thumb image"
              class="main_img"
              @load="img_load"
              @click="setImage(item, $event)"
            >
          </div>
        </div>
      </div>
    </div>

    <image-cropper
      v-show="imagecropperShow"
      :key="imagecropperKey"
      :width="300"
      :height="300"
      url="https://httpbin.org/post"
      lang-type="en"
      @close="close"
      @crop-upload-success="cropSuccess"
    />
  </div>
</template>

<script>
// component need Array data format - props used

import ImageCropper from '@/components/ImageCropper'

export default {
  components: {
    ImageCropper
  },
  props: {
    imgObj: {
      type: Object,
      default() {
        return {
          main_img: null,
          other: []
        }
      }
    }
  },
  data() {
    return {
      imagecropperShow: false,
      imagecropperKey: 0,
      main_img: null
    }
  },
  computed: {
    images() {
      const allImages = this.imgObj.other
      allImages.unshift(this.imgObj.main_img)
      return allImages
    },
    view_gallery() {
      return this.images.filter(item => item.id !== this.main_img.id)
    }
  },
  created() {
    if (this.images.length) {
      this.main_img = this.images[0]
    }
  },
  mounted() {
    this.initSlide()
    window.addEventListener('resize', this.initSlide)
    window.addEventListener('resize', this.img_load)
  },
  methods: {
    cropSuccess(resData) {
      this.imagecropperShow = false
      this.imagecropperKey = this.imagecropperKey + 1
      this.image = resData.files.avatar
    },
    close() {
      this.imagecropperShow = false
    },
    initSlide() {
      // calculate width of thumbs:
      const wrap_width = this.$refs.wrap.clientWidth || 600
      const thumb_width = wrap_width / 3
      const inner_wrap_width = thumb_width * this.images.length

      console.log(this.$refs.wrap.clientWidth)
      this.$refs.inner_wrap.style.width = inner_wrap_width + 'px'
    },
    setImage(imgObj, event) {
      const active_thumb = document.querySelector('.thumb_item.active')
      if (active_thumb) {
        active_thumb.classList.remove('active')
      }
      event.currentTarget.classList.add('active')

      this.main_img = imgObj

      // catch first and last items to slide carousel nicely
      const thumbs = document.querySelectorAll('.prod_carousel_wrap .thumb_item')
      let active_idx = null

      thumbs.forEach(function(item, idx) {
        if (item.classList.contains('active')) {
          active_idx = idx
          return
        }
      })
      if (active_idx === 0) {
        return
      } else if (active_idx === thumbs.length - 1) {
        return
      }
      // end catch

      // slide wrapper to show new thumbs
      const offsetLeft = event.target.offsetLeft
      // offsetLeft - отступы - ширина одного элемента, чтобы попасть в центр контейнера активным
      const slideTotal = offsetLeft - 35 - event.target.clientWidth
      const thumb_wrapper = event.target.closest('.img_subcarousel_inner')

      thumb_wrapper.style.left = -slideTotal + 'px'
      // end slide
    },
    slide_prev(evt) {
      const slide_width = evt.currentTarget.closest('.img_subcarousel').clientWidth
      const thumb_wrapper = evt.currentTarget.closest('.prod_carousel_wrap').querySelector('.img_subcarousel_inner')
      let newOffsideLeft = thumb_wrapper.offsetLeft + slide_width
      if (newOffsideLeft > 0) {
        newOffsideLeft = 0
      }
      thumb_wrapper.style.left = -newOffsideLeft + 'px'
    },
    slide_next(evt) {
      const slide_width = evt.currentTarget.closest('.img_subcarousel').clientWidth
      const thumb_wrapper = evt.currentTarget.closest('.prod_carousel_wrap').querySelector('.img_subcarousel_inner')
      const wrap_width = thumb_wrapper.clientWidth
      let newOffsideLeft = thumb_wrapper.offsetLeft - slide_width + 10
      if (newOffsideLeft <= slide_width - wrap_width) {
        newOffsideLeft = -(wrap_width - slide_width - 10)
      }
      thumb_wrapper.style.left = newOffsideLeft + 'px'
    },
    img_load() {
      if (this.$refs.inner_wrap) {
        const thumbs_height = this.$refs.inner_wrap.clientHeight
        this.$refs.wrap.style.height = thumbs_height + 'px'
      }
      this.initSlide()
    }
  }
}
</script>

<style lang="scss">
  $bg_dark: #000;
  %transition {
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
  }

  img {
    max-width: 100%;
  }
  .d-none {
    display: none;
  }

    .main_img_wrap {
        cursor: pointer;
    }

    .prod_carousel_wrap {
        display: flex;
        flex-direction: column;
        max-width: 600px;

        .img_subcarousel {
            position: relative;
            overflow: hidden;
            width: 100%;

            .img_subcarousel_inner {
                position: absolute;
                display: flex;
                flex-wrap: nowrap;
                /*justify-content: space-between;*/
                margin-top: 15px;
                padding-left: 5px;
                padding-right: 15px;
                min-width: 100%;
                left: 0;

                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -ms-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
            }

            .prod_carousel_nav {
                position: absolute;
                width: 10px;
                display: flex;
                align-items: center;
                top: 0;
                bottom: 0;
                margin-top: 15px;
                z-index: 10;
                cursor: pointer;

                svg {
                    width: 10px;
                    height: auto;
                }
                path {
                    @extend %transition;
                }
                &:hover {
                    path {
                        fill: $bg_dark
                    }
                }
                &.l_nav {
                    left: 0;
                    svg {
                        transform: rotate(180deg)
                    }
                }
                &.r_nav {
                    right: 0;
                }
            }

            .thumb_item {
                flex: 0 1 31%;
                margin-left: 10px;
                margin-right: 10px;
                cursor: pointer;

              /*.remove_btn_wrap {*/
                /*height: 0;*/
                /*overflow: visible;*/
                /*position: relative;*/
              /*}*/
              .remove_btn {
                /*position: absolute;*/
                /*z-index: 10;*/

                /*top: 4px;*/
                /*right: 4px;*/
                /*width: 16px;*/
                /*height: 16px;*/
                /*background: #000;*/

                /*mask: url(./../../assets/SVG/close.svg) center no-repeat;*/
                /*mask-size: contain;*/
              }
            }
        }
    }
</style>
