<template>
  <div class="app-container">
    <h1>История продаж</h1>
    <el-form>

      <el-form-item>
        <div class="row align-items-center">

          <div class="dateRange ol-md-6 col-lg-3 mb-4">
            <div class="dateRangeTitle">Период</div>
            <el-date-picker
              v-model="filter['date']"
              type="daterange"
              value-format="yyyy-MM-dd"
              range-separator="|"
              start-placeholder="От"
              end-placeholder="До"
            />
          </div>

          <md-input
            v-for="field in filterData"
            :key="field.id"
            v-model="filter[field.name]"
            :field-type="field.fieldType"
            :options="field.options"
            :name="field.title"
            :required="field.required"
            :type="field.type"
            :mask="field.mask"
            :minlength="field.min"
            :placeholder="field.placeholder"
            class="col-md-6 col-lg-3 mb-4 inpit_elem"
          >
            {{ field.title }}
          </md-input>
          <client-filter
            class="col-md-6 col-lg-3 mb-4 inpit_elem"
            @change="filter['client'] = $event"
          />
        </div>
      </el-form-item>

      <el-button
        class="filter-item"
        type="primary"
        @click.prevent="submit"
      >Отфильтровать</el-button>
    </el-form>

    <div class="row">
      <div class="col-md-6">
        <h2>Статистика по магазинам</h2>
        <el-table :data="storesStatictic" border fit highlight-current-row style="width: 100%">
          <el-table-column align="center" label="Магазин">
            <template slot-scope="id">
              <span>{{ id.row.store }}</span>
            </template>
          </el-table-column>

          <el-table-column align="center" label="Сумма">
            <template slot-scope="id">
              <span>{{ id.row.total }}</span>
            </template>
          </el-table-column>

        </el-table>
      </div>

      <div class="col-md-6">
        <h2>Статистика по менеджерам</h2>
        <el-table :data="managersStatictic" border fit highlight-current-row style="width: 100%">
          <el-table-column align="center" label="Менеджер">
            <template slot-scope="id">
              <span>{{ id.row.name }}</span>
            </template>
          </el-table-column>
          -
          <el-table-column align="center" label="Сумма">
            <template slot-scope="id">
              <span>{{ id.row.total }}</span>
            </template>
          </el-table-column>

        </el-table>
      </div>

      <el-table v-if="orderHistory" v-loading="listLoading" :data="orderHistory" border fit highlight-current-row style="width: 100%;margin-top: 30px;">

        <el-table-column label="Card id">
          <template slot-scope="scope">
            <span>{{ scope.row.card_id }}</span>
          </template>
        </el-table-column>

        <el-table-column label="Скидка %">
          <template slot-scope="scope">
            <span>{{ scope.row.sale }} %</span>
          </template>
        </el-table-column>

        <el-table-column label="Cashback">
          <template slot-scope="scope">
            <span>{{ scope.row.cashback }} BYN</span>
          </template>
        </el-table-column>

        <el-table-column label="Покупка">
          <template slot-scope="scope">
            <div v-for="(prod, idx) in scope.row.order_products" :key="idx">
              <div>{{ prod.title }}</div>
            </div>
          </template>
        </el-table-column>

        <el-table-column class-name="status-col" label="Размер">
          <template slot-scope="scope">
            <div v-for="(prod, idx) in scope.row.order_products" :key="idx">
              <div>{{ prod.size }}</div>
            </div>
          </template>
        </el-table-column>

        <el-table-column class-name="status-col" label="Сумма">
          <template slot-scope="scope">
            <span>{{ scope.row.total }} BYN</span>
          </template>
        </el-table-column>

        <el-table-column class-name="status-col" label="Дата покупки">
          <template slot-scope="scope">
            <!--todo date format-->
            <span>{{ scope.row.date }}</span>
          </template>
        </el-table-column>

        <el-table-column class-name="status-col" label="Менеджер">
          <template slot-scope="scope">
            <span>{{ scope.row.manager }}</span>
          </template>
        </el-table-column>

        <el-table-column class-name="status-col" label="Магазин">
          <template slot-scope="scope">
            <span>{{ scope.row.shop }}</span>
          </template>
        </el-table-column>

        <el-table-column class-name="status-col" label="Смотреть покупку">
          <template slot-scope="scope">
            <router-link :to="{name: 'purchase_history', params:{'itemID': scope.row.id, 'userID': $route.params.id}}" class="main_btn">Смотреть покупку</router-link>
          </template>
        </el-table-column>

      </el-table>

    </div>

  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import clientFilter from '@/components/MDinput/clientFilter'
import { userDataMixin } from '@/mixins/custom_mixin'
import { fetchCategoriesList } from '@/api/categories'
import { fetchShops } from '@/api/shops'
import { fetchColors } from '@/api/colors'
import { fetchAllSizes } from '@/api/sizes'
import { fetchClientsList } from '@/api/my_client_list'
// import { fetchOrderHistory } from '@/api/orders'
import { fetchFinances } from '@/api/finance'

export default {
  components: {
    MdInput,
    clientFilter
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      orderHistory: null,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 20,
        filters: null,
        sort: '+id'
      },
      filter: {
        client: null
      },
      shops: null,
      colors: null,
      sizes: null,
      categories: [],
      value1: '',
      value2: '',
      selectParams: {
        shop: null
      },
      managersStatictic: [
        {
          id: 1,
          name: 'Вася Продаванов',
          total: 100000
        },
        {
          id: 2,
          name: 'Петя Трудоголинов',
          total: 235000
        }
      ],
      storesStatictic: [
        {
          id: 1,
          store: 'Немига',
          total: 250000
        },
        {
          id: 2,
          store: 'Силуэт',
          total: 155000
        }
      ]
    }
  },
  computed: {
    filterData() {
      return [
        {
          id: 3,
          fieldType: 'select',
          name: 'shops',
          options: this.shops,
          title: 'Магазин',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'select',
          name: 'manager',
          options: null,
          title: 'Менеджер',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'select',
          name: 'category',
          options: this.categories,
          title: 'Категория',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 6,
          fieldType: 'text',
          name: 'articul',
          title: 'Артикул',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 7,
          fieldType: 'select',
          name: 'color',
          options: this.colors,
          title: 'Цвет',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 8,
          fieldType: 'select',
          name: 'size',
          options: this.arrToSelectFormat(this.sizes),
          title: 'Размер',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    },
    inputClients() {
      if (!this.clients) {
        return null
      }
      return this.clients.slice(1).map(client => {
        return {
          value: client.id,
          title: client.name + ' ' + client.surname
        }
      })
    }
  },
  created() {
    this.getShops()
    this.getClients()
    this.getCategories()
    this.getColors()
    this.getSizes()
    this.getHistory()
  },
  methods: {
    getHistory() {
      this.listLoading = true
      fetchFinances().then(res => {
        this.orderHistory = res.data
        this.listLoading = false
      })
    },
    submit() {
      const query = this.listQuery
      query.filters = this.filter
      fetchFinances(query).then(res => {
        console.log(res)
      })
      console.log(this.filter)
    },
    getSizes() {
      fetchAllSizes().then(res => {
        this.hanleSizesObj(res)
      })
    },
    getColors() {
      fetchColors().then(res => {
        this.colors = res.data.map(color => {
          return {
            value: color.id,
            title: color.title
          }
        })
      })
    },
    getCategories() {
      fetchCategoriesList().then(res => {
        this.categories = res.data.map(cat => {
          return {
            value: cat.id,
            title: cat.title
          }
        })
      })
    },
    getShops() {
      fetchShops().then(res => {
        this.shops = res.data.slice(1).map(shop => {
          return {
            value: shop.id,
            title: shop.title
          }
        })
      })
    },
    getClients() {
      fetchClientsList(this.listQuery).then(res => {
        this.clients = res.data.items
      })
    }
  }
}
</script>

<style lang="scss" scoped>
    .dateRangeTitle {
        margin-bottom: 10px;
        margin-top: -4px !important;
        font-weight: 600;
        color: #9e9e9e;
    }
</style>
