<template>
  <div class="app-container">

    <div class="row">
      <div class="col-12">
        <h1>Редактировать пользователя</h1>

        <el-form>
          <el-form-item>
            <div class="row">

              <md-input
                v-for="field in userData"
                :key="field.id"
                v-model="inputsData[field.name]"
                :field-type="field.fieldType"
                :options="field.options"
                :name="field.title"
                :required="field.required"
                :type="field.type"
                :mask="field.mask"
                :minlength="field.min"
                :placeholder="field.placeholder"
                :multiple="field.multiple"
                class="col-md-6 col-lg-3 mb-4"
              >
                {{ field.title }}
              </md-input>

              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                <button class="pan-btn blue-btn mt-auto" type="primary">Сохранить</button>
              </div>
            </div>
          </el-form-item>
        </el-form>

      </div>
    </div>
  </div>
</template>

<script>
import MdInput from '@/components/MDinput'
import { userDataMixin } from '@/mixins/custom_mixin'

export default {
  components: {
    MdInput
  },
  mixins: [
    userDataMixin
  ],
  data() {
    return {
      inputsData: {
        login: null,
        email: null,
        password: null,
        passwordRepeat: null,
        role: []
      }
    }
  },
  computed: {
    userData() {
      return [
        {
          id: 1,
          fieldType: 'input',
          type: 'text',
          name: 'login',
          title: 'Логин',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 2,
          fieldType: 'input',
          type: 'email',
          name: 'email',
          title: 'E-mail',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 3,
          fieldType: 'input',
          type: 'password',
          name: 'password',
          title: 'Пароль',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 4,
          fieldType: 'input',
          type: 'password',
          name: 'passwordRepeat',
          title: 'Повторите пароль',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        },
        {
          id: 5,
          fieldType: 'select',
          name: 'role',
          options: this.arrToSelectFormat(['Администратор', 'SEO', 'Менеджер']),
          title: 'Роль',
          required: false,
          minLength: 1,
          mask: '',
          placeholder: ''
        }
      ]
    }
  }
}
</script>

<style lang="scss" scope>
    .add_btn {
        display: flex;
        align-items: flex-end;
    }
</style>
