<template>
  <div class="app-container">

    <div class="row">
      <div class="col-12">
        <h1>Пользователи</h1>

        <div class="add_btn_wrp">
          <router-link
            :to="{name: 'addUser'}"
            class="main_btn"
          >Добавить
          </router-link>
        </div>

        <el-table :data="users" border fit highlight-current-row style="width: 100%">

          <el-table-column align="center" label="Пользователь">
            <template slot-scope="scope">
              <span>{{ scope.row.login }}</span>
            </template>
          </el-table-column>

          <el-table-column align="center" label="E-mail">
            <template slot-scope="scope">
              <span>{{ scope.row.email }}</span>
            </template>
          </el-table-column>

          <el-table-column align="center" label="Последняя активность">
            <template slot-scope="scope">
              <span>{{ scope.row.lastActivity }}</span>
            </template>
          </el-table-column>

          <el-table-column align="center" label="Активирован/отключен">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.isActive" />
            </template>
          </el-table-column>

          <el-table-column align="center" label="">
            <template slot-scope="scope">
              <router-link :to="{name: 'editUser', params: {id: scope.row.id}}" class="main_btn">Редактировать</router-link>
            </template>
          </el-table-column>

          <el-table-column align="center" label="">
            <div
              class="main_btn"
            >Удалить
            </div>
          </el-table-column>

        </el-table>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: [
        {
          id: 1,
          login: 'admin',
          email: 'admin@ad.min',
          password: 'md5',
          role: ['admin', 'editor'],
          lastActivity: '2019-08-29 03:00:00',
          isActive: true
        },
        {
          id: 2,
          login: 'seo',
          email: 'admin@ad.min',
          password: 'md5',
          role: ['seo'],
          lastActivity: '2019-07-29 03:00:00',
          isActive: false
        },
        {
          id: 3,
          login: 'manager',
          email: 'admin@ad.min',
          password: 'md5',
          role: ['admin', 'manager'],
          lastActivity: '2019-08-27 03:00:00',
          isActive: true
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
    .add_btn_wrp {
        text-align: right;
        margin: 20px 0;
    }
</style>
